[2018-06-22 18:24] 0crat commented on #127
@amihaiemil The job [#127](https://github.com/amihaiemil/docker-java-api/issues/127) is now out of scope

[2018-06-23 07:36] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-06-26 12:36] 0crat commented on #142
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-28 08:38] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-07-03 10:39] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-07-08 11:37] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-07-10 11:13] thomas-melville commented on #85
Hi @amihaiemil,
I am interested in implementing the "docker save" command.
Shall I open a new issue or link the PR to this issue?

[2018-07-10 11:23] amihaiemil commented on #85
Hi @thomas-melville

I imagine the API equivalent of ``docker save`` is [Images#Export](https://docs.docker.com/engine/api/v1.30/#operation/ImageGet), right?

If so, please open another issue and we will discuss there. Do not make a PR yet, please, as I want to make sure you understand how we work first :D

[2018-07-10 11:30] amihaiemil opened #143 "Add method docker()"
``Images``, ``Image`` etc should have the ``docker()`` method which would return the Docker engine to which they belong.

[2018-07-10 11:49] thomas-melville opened #144 "Add save/export functionality to the API"
Hi,

I would like to update the API to include the functionality to save/export several images to a tar ball
https://docs.docker.com/engine/api/v1.30/#operation/ImageGetAll

[2018-07-10 11:49] 0crat commented on #144
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-07-10 11:49] 0crat commented on #144
@thomas-melville[/z](https://www.0crat.com/u/thomas-melville) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-10 11:50] thomas-melville commented on #85
Hi @amiahiemil

Done, https://github.com/amihaiemil/docker-java-api/issues/144

[2018-07-10 13:00] thomas-melville commented on #144
@amihaiemil no, not yet. I will read them and read through the code.

Yes, I agree that the InputStream should be returned and the user handle it however they like, just like the command line.
Yes I see, through encapsulation of the iteration.
Sounds good.

[2018-07-10 13:19] amihaiemil commented on #144
@thomas-melville I will start with this functionality as it will involve some redesign of the code (I imagine ``RtImages`` will become abstract, for instance). I'll do it this week sometime, when I find some free slot for it. Then, when the design is clear, you can proceed with the rest.

Keep in mind that PRs to this repo should be small (ideally, 30min of work tops). We are using xdsd.org and [P

[2018-07-12 10:47] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.6](https://github.com/zerocracy/farm): Issue: amihaiemil/docker-java-api#143, Action: `assigned`

[2018-07-13 09:25] amihaiemil opened #146 "Release 0.0.2"
Let's release version ``0.0.2``. New stuff:

* ``Container :: Image.run`` -- will create and start the Contaner, then return it to the client.
* ``.docker() mehods`` -- convenience methods to access the Docker engine to which the ``Image``, ``Container`` belongs.
* ``Container.logs()`` -- fetching a container's logs.

[2018-07-13 09:30] rultor commented on #146
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15346-404779131) (spent 3min)

[code]

[2018-07-13 09:39] 0crat commented on #143
The job is not in WBS, won't close the order

[2018-07-13 09:39] 0crat commented on #143
Job `gh:amihaiemil/docker-java-api#143` is not assigned, can't get performer

[2018-07-13 09:42] amihaiemil commented on #146
@rultor try to release again, tag is `0.0.2`

[2018-07-13 09:42] rultor commented on #146
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15346-404783044)

[2018-07-13 09:50] rultor commented on #146
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/15346-404783044) (took me 8min)

[2018-07-13 09:59] #146 closed

[2018-07-13 10:14] 0crat commented on #146
The job is not in WBS, won't close the order

[2018-07-13 10:14] 0crat commented on #146
Job `gh:amihaiemil/docker-java-api#146` is not assigned, can't get performer

[2018-07-13 12:36] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-07-15 17:37] 0crat commented on #144
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-18 13:37] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-07-21 16:44] amihaiemil commented on #144
@0crat wait

[2018-07-21 16:44] 0crat commented on #144
@amihaiemil The impediment for [#144](https://github.com/amihaiemil/docker-java-api/issues/144) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-23 14:39] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-07-27 14:45] rwmajor2 opened #147 "How to create a RemoteDocker object?"
I am using IntelliJ and created a simple mvn Java app.  I have the following code.  However, it is giving me an error that RemoteDocker is not public and I can't use it.  Any thoughts on how to make this work?  I am just testing right now.

[code]

[2018-07-27 14:45] 0crat commented on #147
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-07-27 14:45] 0crat commented on #147
@rwmajor2[/z](https://www.0crat.com/u/rwmajor2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-27 16:55] amihaiemil commented on #147
@rwmajor2 Hello, thanks for the ticket.

``RemoteDocker`` is not yet public because it hasn't been properly tested yet (I still have to figure out how to do this on Travis). It should work just as fine as ``LocalDocker`` since they use the same classes, it's just a matter of (secure) connection.

As you can [see](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemi

[2018-07-27 16:59] amihaiemil commented on #147
@rwmajor2 I forgot to mention: in order to try to use ``RemoteDocker`` you have to fork the repo and make the build yourself. Just ``mvn clean install`` should do the trick with no problems.

[2018-07-28 15:38] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-08-02 16:40] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-08-07 17:37] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-08-12 18:44] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-08-14 12:24] amihaiemil opened #149 "Release 0.0.3"
Let's release ``0.0.3``, RemoteDocker is now usable by passing an HttpClient.

[2018-08-14 12:26] rultor commented on #149
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15688-412853859)

[2018-08-14 12:34] rultor commented on #149
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/15688-412853859) (took me 8min)

[2018-08-14 12:36] #149 closed

[2018-08-14 12:38] amihaiemil commented on #147
@rwmajor2 FYI, I just released version ``0.0.3``. RemoteDocker is now public and can be instantiated if you pass it your own ``HttpClient``.

I figured, in the early stages, we should let the users configure their own clients and not assume Docker's place in the network and things such as authentication mechanisms.

[2018-08-14 12:38] #147 closed

[2018-08-14 12:53] 0crat commented on #149
Job `gh:amihaiemil/docker-java-api#149` is not assigned, can't get performer

[2018-08-14 12:53] 0crat commented on #149
The job is not in WBS, won't close the order

[2018-08-14 12:55] 0crat commented on #147
Job `gh:amihaiemil/docker-java-api#147` is not assigned, can't get performer

[2018-08-14 12:55] 0crat commented on #147
The job is not in WBS, won't close the order

[2018-08-17 14:48] rwmajor2 opened #150 "Appears inspect() is putting an extra set of double quotes around strings (?)"
When I inspect an Image, looking for a repo, it appears it has an extra set of double quotes in the actual string:

![image](https://user-images.githubusercontent.com/3799165/44272519-15454000-a20b-11e8-8096-874ec513137f.png)

[2018-08-17 14:49] 0crat commented on #150
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-08-17 14:49] 0crat commented on #150
@rwmajor2[/z](https://www.0crat.com/u/rwmajor2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-17 15:38] amihaiemil commented on #150
@rwmajor2 That is most likely a trick played by the IDE, or maybe the String comes like that from Docker? We certainly don't add any quotes of our own.

``RtImage.inspect()`` returns an ``Inspection``, which is a JsonObject (spec. compliant) -- Inspection, on the other hand, fetches the Json from the API and uses class [ReadJsonObject](https://github.com/amihaiemil/docker-java-api/blob/master/src/

[2018-08-17 19:40] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-08-18 09:57] amihaiemil commented on #150
@rwmajor2 I will close this, as I there is nothing to do about it.

If you the strings are indeed double-quoted, try changing the JSON-P provider (although I tried both glassfish and redhat and never had this problem). But, again, I think it's just a display problem in the IDE :)

[2018-08-18 09:57] #150 closed

[2018-08-18 10:13] 0crat commented on #150
The job is not in WBS, won't close the order

[2018-08-18 10:14] 0crat commented on #150
Job `gh:amihaiemil/docker-java-api#150` is not assigned, can't get performer

[2018-08-19 09:39] amihaiemil commented on #130
@0crat footprint

[2018-08-19 09:48] 0crat commented on #130
@amihaiemil Can't understand "footprint", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from

[2018-08-19 09:51] amihaiemil commented on #130
@0crat status

[2018-08-19 10:01] 0crat commented on #130
@amihaiemil This is what I know about this job in G6LPQQV2P, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#130](https://github.com/amihaiemil/docker-java-api/issues/130) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/G6LPQQV2P?q=%7Bjob%3A%27gh%3Aamihaiemil%2Fdocker-java-api%23130%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-08-22 08:15] 0crat commented on #51
You @charlesmike[/z](https://www.0crat.com/u/charlesmike) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2018-08-22 08:20] 0crat commented on #51
@charlesmike[/z](https://www.0crat.com/u/charlesmike) I see that you unassigned this issue; the order is still assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-08-22 20:44] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-08-23 12:53] amihaiemil commented on #144
@thomas-melville I started with the redesigned and left puzzles for continuing implementation, including that ``save()`` method.

Again, ``save()``, should work on any given implementation of ``Images``, be it listed, searched, filtered, double-filtered or maybe even the history of an ``Image`` (which will also be an instance of ``Images``, I think)

[2018-08-23 12:53] #144 closed

[2018-08-23 13:15] 0crat commented on #144
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-23 13:15] 0crat commented on #144
The job [#144](https://github.com/amihaiemil/docker-java-api/issues/144) is now out of scope

[2018-08-23 13:37] amihaiemil opened #152 "Add Images.save()"
This method should save the given ``Images`` into a tarball and return the ``InputStream``. See [puzzle](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/Images.java#L46)

[2018-08-23 13:40] amihaiemil opened #153 "Add Images.filter(...)"
See [puzzle](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/Images.java#L39)

[2018-08-23 13:40] amihaiemil opened #154 "Continue filtering in ListedImages"
See [puzzle](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/ListedImages.java#L38).

[2018-08-23 13:55] 0crat commented on #154
Job [#154](https://github.com/amihaiemil/docker-java-api/issues/154) is now in scope, role is `DEV`

[2018-08-23 13:55] 0crat commented on #153
Job [#153](https://github.com/amihaiemil/docker-java-api/issues/153) is now in scope, role is `DEV`

[2018-08-23 13:58] 0crat commented on #152
Job [#152](https://github.com/amihaiemil/docker-java-api/issues/152) is now in scope, role is `DEV`

[2018-08-23 14:00] 0crat commented on #154
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-23 14:02] 0crat commented on #153
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-23 14:02] 0crat commented on #152
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-23 16:10] thomas-melville commented on #144
Thanks @amihaiemil

[2018-08-26 08:44] #152 closed

[2018-08-26 09:01] 0crat commented on #152
Job `gh:amihaiemil/docker-java-api#152` is not assigned, can't get performer

[2018-08-26 09:02] 0crat commented on #152
The job [#152](https://github.com/amihaiemil/docker-java-api/issues/152) is now out of scope

[2018-08-26 09:12] amihaiemil opened #156 "Fake Images/Image"
Implement these fakes for unit testing

[2018-08-26 09:13] 0crat commented on #156
The job [#156](https://github.com/amihaiemil/docker-java-api/issues/156) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/2380913217); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-08-26 09:15] 0crat commented on #156
Job `gh:amihaiemil/docker-java-api#156` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-08-31 07:44] 0crat commented on #85
The job [#85](https://github.com/amihaiemil/docker-java-api/issues/85) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/2430744125); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-31 09:59] 0crat commented on #156
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-03 11:07] amihaiemil commented on #156
@0crat waiting

[2018-09-03 11:08] 0crat commented on #156
@amihaiemil The impediment for [#156](https://github.com/amihaiemil/docker-java-api/issues/156) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-09-04 18:44] 0crat commented on #154
The job [#154](https://github.com/amihaiemil/docker-java-api/issues/154) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/2471844556); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-09-05 10:50] 0crat commented on #153
The job [#153](https://github.com/amihaiemil/docker-java-api/issues/153) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/2481052540); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-09-09 19:44] 0crat commented on #154
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-10 11:44] 0crat commented on #153
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-11 18:28] llorllale commented on #85
@0crat wait because I submitted PR #157 for this

[2018-09-11 18:29] 0crat commented on #85
@llorllale The impediment for [#85](https://github.com/amihaiemil/docker-java-api/issues/85) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-09-13 11:56] amihaiemil commented on #85
@0crat boost 4x

[2018-09-13 11:57] 0crat commented on #85
@amihaiemil Boost 4x was set for [#85](https://github.com/amihaiemil/docker-java-api/issues/85)

[2018-09-13 12:01] 0crat commented on #85
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-09-13 12:01] amihaiemil commented on #154
@llorllale Yes, pretty much... I looked over this once, a few weeks ago, and I think I came to the conclusion one of these tasks is obsolete. Could you refuse it until I figure it out? These days I am also rather busy and do not have as much time for OSS :(

[2018-09-14 14:37] rwmajor2 opened #158 "License question"
Hi @amihaiemil.  I have a question.  We are thinking about using this API for a product I am building and you will see me become active with some PRs.  :)

My question relates to the BSD-3 license and my lack of understanding in this area.  If I wanted to incorporate this into my Java project, am I supposed to keep the `com.amihaiemil.docker` package name and use it as a separate dependency?  Or c

[2018-09-14 14:37] 0crat commented on #158
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-09-14 14:37] 0crat commented on #158
@rwmajor2[/z](https://www.0crat.com/u/rwmajor2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-14 18:33] rwmajor2 commented on #158
@amihaiemil Awesome.  Thanks for the clarification.  I will likely keep it as a separate project so I can easily submit PRs back.  But, IF I wanted to bring it into my own Java project (and package names), then nothing prevents that from a license perspective as long as I keep your header comments.  Corr

[2018-09-14 18:34] amihaiemil commented on #158
@rwmajor2 Sure, there is no problem from the Licence's point of view, as long as you keep the header comments. :)

[2018-09-14 18:39] amihaiemil commented on #158
@rwmajor2 About PRs, a few points:

1. Before making a PR, open an Issue about the bug of feature requests you have in mind, so we can discuss.

2. Please make sure you and/or your colleagues understand this library's architecture before submitting any PR.

3. Small PRs, ideally maximum 5 changed files, including tests.

4. If you expect to rely on this library a lot (e,g, you expect to make many

[2018-09-14 18:43] rwmajor2 commented on #158
I appreciate your notes.  We are really planning to only use this API for < 10 Docker api calls so any PRs will focus around capability that hasn't been built in yet.

[2018-09-20 19:07] llorllale commented on #154
@amihaiemil do you think there is a more elegant way forward than just overloading the `Docker.images()` method?

[2018-09-21 07:08] amihaiemil commented on #154
@llorllale

I'm not sure what you mean by this :D
In this ticket we should add a Map of filters to the class ``ListedImages``. The class should remain immutable, only add filters via the ctor -- that is, from ``Image.filter(...)`` we will simply ``new ListedImages(..., modifiedMap);``. So actually this ticket and #153 are not the same thing.

I wanted to find a more elegant way since, like this, w

[2018-09-21 07:17] #85 closed

[2018-09-21 10:18] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-09-21 10:40] 0crat commented on #85
Order was finished: +60 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-09-21 10:40] 0crat commented on #85
The job [#85](https://github.com/amihaiemil/docker-java-api/issues/85) is now out of scope

[2018-09-21 19:16] llorllale commented on #154
@amihaiemil I see.

So you want the solution to look like:

[code]

.. instead of:

[code]

[2018-09-21 19:19] llorllale commented on #154
@amihaiemil I think your solution is semantically inconsistent.

I would expect `docker.images().filter(...)` to also be reflected on the `docker.images()` instance that I already possess. Kinda weird, don't you think?

[2018-09-22 07:02] amihaiemil commented on #154
@llorllale The initial ``Images`` you get from ``docker.images()`` basically contains all the images, with no filters applied. Then, if you want to apply some filters, you use ``Images.filter(...)``.

And, if you call ``.filter(...)`` multiple times, the final ``Images`` instance will indeed respect all of them. Passing the map of filters to the ``docker.images(...)`` method has 2 problems IMO:

1

[2018-09-26 07:47] amihaiemil commented on #158
@rwmajor2 If this topic is clear, I'll close this issue. Feel free to open others if there are more questions :D

[2018-09-26 07:47] #158 closed

[2018-09-26 08:15] 0crat commented on #158
Job `gh:amihaiemil/docker-java-api#158` is not assigned, can't get performer

[2018-09-26 08:17] 0crat commented on #158
This job is not in scope

[2018-09-26 15:10] llorllale commented on #154
@amihaiemil sure, it makes sense, it's just that it would've been nice if we could do

[code]

And have an implementation smart enough to not fetch all images from the docker registry and then filter them in-memory.

But ok, let's not dwell to much and go forward with this.

[2018-09-29 15:41] llorllale commented on #154
@0crat wait because I submitted PR #159 for this

[2018-09-29 15:49] 0crat commented on #154
@llorllale Job [#154](https://github.com/amihaiemil/docker-java-api/issues/154) is already on hold

[2018-10-03 07:51] amihaiemil commented on #154
@0crat boost 6x

[2018-10-03 08:11] 0crat commented on #154
@amihaiemil Boost 6x was set for [#154](https://github.com/amihaiemil/docker-java-api/issues/154)

[2018-10-03 08:46] #154 closed

[2018-10-03 08:59] 0crat commented on #154
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-03 11:05] 0crat commented on #154
Order was finished: +90 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-10-03 11:05] 0crat commented on #154
The job [#154](https://github.com/amihaiemil/docker-java-api/issues/154) is now out of scope

[2018-10-06 13:17] charlesmike commented on #51
@0crat sorry I do not understand you. See [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post for more details.

[2018-10-06 13:17] 0crat commented on #51
Are you speaking to me or about me [here](https://github.com/amihaiemil/docker-java-api/issues/51#issuecomment-427573053); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-10-10 01:45] llorllale commented on #153
@0crat wait because I submitted PR #160 for this

[2018-10-10 02:01] 0crat commented on #153
@llorllale The impediment for [#153](https://github.com/amihaiemil/docker-java-api/issues/153) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-10-15 06:56] amihaiemil commented on #153
@0crat boost 6x

[2018-10-15 07:04] 0crat commented on #153
@amihaiemil Boost 6x was set for [#153](https://github.com/amihaiemil/docker-java-api/issues/153)

[2018-10-15 07:09] #153 closed

[2018-10-15 07:17] 0crat commented on #153
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-15 07:43] 0crat commented on #153
The job [#153](https://github.com/amihaiemil/docker-java-api/issues/153) is now out of scope

[2018-10-15 07:43] 0crat commented on #153
Order was finished: +90 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-10-23 04:26] wem opened #161 "Option to show all containers, not only running ones"
First, very simple, small lib!
It would be nice to make it possible to query for all containers, not only the running one (with the "all" query param)

[2018-10-23 06:00] 0crat commented on #161
Thanks for your contribution, @wem[/z](https://www.0crat.com/u/wem)! If you would be a member of [the project](https://www.0crat.com/p/G6LPQQV2P), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-23 06:00] 0crat commented on #161
The job [#161](https://github.com/amihaiemil/docker-java-api/issues/161) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/5183b7c3-6d25-4e93-9d62-9ba338dd869b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2018-10-23 06:01] 0crat commented on #161
Job `gh:amihaiemil/docker-java-api#161` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-10-23 06:08] 0crat commented on #161
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-23 11:31] wem commented on #161
@amihaiemil Container.all() would be a nice solution!
I will think about to join this project

[2018-10-23 11:33] amihaiemil commented on #161
@wem thanks, I'm on it just now :)

[2018-10-23 11:35] amihaiemil commented on #156
Actually, this is not needed.

[2018-10-23 11:35] #156 closed

[2018-10-23 12:04] 0crat commented on #156
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-23 13:57] amihaiemil commented on #161
@rultor let's release it, tag is `0.0.4`

[2018-10-23 14:03] rultor commented on #161
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16305-432257748)

[2018-10-23 14:08] rultor commented on #161
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/16305-432257748) (took me 4min)

[2018-10-23 14:10] amihaiemil commented on #161
@wem Done, version ``0.0.4`` is released, you should already be able to pull it with maven (see README for updated coordinates).

Could you please close this Issue? I think the PM will complain if I do it :(

[2018-10-23 15:23] #161 closed, assigned to amihaiemil

[2018-10-23 15:45] 0crat commented on #161
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-23 15:49] 0crat commented on #161
The job [#161](https://github.com/amihaiemil/docker-java-api/issues/161) is now out of scope

[2018-10-23 15:51] 0crat commented on #161
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-24 04:23] daniel-shuy opened #163 "Depend on JSON-P API instead of Glassfish implementation"
Since you expect projects that depend on this library to provide a [JSON-P (JSR 374)](https://javaee.github.io/jsonp/index.html) implementation, your Maven POM should depend on the [JSON-P API](https://mvnrepository.com/artifact/javax.json/javax.json-api) instead of a specific implementation.

Even though the Glassfish implementation is the reference implementation, it may have some concrete imple

[2018-10-24 06:54] 0crat commented on #163
Thanks for your contribution, @daniel-shuy[/z](https://www.0crat.com/u/daniel-shuy)! If you would be a member of [the project](https://www.0crat.com/p/G6LPQQV2P), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-24 06:54] 0crat commented on #163
The job [#163](https://github.com/amihaiemil/docker-java-api/issues/163) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/704419a1-2c5e-4e5b-8c31-0c491389fb1c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2018-10-24 06:55] 0crat commented on #163
Job `gh:amihaiemil/docker-java-api#163` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-10-24 06:55] 0crat commented on #163
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-24 07:04] amihaiemil commented on #163
@daniel-shuy PR #164 has been merged. Can you please close this issue? If I do it, the PM will complain.

[2018-10-24 08:17] daniel-shuy commented on #163
Wow that was fast!

Wow that was fast! Yeah that's the right way to do it.

[2018-10-24 08:17] #163 closed

[2018-10-24 08:34] 0crat commented on #163
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-24 08:44] 0crat commented on #163
The job [#163](https://github.com/amihaiemil/docker-java-api/issues/163) is now out of scope

[2018-10-24 08:44] 0crat commented on #163
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-11-03 10:17] amihaiemil opened #165 "Expose the HttpClient"
``Docker`` should have the ``HttpClient :: httpClient()`` method to return the underlying Apache http client.

This is in order to provide some extensibility -- the user should be able to make raw HTTP calls to Docker's API in case the library does not yet provide the API method in question. This is especially important in the case of ``LocalDocker`` for which the HttpClient is quite hard to confi

[2018-11-03 10:18] 0crat commented on #165
The job [#165](https://github.com/amihaiemil/docker-java-api/issues/165) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/b7f695ee-5669-4972-9384-44fe8b3626df); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2018-11-03 13:27] amihaiemil opened #167 "Continue with Networks API"
Let's continue with the Networks. The API is described [here](https://docs.docker.com/engine/api/v1.37/#tag/Network).

See [contributing guidelines](https://github.com/amihaiemil/docker-java-api/blob/master/CONTRIBUTING.md). Also, [this](https://www.yegor256.com/2014/04/15/github-guidelines.html) might be helpful.

[2018-11-04 14:16] amihaiemil opened #168 "Continue with Exec API"
Let's continue with it. API is described [here](https://docs.docker.com/engine/api/v1.37/#tag/Exec)

[2018-11-04 14:20] amihaiemil opened #169 "Continue with Volumes API"
See API description [here](https://docs.docker.com/engine/api/v1.37/#tag/Volume).

See [contributing guidelines](https://github.com/amihaiemil/docker-java-api/blob/master/CONTRIBUTING.md). Also, [this](https://www.yegor256.com/2014/04/15/github-guidelines.html) might be helpful.

[2018-11-04 16:45] 0pdd opened #170 "Images.java:37-38: Continue implementing the rest of the..."
The puzzle `98-994768b7` from #98 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/Images.java#L37-L38

The puzzle was created by Mihai A on 15-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2018-11-04 16:45] 0pdd commented on #170
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:45] 0pdd opened #171 "Auth.java:34-36: Implement a new auth named 'Token' that..."
The puzzle `99-9320c256` from #99 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/Auth.java#L34-L36

The puzzle was created by rultor on 23-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2018-11-04 16:45] 0pdd commented on #171
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #172 "AuthHttpClient.java:45-46: Start decorating our internal..."
The puzzle `99-3f73ab5f` from #99 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/AuthHttpClient.java#L45-L46

The puzzle was created by rultor on 23-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2018-11-04 16:46] 0pdd commented on #172
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #173 "Networks.java:33-34: Implement Networks and Network..."
The puzzle `83-3eb2f332` from #83 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/Networks.java#L33-L34

The puzzle was created by George Aristy on 11-Sep-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-11-04 16:46] 0pdd commented on #173
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #174 "ReadJsonArray.java:39-40: Write some unit tests for this..."
The puzzle `84-f1c39634` from #84 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/ReadJsonArray.java#L39-L40

The puzzle was created by rultor on 27-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2018-11-04 16:46] 0pdd commented on #174
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #175 "Docker.java:35-36: Continue implementing the rest of the..."
The puzzle `85-90def642` from #85 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/Docker.java#L35-L36

The puzzle was created by George Aristy on 11-Sep-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2018-11-04 16:46] 0pdd commented on #175
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #176 "SslHttpClient.java:53-55: Add a plain HTTP client for..."
The puzzle `100-cc573336` from #100 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/SslHttpClient.java#L53-L55

The puzzle was created by Mihai A on 29-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-11-04 16:46] 0pdd commented on #176
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #177 "SslHttpClientTestCase.java:42-43: Add more tests for the..."
The puzzle `100-d6a25331` from #100 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/test/java/com/amihaiemil/docker/SslHttpClientTestCase.java#L42-L43

The puzzle was created by Mihai A on 29-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2018-11-04 16:46] 0pdd commented on #177
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #178 "RemoteDocker.java:39-41: Implement integration tests for..."
The puzzle `68-39eec482` from #68 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/RemoteDocker.java#L39-L41

The puzzle was created by rultor on 23-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2018-11-04 16:46] 0pdd commented on #178
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #179 "RtContainer.java:42-44: Continue implementing the rest of..."
The puzzle `97-657d9f49` from #97 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/RtContainer.java#L42-L44

The puzzle was created by amihaiemil on 10-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-11-04 16:46] 0pdd commented on #179
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0crat commented on #171
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:46] 0pdd opened #180 "RtContainer.java:45-47: Now that we have the CI..."
The puzzle `58-31e59a6b` from #58 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/RtContainer.java#L45-L47

The puzzle was created by amihaiemil on 15-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-11-04 16:46] 0pdd commented on #180
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #181 "JsonResource.java:43-48: Continue making other Json..."
The puzzle `114-bb7b9082` from #114 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/JsonResource.java#L43-L48

The puzzle was created by amihaiemil on 17-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2018-11-04 16:46] 0pdd commented on #181
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #182 "PayloadOf.java:41: Add tests for PayloadOf."
The puzzle `108-8ad4a268` from #108 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/PayloadOf.java#L41-L41

The puzzle was created by George Aristy on 31-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2018-11-04 16:46] 0pdd commented on #182
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #183 "RtLogs.java:43-46: Write some ITCase for the fetch()..."
The puzzle `130-0345812b` from #130 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/RtLogs.java#L43-L46

The puzzle was created by amihaiemil on 08-Jun-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2018-11-04 16:46] 0pdd commented on #183
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #184 "RtLogs.java:40-45: Continue implementing this class, take..."
The puzzle `135-7b38f89f` from #135 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/RtLogs.java#L40-L45

The puzzle was created by amihaiemil on 12-Jun-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2018-11-04 16:46] 0pdd commented on #184
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #185 "Images.java:44-47: Add Fake implementations of Images and..."
The puzzle `152-6918ce7a` from #152 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/Images.java#L44-L47

The puzzle was created by amihaiemil on 26-Aug-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2018-11-04 16:46] 0pdd commented on #185
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #186 "ListedImages.java:38-41: Finish implementation here, add..."
The puzzle `144-eb4c5380` from #144 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/main/java/com/amihaiemil/docker/ListedImages.java#L38-L41

The puzzle was created by amihaiemil on 26-Aug-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2018-11-04 16:46] 0pdd commented on #186
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0pdd opened #187 "RtImagesITCase.java:38: Add integration tests for filters."
The puzzle `153-ba83999e` from #153 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ab0d78ec783de53306d63a66dd459598d58dc8c4/src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L38-L38

The puzzle was created by Mihai A on 15-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and th

[2018-11-04 16:46] 0pdd commented on #187
@amihaiemil please pay attention to this new issue.

[2018-11-04 16:46] 0crat commented on #170
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:47] 0crat commented on #187
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:47] 0crat commented on #184
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:47] 0crat commented on #181
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:47] 0crat commented on #183
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:47] 0crat commented on #182
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:47] 0crat commented on #180
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:48] 0crat commented on #178
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:48] 0crat commented on #177
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:48] 0crat commented on #176
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:49] 0crat commented on #175
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:49] 0crat commented on #174
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:49] 0crat commented on #173
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:50] 0crat commented on #172
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:51] 0crat commented on #186
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:51] 0crat commented on #171
Job [#171](https://github.com/amihaiemil/docker-java-api/issues/171) is now in scope, role is `DEV`

[2018-11-04 16:52] 0crat commented on #185
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-04 16:56] 0crat commented on #170
Job [#170](https://github.com/amihaiemil/docker-java-api/issues/170) is now in scope, role is `DEV`

[2018-11-04 16:58] 0crat commented on #178
Job [#178](https://github.com/amihaiemil/docker-java-api/issues/178) is now in scope, role is `DEV`

[2018-11-04 16:58] 0crat commented on #180
Job [#180](https://github.com/amihaiemil/docker-java-api/issues/180) is now in scope, role is `DEV`

[2018-11-04 17:02] 0crat commented on #177
Job [#177](https://github.com/amihaiemil/docker-java-api/issues/177) is now in scope, role is `DEV`

[2018-11-04 17:02] 0crat commented on #176
Job [#176](https://github.com/amihaiemil/docker-java-api/issues/176) is now in scope, role is `DEV`

[2018-11-04 17:02] 0crat commented on #175
Job [#175](https://github.com/amihaiemil/docker-java-api/issues/175) is now in scope, role is `DEV`

[2018-11-04 17:02] 0crat commented on #174
Job [#174](https://github.com/amihaiemil/docker-java-api/issues/174) is now in scope, role is `DEV`

[2018-11-04 17:02] 0crat commented on #173
Job [#173](https://github.com/amihaiemil/docker-java-api/issues/173) is now in scope, role is `DEV`

[2018-11-04 17:02] 0crat commented on #172
Job [#172](https://github.com/amihaiemil/docker-java-api/issues/172) is now in scope, role is `DEV`

[2018-11-04 17:02] 0crat commented on #186
Job [#186](https://github.com/amihaiemil/docker-java-api/issues/186) is now in scope, role is `DEV`

[2018-11-04 17:09] 0crat commented on #171
The job [#171](https://github.com/amihaiemil/docker-java-api/issues/171) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/826bca7d-5dfd-4cee-998e-4ce2b9e72b17); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-04 17:10] 0crat commented on #170
The job [#170](https://github.com/amihaiemil/docker-java-api/issues/170) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/cba3641d-7f2f-4642-b7b7-1ca753554cce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-04 17:18] 0crat commented on #178
The job [#178](https://github.com/amihaiemil/docker-java-api/issues/178) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/0a4cb78d-a482-4fe1-8f18-4114cc586971); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-04 17:31] 0crat commented on #177
The job [#177](https://github.com/amihaiemil/docker-java-api/issues/177) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/51f8760c-f2af-41d7-992e-a8e1b47a4901); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-04 17:44] 0crat commented on #176
The job [#176](https://github.com/amihaiemil/docker-java-api/issues/176) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/4f565f25-2000-4aba-8985-719d6df11bf8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-04 18:54] amihaiemil commented on #165
@rultor release it, tag is `0.0.5`

[2018-11-04 18:57] rultor commented on #165
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16450-435695662)

[2018-11-04 19:02] rultor commented on #165
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/16450-435695662) (took me 5min)

[2018-11-04 19:05] #165 closed

[2018-11-04 19:32] 0crat commented on #165
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-11-09 17:39] 0crat commented on #171
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-09 17:42] 0crat commented on #170
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-09 17:42] 0crat commented on #178
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-09 17:42] 0crat commented on #180
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-09 17:42] 0crat commented on #177
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-09 18:40] 0crat commented on #176
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-11 15:56] llorllale commented on #171
@0crat wait because I submitted PR #188 for this

[2018-11-11 15:58] 0crat commented on #171
@llorllale The impediment for [#171](https://github.com/amihaiemil/docker-java-api/issues/171) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-11-14 22:01] llorllale commented on #176
@0crat wait because I submitted PR #189 for this

[2018-11-14 22:03] 0crat commented on #176
@llorllale The impediment for [#176](https://github.com/amihaiemil/docker-java-api/issues/176) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-11-15 08:58] amihaiemil commented on #178
@llorllale thank you for your idea. I will have a look over the weekend and also over your PRs (too busy week now, sorry).

[2018-11-18 02:41] 0crat commented on #175
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-26 07:12] 0pdd opened #191 "Volume.java:34: Continue the implementation of Volume."
The puzzle `169-c2961002` from #169 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/f2b7c203dcd213923b095b276cc9f62ae5a25928/src/main/java/com/amihaiemil/docker/Volume.java#L34-L34

The puzzle was created by unstablemark on 19-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2018-11-26 07:12] 0pdd commented on #191
@amihaiemil please pay attention to this new issue.

[2018-11-26 07:12] 0pdd opened #192 "Volumes.java:33-34: Extend Iterable of Volumes to..."
The puzzle `169-8d95e5a4` from #169 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/f2b7c203dcd213923b095b276cc9f62ae5a25928/src/main/java/com/amihaiemil/docker/Volumes.java#L33-L34

The puzzle was created by unstablemark on 19-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-11-26 07:12] 0pdd commented on #192
@amihaiemil please pay attention to this new issue.

[2018-11-26 07:13] 0crat commented on #191
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-26 07:13] 0crat commented on #191
Job [#191](https://github.com/amihaiemil/docker-java-api/issues/191) is now in scope, role is `DEV`

[2018-11-26 07:13] 0crat commented on #192
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-26 07:19] 0crat commented on #192
Job [#192](https://github.com/amihaiemil/docker-java-api/issues/192) is now in scope, role is `DEV`

[2018-11-26 07:39] amihaiemil commented on #169
@maviteixeira Thank you for the contribution! Are you a member of Zerocracy, do you want me to invite you to this project and continue making PRs? Please note, however, that we don't have any funds at the moment, so there will be no payments unfortunately.

[2018-11-26 07:39] #169 closed

[2018-11-26 07:55] 0crat commented on #169
Job `gh:amihaiemil/docker-java-api#169` is not assigned, can't get performer

[2018-11-26 07:55] 0crat commented on #169
This job is not in scope

[2018-11-27 07:57] #171 closed

[2018-11-27 07:57] 0pdd commented on #171
The puzzle `99-9320c256` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-11-27 07:57] 0pdd opened #193 "Auth.java:34-36: We have implemented all forms of Auth...."
The puzzle `171-ffb27b82` from #171 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/f3a8549c161697f3f04488eca7742c5ba97bda5f/src/main/java/com/amihaiemil/docker/Auth.java#L34-L36

The puzzle was created by rultor on 27-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2018-11-27 07:57] 0pdd commented on #193
@amihaiemil please pay attention to this new issue.

[2018-11-27 07:58] 0crat commented on #193
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-27 08:02] #176 closed

[2018-11-27 08:02] 0pdd commented on #176
The puzzle `100-cc573336` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-11-27 08:03] 0crat commented on #193
Job [#193](https://github.com/amihaiemil/docker-java-api/issues/193) is now in scope, role is `DEV`

[2018-11-27 08:30] 0crat commented on #176
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-11-27 08:33] 0crat commented on #174
The job [#174](https://github.com/amihaiemil/docker-java-api/issues/174) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/ad2606c0-24f5-47da-b0ec-daab466bacdb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-27 08:45] 0crat commented on #173
The job [#173](https://github.com/amihaiemil/docker-java-api/issues/173) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/0ebaec10-2841-4e89-aa97-7be98ea0ee1d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-28 14:34] bkuzmic opened #194 "Implement docker system commands"
Implement docker system commands as in docs:
https://docs.docker.com/engine/reference/commandline/system/

[2018-11-28 14:35] 0crat commented on #194
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-28 14:35] 0crat commented on #194
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-28 14:50] amihaiemil commented on #194
@bkuzmic I think you are referring to the [System API](https://docs.docker.com/engine/api/v1.37/#tag/System). Yes, it makes sense :)

[2018-11-28 14:51] 0crat commented on #194
Job [#194](https://github.com/amihaiemil/docker-java-api/issues/194) is now in scope, role is `DEV`

[2018-11-28 14:58] 0crat commented on #194
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-02 08:43] 0crat commented on #174
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-02 10:01] 0crat commented on #173
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-03 15:33] 0crat commented on #194
The job [#194](https://github.com/amihaiemil/docker-java-api/issues/194) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/f40c3ede-a689-47b5-94cd-03338e482456); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-03 15:34] 0crat commented on #194
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-03 15:34] 0crat commented on #194
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-03 15:42] 0crat commented on #178
The job [#178](https://github.com/amihaiemil/docker-java-api/issues/178) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/e1490b0a-d2bf-4ec1-b7ef-e6900a8cbe83); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-03 15:46] 0crat commented on #172
The job [#172](https://github.com/amihaiemil/docker-java-api/issues/172) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/c30ba06b-5c5d-4a03-9490-455d25796525); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-04 07:33] amihaiemil commented on #178
@0crat out

[2018-12-04 07:35] 0crat commented on #178
@amihaiemil GitHub issue is still open, won't close

[2018-12-04 08:12] amihaiemil commented on #194
@0crat boost 6x

[2018-12-04 08:15] 0crat commented on #194
@amihaiemil Boost 6x was set for [#194](https://github.com/amihaiemil/docker-java-api/issues/194)

[2018-12-04 08:15] 0crat commented on #194
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-04 09:36] amihaiemil commented on #178
@bkuzmic I see, thank you for your input. It's enough for now, I'll have a look later. I'll remove the puzzle so this task is closed :D

[2018-12-04 09:38] #178 closed

[2018-12-04 09:38] 0pdd commented on #178
The puzzle `68-39eec482` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-04 09:38] 0pdd opened #196 "RemoteDocker.java:40-42: Based on the input from..."
The puzzle `178-6995c526` from #178 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/37c1c7bee798f111c4a495a0c91f0d422ab9a6e8/src/main/java/com/amihaiemil/docker/RemoteDocker.java#L40-L42

The puzzle was created by Mihai A on 04-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-04 09:38] 0pdd commented on #196
@amihaiemil please pay attention to this new issue.

[2018-12-04 09:39] 0crat commented on #196
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-04 09:42] #196 closed

[2018-12-04 09:42] 0pdd commented on #196
The puzzle `178-6995c526` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-04 09:42] 0pdd opened #197 "RemoteDocker.java:40-42: Based on the input from..."
The puzzle `178-91930edc` from #178 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/1e57be130a63eacf104ad272a8b7eb8f4b3ea00f/src/main/java/com/amihaiemil/docker/RemoteDocker.java#L40-L42

The puzzle was created by Mihai A on 04-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-04 09:42] 0pdd commented on #197
@amihaiemil please pay attention to this new issue.

[2018-12-04 09:42] 0crat commented on #197
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-04 10:13] 0crat commented on #178
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.6](https://github.com/zerocracy/farm): CID: [10ae4b62-b189-48e7-9d6e-8661c99aa370](https://www.0crat.com/footprint/G6LPQQV2P/10ae4b62-b189-48e7-9d6e-8661c99aa370), Type: "Close job"

[2018-12-04 10:13] 0crat commented on #196
Job [#196](https://github.com/amihaiemil/docker-java-api/issues/196) is now in scope, role is `DEV`

[2018-12-04 10:21] 0crat commented on #196
Job `gh:amihaiemil/docker-java-api#196` is not assigned, can't get performer

[2018-12-04 10:21] 0crat commented on #197
Job [#197](https://github.com/amihaiemil/docker-java-api/issues/197) is now in scope, role is `DEV`

[2018-12-04 10:21] 0crat commented on #178
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-04 10:21] 0crat commented on #196
The job [#196](https://github.com/amihaiemil/docker-java-api/issues/196) is now out of scope

[2018-12-04 11:05] #194 closed

[2018-12-04 11:41] bkuzmic commented on #186
@amihaiemil I'm not sure what is still missing and why is 0crat keep assigning me tasks automatically

[2018-12-04 11:43] 0crat commented on #194
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.6](https://github.com/zerocracy/farm): CID: [3a48f212-5477-4eac-bd49-2b668dd9922b](https://www.0crat.com/footprint/G6LPQQV2P/3a48f212-5477-4eac-bd49-2b668dd9922b), Type: "Close job"

[2018-12-04 11:44] 0crat commented on #194
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-04 11:44] amihaiemil commented on #186
@bkuzmic Right. At some point ``0pdd`` had some bugs and it ignored certain puzzles (which of course remained in the code). A few days ago it started working again and opened some old puzzles which are now obsolete, they should be closed.

0crat keeps assigning you tasks because I added you to the project (in order to get reputation for the tickets you closed). Should I resign you from the project

[2018-12-04 11:48] bkuzmic commented on #186
@amihaiemil Well, if I can get free reputation points just like that, I'll close all the tickets :D

[2018-12-04 11:50] 0crat commented on #194
The job [#194](https://github.com/amihaiemil/docker-java-api/issues/194) is now out of scope

[2018-12-04 11:50] 0crat commented on #194
Order was finished: +95 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-04 11:50] 0crat commented on #191
The job [#191](https://github.com/amihaiemil/docker-java-api/issues/191) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/f6ed9c27-c7f7-41cc-878c-414521f4f76d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-04 11:51] amihaiemil commented on #186
@bkuzmic Yes, you can close tickets for reputation. I would like to pay the contributors too but I don't have funds for this project now (hopefully in the future).

[2018-12-04 11:52] bkuzmic commented on #186
@amihaiemil Maybe I should adjust my rate and 0crat will stop giving me new tickets :). By the way, I can't close this ticket by myself.

[2018-12-04 11:53] amihaiemil commented on #186
@bkuzmic Just make a PR, remove the puzzle from the code :)

0crat assigns you up to 3 (or 8?) tasks concurrently, there's nothing you can do about that, I think. It's not related to your rate (it is ``$0`` for this project, anyway).

[2018-12-04 12:45] 0pdd commented on #186
The puzzle `144-eb4c5380` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-04 12:45] #186 closed

[2018-12-04 13:02] 0crat commented on #186
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-04 13:07] 0crat commented on #186
The job [#186](https://github.com/amihaiemil/docker-java-api/issues/186) is now out of scope

[2018-12-04 13:09] 0crat commented on #186
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-04 13:09] 0crat commented on #192
The job [#192](https://github.com/amihaiemil/docker-java-api/issues/192) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/3b9a08dd-9683-4207-b104-72376e860238); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-04 14:15] amihaiemil opened #199 "Release 0.0.6"
Let's release ``0.0.6``, we've accumulated some new stuff already.

[2018-12-04 14:15] amihaiemil commented on #199
@rultor release it, tag is `0.0.6`

[2018-12-04 14:17] rultor commented on #199
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16765-444114318)

[2018-12-04 14:21] rultor commented on #199
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16765-444114318) (spent 3min)

[code]

[2018-12-04 14:31] rultor commented on #199
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/16765-444116306) (took me 6min)

[2018-12-04 14:34] #199 closed

[2018-12-04 14:52] 0crat commented on #199
Job `gh:amihaiemil/docker-java-api#199` is not assigned, can't get performer

[2018-12-04 14:52] 0crat commented on #199
This job is not in scope

[2018-12-05 14:05] 0crat commented on #193
The job [#193](https://github.com/amihaiemil/docker-java-api/issues/193) assigned to @sbespalov[/z](https://www.0crat.com/u/sbespalov), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/d83aafc3-e112-4666-a3a8-be59798b9bbf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-12-05 14:14] 0crat commented on #197
The job [#197](https://github.com/amihaiemil/docker-java-api/issues/197) assigned to @sbespalov[/z](https://www.0crat.com/u/sbespalov), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/a258f299-96c0-41a8-aca6-84db9c2f4376); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-12-06 08:39] bkuzmic commented on #172
@0crat wait for clearing the requirement

[2018-12-06 08:41] amihaiemil commented on #172
@bkuzmic Can you open a new ticket for clarification? I would like to assign it to @llorllale -- he implemented all this auth stuff, maybe he knows it better than me :)

[2018-12-06 08:42] bkuzmic commented on #172
@amihaiemil Sure, no problem.

[2018-12-06 08:44] 0crat commented on #172
@bkuzmic The impediment for [#172](https://github.com/amihaiemil/docker-java-api/issues/172) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-06 08:44] amihaiemil commented on #172
@bkuzmic I think you already spent some time on it so make a PR and change the puzzle (change the ticket origin and reference your comment here, for the next assignee.

[2018-12-06 10:25] victornoel opened #202 "Subclasses of JsonResource are susceptible to violate the LSP"
The methods in `JsonResource` should be final in order to forbid subclasses to modify them and potentially violate the Liskov Substitution Principle.

[2018-12-06 10:53] 0crat commented on #202
Job [#202](https://github.com/amihaiemil/docker-java-api/issues/202) is now in scope, role is `DEV`

[2018-12-06 11:03] 0crat commented on #202
The job [#202](https://github.com/amihaiemil/docker-java-api/issues/202) assigned to @sbespalov[/z](https://www.0crat.com/u/sbespalov), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/8def7f73-4990-4f45-a474-464a9b3b304a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-12-06 11:04] 0crat commented on #202
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-06 13:10] paulodamaso opened #204 "Use qulice checks instead of checkstyle"
Currently we are just using `checkstyle` for static analisys, we should use `qulice` which provides `PMD` and `findbugs` checks besides `checkstyle`  ones

[2018-12-06 13:10] 0crat commented on #204
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-06 13:14] #191 closed

[2018-12-06 13:14] 0pdd commented on #191
The puzzle `169-c2961002` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-06 13:14] 0pdd commented on #192
The puzzle `169-8d95e5a4` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-06 13:14] #192 closed

[2018-12-06 13:14] 0pdd opened #205 "Volume.java:38: Continue implementing create and remove..."
The puzzle `179-c7050a34` from #179 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/5a8ab3e28f16be28a57f8be1044416450b22f765/src/main/java/com/amihaiemil/docker/Volume.java#L38-L38

The puzzle was created by Boris Kuzmic on 06-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2018-12-06 13:14] 0pdd commented on #205
@amihaiemil please pay attention to this new issue.

[2018-12-06 13:14] 0pdd opened #206 "Volumes.java:34: Continue implementing prune volumes..."
The puzzle `180-9bad4f6c` from #180 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/5a8ab3e28f16be28a57f8be1044416450b22f765/src/main/java/com/amihaiemil/docker/Volumes.java#L34-L34

The puzzle was created by Boris Kuzmic on 06-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-06 13:14] 0pdd commented on #206
@amihaiemil please pay attention to this new issue.

[2018-12-06 13:14] 0pdd opened #207 "ListedVolumes.java:39-42: Finish implementation here, add..."
The puzzle `181-eb4c5380` from #181 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/5a8ab3e28f16be28a57f8be1044416450b22f765/src/main/java/com/amihaiemil/docker/ListedVolumes.java#L39-L42

The puzzle was created by Boris Kuzmic on 06-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed an

[2018-12-06 13:14] 0pdd commented on #207
@amihaiemil please pay attention to this new issue.

[2018-12-06 13:15] 0crat commented on #207
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-06 13:16] 0crat commented on #206
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-06 13:16] 0crat commented on #205
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-06 13:46] 0pdd opened #208 "AuthHttpClient.java:46-49: Based on the input from..."
The puzzle `182-2f110c5f` from #182 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/49e9cb18f0a8d2da9e9e0bc5604dd8047d689ba5/src/main/java/com/amihaiemil/docker/AuthHttpClient.java#L46-L49

The puzzle was created by Boris Kuzmic on 06-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2018-12-06 13:46] 0pdd commented on #208
@amihaiemil please pay attention to this new issue.

[2018-12-06 13:47] 0crat commented on #208
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-06 13:47] 0crat commented on #192
The job [#192](https://github.com/amihaiemil/docker-java-api/issues/192) is now out of scope

[2018-12-06 13:53] 0crat commented on #192
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-06 13:58] 0crat commented on #191
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-06 14:02] 0crat commented on #208
Job [#208](https://github.com/amihaiemil/docker-java-api/issues/208) is now in scope, role is `DEV`

[2018-12-06 14:02] 0crat commented on #172
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-12-06 14:02] 0crat commented on #207
The job [#207](https://github.com/amihaiemil/docker-java-api/issues/207) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/a2433d76-2e50-4026-a9d7-2518d513ad99); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-06 14:03] 0crat commented on #206
The job [#206](https://github.com/amihaiemil/docker-java-api/issues/206) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/027988ae-dbb0-4b60-b3cf-98f5980bdfeb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-06 14:04] 0crat commented on #172
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-06 14:13] 0crat commented on #205
The job [#205](https://github.com/amihaiemil/docker-java-api/issues/205) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/97a8327b-d699-4f71-9eb7-7b12e955423f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-06 14:15] amihaiemil commented on #204
@paulodamaso Thanks for the suggestion, I had thought about it in the past but I decided to skip ``qulice``. It is too strict, absurdly strict. I believe ``checkstyle`` is enough :)

[2018-12-06 14:15] #204 closed

[2018-12-06 14:33] 0crat commented on #204
Job `gh:amihaiemil/docker-java-api#204` is not assigned, can't get performer

[2018-12-06 14:34] 0crat commented on #204
This job is not in scope

[2018-12-08 14:07] llorllale commented on #170
@0crat refuse

[2018-12-08 14:07] llorllale commented on #180
@0crat refuse

[2018-12-08 14:07] llorllale commented on #177
@0crat refuse

[2018-12-08 14:07] llorllale commented on #175
@0crat refuse

[2018-12-08 14:07] llorllale commented on #174
@0crat refuse

[2018-12-08 14:08] llorllale commented on #173
@0crat refuse

[2018-12-08 14:08] 0crat commented on #180
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#180](https://github.com/amihaiemil/docker-java-api/issues/180), please stop working. Reason for job resignation: Order was cancelled

[2018-12-08 14:08] 0crat commented on #175
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#175](https://github.com/amihaiemil/docker-java-api/issues/175), please stop working. Reason for job resignation: Order was cancelled

[2018-12-08 14:08] 0crat commented on #177
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#177](https://github.com/amihaiemil/docker-java-api/issues/177), please stop working. Reason for job resignation: Order was cancelled

[2018-12-08 14:10] 0crat commented on #173
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#173](https://github.com/amihaiemil/docker-java-api/issues/173), please stop working. Reason for job resignation: Order was cancelled

[2018-12-08 14:11] 0crat commented on #174
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#174](https://github.com/amihaiemil/docker-java-api/issues/174), please stop working. Reason for job resignation: Order was cancelled

[2018-12-08 14:11] 0crat commented on #170
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:11] 0crat commented on #180
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:11] 0crat commented on #175
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:11] 0crat commented on #177
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:11] 0crat commented on #173
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:12] 0crat commented on #174
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-10 11:58] #206 closed

[2018-12-10 11:58] 0pdd commented on #206
The puzzle `180-9bad4f6c` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-10 12:24] 0crat commented on #206
The job [#206](https://github.com/amihaiemil/docker-java-api/issues/206) is now out of scope

[2018-12-10 14:39] 0crat commented on #193
@sbespalov[/z](https://www.0crat.com/u/sbespalov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-10 14:39] 0crat commented on #197
@sbespalov[/z](https://www.0crat.com/u/sbespalov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-11 01:35] paulodamaso commented on #207
@0crat wait for #209 discussion and merge

[2018-12-11 01:41] 0crat commented on #207
@paulodamaso The impediment for [#207](https://github.com/amihaiemil/docker-java-api/issues/207) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-11 08:38] sbespalov commented on #193
This can be done in the form of DSL builder. Something like below:
[code]

[2018-12-11 08:44] sbespalov commented on #193
@amihaiemil this will be enough for the issue?

[2018-12-11 09:32] sbespalov commented on #197
@amihaiemil can you please have a look at PR?

[2018-12-11 11:40] 0crat commented on #202
@sbespalov[/z](https://www.0crat.com/u/sbespalov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-11 13:46] #197 closed

[2018-12-11 13:46] 0pdd commented on #197
The puzzle `178-91930edc` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-11 14:07] 0crat commented on #197
The job [#197](https://github.com/amihaiemil/docker-java-api/issues/197) is now out of scope

[2018-12-11 14:10] 0crat commented on #197
Order was finished: +30 point(s) just awarded to @sbespalov[/z](https://www.0crat.com/u/sbespalov)

[2018-12-11 14:10] 0crat commented on #170
The job [#170](https://github.com/amihaiemil/docker-java-api/issues/170) assigned to @sbespalov[/z](https://www.0crat.com/u/sbespalov), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/ed9afed2-1d1f-4938-b8a5-efad55045e19); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-12-11 14:41] 0crat commented on #205
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-12 07:50] bkuzmic commented on #205
@amihaiemil This issue should have closed automatically, right?

[2018-12-12 11:19] amihaiemil commented on #205
@bkuzmic yes, 0pdd closes tickets automatically, but only if you remove the ``todo``. You forgot to remove it :)

I'll remove it now.

[2018-12-12 11:20] amihaiemil commented on #205
@bkuzmic Actually, I see you removed it. It's funny, it should have been closed by now. Let me check.

[2018-12-12 11:22] #205 closed

[2018-12-12 11:22] 0pdd commented on #205
The puzzle `179-c7050a34` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-12 11:22] 0pdd opened #213 "Volumes.java:36-38: Extend create with options to specify..."
The puzzle `183-9aed8aaf` from #183 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/9c93ecb0388292848f4a77b4c7d76dcb1fa11d81/src/main/java/com/amihaiemil/docker/Volumes.java#L36-L38

The puzzle was created by Boris Kuzmic on 10-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-12 11:22] 0pdd commented on #213
@amihaiemil please pay attention to this new issue.

[2018-12-12 11:23] 0crat commented on #213
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-12 11:24] amihaiemil commented on #205
@bkuzmic The problem was with [this new](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/Volumes.java#L36) puzzle. Pay attention to the indentation, if there are multiple lines, lines 2,3,..,n need to start with a space, like this:

[code]

Otherwise, 0pdd cannot parse the puzzle and it crashes :D

[2018-12-12 11:50] 0crat commented on #205
The job [#205](https://github.com/amihaiemil/docker-java-api/issues/205) is now out of scope

[2018-12-12 11:50] 0crat commented on #205
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-12 11:51] 0crat commented on #180
The job [#180](https://github.com/amihaiemil/docker-java-api/issues/180) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/cc0e5228-8f5e-4bb8-90cd-1255b4f36586); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-12 11:52] bkuzmic commented on #205
@amihaiemil Thanks for the tip about puzzles.

[2018-12-12 12:21] 0crat commented on #177
The job [#177](https://github.com/amihaiemil/docker-java-api/issues/177) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/e051bf53-3083-49f8-a18b-7382004fdc0a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-12 15:58] #207 closed

[2018-12-12 15:58] 0pdd commented on #207
The puzzle `181-eb4c5380` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-12 15:58] 0pdd opened #214 "ListedVolumes.java:40-42: Finish implementation here, add..."
The puzzle `207-c4751857` from #207 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/e1d9377c986bedd46c528ffa6255123cb587a5ab/src/main/java/com/amihaiemil/docker/ListedVolumes.java#L40-L42

The puzzle was created by rultor on 12-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-12 15:58] 0pdd commented on #214
@amihaiemil please pay attention to this new issue.

[2018-12-12 15:59] 0crat commented on #214
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-12 16:11] 0crat commented on #214
Job [#214](https://github.com/amihaiemil/docker-java-api/issues/214) is now in scope, role is `DEV`

[2018-12-12 17:50] 0crat commented on #174
The job [#174](https://github.com/amihaiemil/docker-java-api/issues/174) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/c9999fba-d3ec-4c58-9ea7-c78b83e90b70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-13 08:32] amihaiemil commented on #193
@sbespalov hmm, I don't like Builders :)

I want the user to simply instantiate a ``Docker`` instance via the ``new`` operator (with ``RemoteDocker`` or ``LocalDocker``). For now just add the ``Credentials`` parameter to [this](https://github.com/amihaiemil/docker-java-api/blob/11e0632fb81b4cb49690162a443c3581365b5d35/src/main/java/com/amihaiemil/docker/RemoteDocker.java#L83) constructor and decor

[2018-12-13 08:35] amihaiemil opened #215 "Remove SslHttpClient?"
I would like to remove this class and all the code (constructors in ``RemoteDocker``, mostly) that makes any assumption regarding securing communication with a remote Docker instance. What do you think?

My reasoning is that we shouldn't make any assumptions since we will most likely not cover all the possibilities and we are just polluting the library. If the user really needs it and knows what t

[2018-12-13 08:35] amihaiemil commented on #215
@bkuzmic @llorllale @paulodamaso any thoughts here? :)

[2018-12-13 10:19] bkuzmic commented on #215
@amihaiemil I agree that you should remove it. As you said, there are just too many options.

[2018-12-13 11:09] paulodamaso commented on #215
@amihaiemil I agree, I like your idea of a properly configured `HttpClient` if the user need some different behavior (like ssl).

[2018-12-13 11:32] 0crat commented on #215
Job [#215](https://github.com/amihaiemil/docker-java-api/issues/215) is now in scope, role is `DEV`

[2018-12-13 11:42] 0crat commented on #215
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-13 12:54] amihaiemil commented on #215
@llorllale well, maybe the fact that we assume everything to be in a single keystore?

And then, simply the fact that we ask for the passwords doesn't seem right: if the user really knows what they want to do (and understand how we are going to use that data), then it will be easy for them to configure their own HttpClient. Furthermore, who knows, maybe they want to pass through a Proxy. It just s

[2018-12-13 14:40] llorllale commented on #215
@amihaiemil I understand your concerns. I do think the specific issues you've pointed out can be addressed by improving the design though.

I personally still think providing users some basic pre-configured clients is useful. See if [this example](https://github.com/llorllale/youtrack-api/tree/master/src/main/java/org/llorllale/youtrack/api/http) makes any sense to you.

[2018-12-14 12:12] #175 closed

[2018-12-14 12:12] 0pdd commented on #175
The puzzle `85-90def642` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-14 12:12] 0pdd opened #221 "Plugins.java:34-36: Continue implementing Plugins API..."
The puzzle `208-b6677773` from #208 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/8a229a28cbc249f3501ab7899ce7904a8404ef60/src/main/java/com/amihaiemil/docker/Plugins.java#L34-L36

The puzzle was created by Boris Kuzmic on 14-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-14 12:12] 0pdd commented on #221
@amihaiemil please pay attention to this new issue.

[2018-12-14 12:13] 0crat commented on #221
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-14 12:19] 0crat commented on #221
Job [#221](https://github.com/amihaiemil/docker-java-api/issues/221) is now in scope, role is `DEV`

[2018-12-14 12:19] #193 closed

[2018-12-14 12:19] 0pdd commented on #193
The puzzle `171-ffb27b82` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-14 12:35] 0crat commented on #175
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-14 12:47] amihaiemil commented on #215
@0crat out

[2018-12-14 12:48] 0pdd commented on #180
The puzzle `58-31e59a6b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-14 12:48] #180 closed

[2018-12-14 12:51] 0crat commented on #175
The job [#175](https://github.com/amihaiemil/docker-java-api/issues/175) is now out of scope

[2018-12-14 13:04] 0crat commented on #175
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-14 13:07] 0crat commented on #215
@amihaiemil Job `gh:amihaiemil/docker-java-api#215` is not assigned, can't get performer

[2018-12-14 13:11] 0crat commented on #193
The job [#193](https://github.com/amihaiemil/docker-java-api/issues/193) is now out of scope

[2018-12-14 13:11] 0crat commented on #215
@amihaiemil The job [#215](https://github.com/amihaiemil/docker-java-api/issues/215) is now out of scope

[2018-12-14 13:16] 0crat commented on #193
Order was finished: +30 point(s) just awarded to @sbespalov[/z](https://www.0crat.com/u/sbespalov)

[2018-12-14 13:40] 0crat commented on #213
The job [#213](https://github.com/amihaiemil/docker-java-api/issues/213) assigned to @sbespalov[/z](https://www.0crat.com/u/sbespalov), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/6ddf99f6-2757-4cc3-b3ab-fdfd5d8dbedd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-12-14 13:47] sbespalov commented on #202
@0crat close

[2018-12-14 13:50] amihaiemil commented on #202
@victornoel issue is fixed, pleade clode this :)

[2018-12-14 13:50] 0crat commented on #202
@sbespalov Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2018-12-14 13:50] victornoel commented on #202
@amihaiemil @sbespalov yep, thanks :)

[2018-12-14 13:50] #202 closed

[2018-12-14 14:14] 0crat commented on #202
The job [#202](https://github.com/amihaiemil/docker-java-api/issues/202) is now out of scope

[2018-12-14 14:14] 0crat commented on #202
Order was finished: +30 point(s) just awarded to @sbespalov[/z](https://www.0crat.com/u/sbespalov)

[2018-12-14 14:15] 0crat commented on #214
The job [#214](https://github.com/amihaiemil/docker-java-api/issues/214) assigned to @sbespalov[/z](https://www.0crat.com/u/sbespalov), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/23776839-fe04-4eeb-a0b6-713a6887fccd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-12-14 14:34] 0pdd commented on #174
The puzzle `84-f1c39634` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-14 14:34] #174 closed

[2018-12-14 14:51] 0crat commented on #174
Job was finished in 44 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-14 14:55] 0crat commented on #174
The job [#174](https://github.com/amihaiemil/docker-java-api/issues/174) is now out of scope

[2018-12-14 14:59] 0crat commented on #174
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-16 14:42] 0crat commented on #170
@sbespalov[/z](https://www.0crat.com/u/sbespalov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-17 12:42] 0crat commented on #177
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-17 16:35] 0pdd commented on #173
The puzzle `83-3eb2f332` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-17 16:35] #173 closed

[2018-12-17 16:35] 0pdd opened #224 "Networks.java:35-37: Extend create with options to..."
The puzzle `209-9b3b61fc` from #209 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/970d39ca7e752938d6dd9a387a7eaa1f3027b045/src/main/java/com/amihaiemil/docker/Networks.java#L35-L37

The puzzle was created by Boris Kuzmic on 17-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-17 16:35] 0pdd commented on #224
@amihaiemil please pay attention to this new issue.

[2018-12-17 16:35] 0pdd opened #225 "Network.java:38-40: Implement Network methods: inspect,..."
The puzzle `210-80602123` from #210 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/970d39ca7e752938d6dd9a387a7eaa1f3027b045/src/main/java/com/amihaiemil/docker/Network.java#L38-L40

The puzzle was created by Boris Kuzmic on 17-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-17 16:35] 0pdd commented on #225
@amihaiemil please pay attention to this new issue.

[2018-12-17 16:36] 0pdd opened #226 "ListedNetworks.java:36-37: Implement ListedNetworks..."
The puzzle `211-924fe80a` from #211 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/970d39ca7e752938d6dd9a387a7eaa1f3027b045/src/main/java/com/amihaiemil/docker/ListedNetworks.java#L36-L37

The puzzle was created by Boris Kuzmic on 17-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2018-12-17 16:36] 0pdd commented on #226
@amihaiemil please pay attention to this new issue.

[2018-12-17 16:36] 0pdd opened #227 "RtNetworkTestCase.java:47-49: Finish implementing unit..."
The puzzle `211-26937e13` from #211 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/970d39ca7e752938d6dd9a387a7eaa1f3027b045/src/test/java/com/amihaiemil/docker/RtNetworkTestCase.java#L47-L49

The puzzle was created by Boris Kuzmic on 17-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2018-12-17 16:36] 0pdd commented on #227
@amihaiemil please pay attention to this new issue.

[2018-12-17 16:36] 0crat commented on #227
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-17 16:37] 0crat commented on #226
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-17 16:37] 0crat commented on #225
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-17 16:37] 0crat commented on #224
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-17 16:47] 0crat commented on #227
Job [#227](https://github.com/amihaiemil/docker-java-api/issues/227) is now in scope, role is `DEV`

[2018-12-17 16:49] 0crat commented on #226
Job [#226](https://github.com/amihaiemil/docker-java-api/issues/226) is now in scope, role is `DEV`

[2018-12-17 16:49] 0crat commented on #225
Job [#225](https://github.com/amihaiemil/docker-java-api/issues/225) is now in scope, role is `DEV`

[2018-12-17 16:50] 0crat commented on #224
Job [#224](https://github.com/amihaiemil/docker-java-api/issues/224) is now in scope, role is `DEV`

[2018-12-17 17:00] 0crat commented on #173
The job [#173](https://github.com/amihaiemil/docker-java-api/issues/173) is now out of scope

[2018-12-17 17:00] 0crat commented on #173
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-17 17:01] 0crat commented on #221
The job [#221](https://github.com/amihaiemil/docker-java-api/issues/221) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/c3ea7a5e-7493-4f30-b5b0-b74d2a103a65); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-17 17:45] paulodamaso commented on #177
@amihaiemil Looks like this class has already been testes, what shoukd I do now?

[2018-12-17 19:35] #177 closed

[2018-12-17 19:35] 0pdd commented on #177
The puzzle `100-d6a25331` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-17 19:57] 0crat commented on #177
The job [#177](https://github.com/amihaiemil/docker-java-api/issues/177) is now out of scope

[2018-12-17 20:00] 0crat commented on #177
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-17 20:01] 0crat commented on #227
The job [#227](https://github.com/amihaiemil/docker-java-api/issues/227) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/9723d2aa-f1e7-4fe0-a883-480df731fcb5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-17 20:02] 0crat commented on #226
The job [#226](https://github.com/amihaiemil/docker-java-api/issues/226) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/95d5ad35-dd0c-41cb-b46d-ac0e122b3d00); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-17 20:11] 0crat commented on #225
The job [#225](https://github.com/amihaiemil/docker-java-api/issues/225) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/fc73c71b-254d-4079-b6c4-739bff3aba17); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-17 20:16] 0crat commented on #224
The job [#224](https://github.com/amihaiemil/docker-java-api/issues/224) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/52fff38b-7c40-4096-9e35-6992fe378930); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-18 06:54] 0pdd commented on #208
The puzzle `182-2f110c5f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-18 06:54] #208 closed

[2018-12-18 07:19] 0crat commented on #208
The job [#208](https://github.com/amihaiemil/docker-java-api/issues/208) is now out of scope

[2018-12-18 07:19] 0crat commented on #208
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-18 07:43] bkuzmic commented on #172
@amihaiemil I think we can close this one, right? I've also noticed that for building images and using X-Registry-Config header, there can be multiple key-value pairs for registries, like this:
[code]
I will have to create another puzzle to extend recently added RegistyConfigAuth and support multiple registries.

[2018-12-18 07:47] amihaiemil commented on #172
@bkuzmic Yes, we can close it.

Just open a ticket directly :)

[2018-12-18 07:47] #172 closed

[2018-12-18 07:55] bkuzmic opened #230 "Extend RegistryConfigAuth to support multiple Docker registries"
Currently RegistryConfigAuth supports adding only one key-value pair. The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](https://docs.docker.com/engine/api/v1.35/#section/Authentication).

Refactor RegistryConfigAuth to support adding multiple key-value pairs.  Here is an example of how the Json should be structured:

[code]

[2018-12-18 07:55] 0crat commented on #230
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-18 08:02] 0crat commented on #230
Job [#230](https://github.com/amihaiemil/docker-java-api/issues/230) is now in scope, role is `DEV`

[2018-12-18 08:08] 0crat commented on #172
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.39.7](https://github.com/zerocracy/farm): CID: [483bfdca-879b-49b4-9aa1-0125c15dd5c4](https://www.0crat.com/footprint/G6LPQQV2P/483bfdca-879b-49b4-9aa1-0125c15dd5c4), Type: "Close job"

[2018-12-18 08:10] 0crat commented on #230
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-18 08:12] 0crat commented on #230
The job [#230](https://github.com/amihaiemil/docker-java-api/issues/230) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1d9942bd-f960-4735-b5ad-71b1b7b20ac7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-18 08:15] 0crat commented on #172
The job [#172](https://github.com/amihaiemil/docker-java-api/issues/172) is now out of scope

[2018-12-18 08:15] 0crat commented on #172
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-18 08:15] 0crat commented on #172
Job `gh:amihaiemil/docker-java-api#172` doesn't exist in WBS, can't create order

[2018-12-19 13:40] 0crat commented on #213
@sbespalov[/z](https://www.0crat.com/u/sbespalov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-19 14:40] 0crat commented on #214
@sbespalov[/z](https://www.0crat.com/u/sbespalov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-20 01:37] sbespalov commented on #170
@0crat wait

[2018-12-20 01:43] sbespalov commented on #170
@amihaiemil as I understand `Images.importImage` should be implemented here.
But I guess that parameters of this method should be changed to something like this:
[code]
or
[code]
URL as a source is some kind of special case, and it also not clear in this case what to do with authorization which can be required to access this URL.

[2018-12-20 01:43] 0crat commented on #170
@sbespalov The impediment for [#170](https://github.com/amihaiemil/docker-java-api/issues/170) was registered successfully by @sbespalov[/z](https://www.0crat.com/u/sbespalov)

[2018-12-20 07:47] #224 closed

[2018-12-20 07:47] 0pdd commented on #224
The puzzle `209-9b3b61fc` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-20 07:47] 0pdd opened #235 "Networks.java:36-39: Extend create with options to..."
The puzzle `224-36c37640` from #224 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/95dfab803aa54410ceeb4980faf3467430f01908/src/main/java/com/amihaiemil/docker/Networks.java#L36-L39

The puzzle was created by rultor on 20-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2018-12-20 07:47] 0pdd commented on #235
@amihaiemil please pay attention to this new issue.

[2018-12-20 07:48] 0crat commented on #235
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-20 07:55] 0crat commented on #235
Job [#235](https://github.com/amihaiemil/docker-java-api/issues/235) is now in scope, role is `DEV`

[2018-12-20 08:02] 0crat commented on #235
The job [#235](https://github.com/amihaiemil/docker-java-api/issues/235) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/2cf82326-426c-46e1-8304-338837fbfc8a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-20 08:07] #225 closed

[2018-12-20 08:07] 0pdd commented on #225
The puzzle `210-80602123` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-20 08:07] 0pdd opened #236 "Network.java:38-41: Implement Network methods: inspect,..."
The puzzle `225-64e49112` from #225 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/073e8158fe18a1b09b991ed09bd2ae05b20f423a/src/main/java/com/amihaiemil/docker/Network.java#L38-L41

The puzzle was created by Paulo Lobo on 18-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2018-12-20 08:07] 0pdd commented on #236
@amihaiemil please pay attention to this new issue.

[2018-12-20 08:08] 0crat commented on #236
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-20 08:18] 0crat commented on #224
The job [#224](https://github.com/amihaiemil/docker-java-api/issues/224) is now out of scope

[2018-12-20 08:20] 0crat commented on #236
Job [#236](https://github.com/amihaiemil/docker-java-api/issues/236) is now in scope, role is `DEV`

[2018-12-20 08:22] 0crat commented on #224
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-20 08:31] 0crat commented on #225
The job [#225](https://github.com/amihaiemil/docker-java-api/issues/225) is now out of scope

[2018-12-20 08:31] 0crat commented on #225
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-20 10:57] paulodamaso commented on #227
@amihaiemil looks like unit tests have already been implemented

[2018-12-20 11:50] #226 closed

[2018-12-20 11:50] 0pdd commented on #226
The puzzle `211-924fe80a` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-20 11:50] 0pdd opened #237 "ListedNetworks.java:39-41: Implement ListedNetworks..."
The puzzle `226-beabec1e` from #226 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/0fc9dcda03195e37beb0c92b5d5e25a0397daf8c/src/main/java/com/amihaiemil/docker/ListedNetworks.java#L39-L41

The puzzle was created by Paulo Lobo on 18-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2018-12-20 11:50] 0pdd commented on #237
@amihaiemil please pay attention to this new issue.

[2018-12-20 11:50] 0crat commented on #237
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-20 12:00] 0crat commented on #237
Job [#237](https://github.com/amihaiemil/docker-java-api/issues/237) is now in scope, role is `DEV`

[2018-12-20 12:07] 0crat commented on #237
The job [#237](https://github.com/amihaiemil/docker-java-api/issues/237) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1d3302c6-059d-4210-b66c-bbe74221f7ed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-12-20 12:11] #227 closed

[2018-12-20 12:11] 0pdd commented on #227
The puzzle `211-26937e13` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-20 12:16] 0crat commented on #226
The job [#226](https://github.com/amihaiemil/docker-java-api/issues/226) is now out of scope

[2018-12-20 12:18] 0crat commented on #226
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-20 12:31] 0crat commented on #227
The job [#227](https://github.com/amihaiemil/docker-java-api/issues/227) is now out of scope

[2018-12-20 12:33] 0crat commented on #227
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-21 08:24] 0pdd opened #240 "UncheckedUriBuilder.java:73-79: we should take out this..."
The puzzle `227-a6ee3f80` from #227 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/7dfd10635b4d7ba2a1929172c852706eefcaaa0e/src/main/java/com/amihaiemil/docker/UncheckedUriBuilder.java#L73-L79

The puzzle was created by Mihai A on 21-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2018-12-21 08:41] 0crat commented on #240
The job [#240](https://github.com/amihaiemil/docker-java-api/issues/240) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/e3527324-cc4d-4b2e-840f-b9310b2cbf1f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-21 08:50] 0crat commented on #214
The job [#214](https://github.com/amihaiemil/docker-java-api/issues/214) is now out of scope

[2018-12-21 08:50] 0crat commented on #214
Order was finished: +30 point(s) just awarded to @sbespalov[/z](https://www.0crat.com/u/sbespalov)

[2018-12-21 09:19] sbespalov opened #241 "JsonException trying to access `LocalDocker.volumes()`"
Probably something wrong with expected JSON format.

How to reproduce:
[code]
Expected result:
Got the volumes iterator

Actual result:
` javax.json.JsonException`
[code]

[2018-12-21 09:19] 0crat commented on #241
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-21 09:34] amihaiemil commented on #241
@sbespalov Right, turns out that List-Volumes operation returns a JsonObject, not a JsonArray:

https://docs.docker.com/engine/api/v1.30/#operation/VolumeList

The format is actually:

[code]

Let's parse the response and iterate the ``Volumes`` array, ignore the ``Warnings`` for now.

[2018-12-21 09:34] 0crat commented on #241
Job [#241](https://github.com/amihaiemil/docker-java-api/issues/241) is now in scope, role is `DEV`

[2018-12-21 10:10] 0crat commented on #241
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sbespalov[/z](https://www.0crat.com/u/sbespalov)

[2018-12-21 10:14] 0crat commented on #241
The job [#241](https://github.com/amihaiemil/docker-java-api/issues/241) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/b644d66d-b3ab-45e4-8fd8-f422de3633eb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-22 17:40] 0crat commented on #221
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-23 08:39] 0crat commented on #230
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-25 08:42] 0crat commented on #235
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-25 08:44] 0crat commented on #236
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-25 12:40] 0crat commented on #237
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-26 08:40] 0crat commented on #240
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-26 08:46] 0pdd commented on #240
The puzzle `227-a6ee3f80` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-26 08:46] #240 closed

[2018-12-26 08:46] 0pdd opened #243 "UncheckedUriBuilder.java:73-74: Finish FilteredUriBuilder..."
The puzzle `240-9a51919f` from #240 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/149435f6095e66d304b18443f2a5f5570ebe67a6/src/main/java/com/amihaiemil/docker/UncheckedUriBuilder.java#L73-L74

The puzzle was created by Paulo Lobo on 24-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2018-12-26 08:46] 0pdd commented on #243
@amihaiemil please pay attention to this new issue.

[2018-12-26 08:47] 0crat commented on #243
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-26 08:54] 0crat commented on #243
Job [#243](https://github.com/amihaiemil/docker-java-api/issues/243) is now in scope, role is `DEV`

[2018-12-26 09:10] 0crat commented on #240
The job [#240](https://github.com/amihaiemil/docker-java-api/issues/240) is now out of scope

[2018-12-26 09:10] 0crat commented on #240
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-26 10:39] 0crat commented on #241
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-26 12:30] 0crat commented on #170
The job [#170](https://github.com/amihaiemil/docker-java-api/issues/170) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/5dba27f0-61ba-4281-8a94-a704c3c5d5b7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2018-12-26 16:36] amihaiemil opened #244 "Let's add user-agent header"
We should add the [User-Agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent) HTTP header to all our requests.

[2018-12-26 17:08] paulodamaso commented on #230
@bkuzmic How methods should work? Which pair should we return on `encoded` method?

[2018-12-26 17:31] 0crat commented on #244
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-26 19:21] paulodamaso commented on #236
@0crat wait for #245 review

[2018-12-26 19:50] bkuzmic commented on #230
@paulodamaso Above in the ticket is the example of how the Json should be structured. This Json is then Base64 encoded. One pair is registry url (key) and auth configuration object (value).
In order to support multiple registries and auth config objects, you need to create a constructor that will allow that. One possible implementation is that the constructor can receive a list of objects (call it

[2018-12-26 20:02] paulodamaso commented on #230
@bkuzmic Now I've got confused: shouldn't we use a `Map<URL, Supplier<String>>` for storing those registries? And then, when we would execute the encoded method, we should pass which URL we want. WDTY?

[2018-12-26 20:16] bkuzmic commented on #230
@paulodamaso You could use Map (this is probably something amihaiemil would prefer :)).
Encoded method must encode all the available registries. In the example above you have two registries: `docker.example.com` and `https://index.docker.io/v1/` and the result of the encoded method is Base64 of complete Json.

[2018-12-27 10:57] paulodamaso commented on #230
@0crat wait for #247 review

[2018-12-27 10:58] 0crat commented on #230
@paulodamaso The impediment for [#230](https://github.com/amihaiemil/docker-java-api/issues/230) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-27 12:59] bkuzmic commented on #221
@0crat wait for #233 review

[2018-12-27 13:00] 0crat commented on #221
@bkuzmic The impediment for [#221](https://github.com/amihaiemil/docker-java-api/issues/221) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-27 13:01] bkuzmic commented on #235
@0crat wait for #239 review

[2018-12-27 13:02] 0crat commented on #235
@bkuzmic The impediment for [#235](https://github.com/amihaiemil/docker-java-api/issues/235) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-27 13:02] bkuzmic commented on #237
@0crat wait for #246 review

[2018-12-27 13:03] 0crat commented on #237
@bkuzmic The impediment for [#237](https://github.com/amihaiemil/docker-java-api/issues/237) was registered successfully by @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-28 14:13] 0pdd commented on #221
The puzzle `208-b6677773` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-28 14:13] #221 closed

[2018-12-28 14:13] 0pdd opened #250 "Plugins.java:35-37: Implement getting plugin privileges...."
The puzzle `232-809c2fc5` from #232 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/07b603c2b2f71f9f4c9a2f0baac111c3d44a4a75/src/main/java/com/amihaiemil/docker/Plugins.java#L35-L37

The puzzle was created by @rultor on 28-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2018-12-28 14:13] 0pdd commented on #250
@amihaiemil please pay attention to this new issue.

[2018-12-28 14:13] 0pdd opened #251 "ListedPlugins.java:36-37: Implement ListedPlugins..."
The puzzle `231-26b2fef3` from #231 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/07b603c2b2f71f9f4c9a2f0baac111c3d44a4a75/src/main/java/com/amihaiemil/docker/ListedPlugins.java#L36-L37

The puzzle was created by @rultor on 28-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2018-12-28 14:13] 0pdd commented on #251
@amihaiemil please pay attention to this new issue.

[2018-12-28 14:13] 0crat commented on #251
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-28 14:14] 0crat commented on #250
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-28 14:19] 0crat commented on #251
Job [#251](https://github.com/amihaiemil/docker-java-api/issues/251) is now in scope, role is `DEV`

[2018-12-28 14:19] 0crat commented on #250
Job [#250](https://github.com/amihaiemil/docker-java-api/issues/250) is now in scope, role is `DEV`

[2018-12-28 14:41] 0crat commented on #221
The job [#221](https://github.com/amihaiemil/docker-java-api/issues/221) is now out of scope

[2018-12-28 14:43] 0crat commented on #221
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2018-12-31 12:38] 0crat commented on #170
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-02 10:51] 0pdd commented on #235
The puzzle `224-36c37640` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-02 10:51] #235 closed

[2019-01-02 11:19] 0crat commented on #213
The job [#213](https://github.com/amihaiemil/docker-java-api/issues/213) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/02206b8f-929f-4763-851e-d5ef502ca17c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-02 11:25] 0pdd opened #252 "LocalDockerITCase.java:42-46: Fix Volumes object return..."
The puzzle `241-dc39c29f` from #241 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/df0c1bc2dd0f7672e494698971faf65a183642a3/src/test/java/com/amihaiemil/docker/LocalDockerITCase.java#L42-L46

The puzzle was created by Paulo Lobo on 27-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-01-02 11:33] 0crat commented on #213
Job `gh:amihaiemil/docker-java-api#213` already assigned to @bkuzmic, can't assign to @bkuzmic

[2019-01-02 11:49] 0crat commented on #252
Job [#252](https://github.com/amihaiemil/docker-java-api/issues/252) is now in scope, role is `DEV`

[2019-01-02 11:54] 0crat commented on #243
The job [#243](https://github.com/amihaiemil/docker-java-api/issues/243) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/15ff4102-88f1-411f-adca-71ecc1b1ed4c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-02 11:54] 0crat commented on #235
The job [#235](https://github.com/amihaiemil/docker-java-api/issues/235) is now out of scope

[2019-01-02 11:54] 0crat commented on #243
Job `gh:amihaiemil/docker-java-api#243` already assigned to @bkuzmic, can't assign to @bkuzmic

[2019-01-02 11:54] 0crat commented on #243
Job `gh:amihaiemil/docker-java-api#243` already assigned to @bkuzmic, can't assign to @bkuzmic

[2019-01-02 11:54] 0crat commented on #243
Job `gh:amihaiemil/docker-java-api#243` already assigned to @bkuzmic, can't assign to @bkuzmic

[2019-01-02 11:57] 0crat commented on #235
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-02 12:02] 0crat commented on #251
The job [#251](https://github.com/amihaiemil/docker-java-api/issues/251) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/3cf820a4-569d-4554-a369-43eb526571c0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-02 12:03] 0crat commented on #244
The job [#244](https://github.com/amihaiemil/docker-java-api/issues/244) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/a3b91724-1144-40f3-92c9-b21d870bef6c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-02 12:04] 0crat commented on #250
The job [#250](https://github.com/amihaiemil/docker-java-api/issues/250) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/42b930c1-c6c0-418e-afcb-0bb8b6c00680); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-02 12:20] paulodamaso commented on #230
@bkuzmic Merged, please take a look

[2019-01-02 12:52] paulodamaso commented on #241
@sbespalov Merged, please close

[2019-01-02 13:15] amihaiemil commented on #244
@bkuzmic I think we should make an ``HttpClient`` decorator for this, rather than change every single place where an ``HttpRequest`` is instantiated :D

[2019-01-02 13:48] 0crat commented on #241
The job [#241](https://github.com/amihaiemil/docker-java-api/issues/241) is now out of scope

[2019-01-02 13:50] 0crat commented on #241
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-02 14:01] RobertoGraham commented on #244
http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/client/protocol/RequestDefaultHeaders.html

[2019-01-02 14:14] amihaiemil commented on #244
@RobertoGraham great, thanks. I had no idea about that :)

@bkuzmic Let's use interceptors then.

[2019-01-02 15:00] RobertoGraham commented on #244
I would personally do like the following on all your HttpClientBuilders, not sure how to do the Rultor version injection thing though

[code]

[2019-01-03 12:03] 0pdd commented on #237
The puzzle `226-beabec1e` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-03 12:03] #237 closed

[2019-01-03 12:16] #170 closed

[2019-01-03 12:16] 0pdd commented on #170
The puzzle `98-994768b7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-03 12:16] 0pdd opened #254 "Images.java:39-41: Continue implementing the rest of the..."
The puzzle `170-7ce1b713` from #170 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/91e4e755b50353ea67ab0e9d6cc5453af66b1688/src/main/java/com/amihaiemil/docker/Images.java#L39-L41

The puzzle was created by Paulo Lobo on 27-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-01-03 12:16] 0pdd commented on #254
@amihaiemil please pay attention to this new issue.

[2019-01-03 12:16] #243 closed

[2019-01-03 12:16] 0pdd commented on #243
The puzzle `240-9a51919f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-03 12:18] 0crat commented on #254
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-03 12:30] amihaiemil commented on #236
@paulodamaso You left the puzzle in the code. Is it intentional or it can be removed/altered?

[2019-01-03 12:58] 0crat commented on #237
The job [#237](https://github.com/amihaiemil/docker-java-api/issues/237) is now out of scope

[2019-01-03 13:04] 0crat commented on #243
Job was finished in 24 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-03 13:04] 0crat commented on #237
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-03 13:19] 0crat commented on #170
The job [#170](https://github.com/amihaiemil/docker-java-api/issues/170) is now out of scope

[2019-01-03 13:19] 0crat commented on #243
The job [#243](https://github.com/amihaiemil/docker-java-api/issues/243) is now out of scope

[2019-01-03 19:09] nmaguiar opened #256 "Exception while trying to use Logs.fetch() with docker 18.09"
Using release 0.0.6 in a container, with docker 18.09, fails whenever trying to use the logs().fetch() method for another container with the following exception:

[code]
From what I understood from "Bad parameters: you must choose at least one stream", it looks like it's necessary to specify if its stdout or stderr since both, by default, are false.

[2019-01-03 19:09] 0crat commented on #256
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-03 19:09] 0crat commented on #256
@nmaguiar[/z](https://www.0crat.com/u/nmaguiar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-03 19:38] amihaiemil commented on #256
@nmaguiar thanks, definetely a bug. And many thanks for the donation, much appreciated.

We'll fix it asap. In the meantime, try to use [this](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/LocalDocker.java#L65) ctor, perhaps you can use the API version 1.39? Long shot, but maybe it works.

[2019-01-03 19:54] 0crat commented on #256
Thanks for your contribution, @nmaguiar[/z](https://www.0crat.com/u/nmaguiar)! If you would be a member of [the project](https://www.0crat.com/p/G6LPQQV2P), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-01-03 19:56] 0crat commented on #256
The job [#256](https://github.com/amihaiemil/docker-java-api/issues/256) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/5c3bde95-3136-4e03-8944-34a765e8ed4a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-01-03 19:56] #236 closed

[2019-01-03 19:56] 0pdd commented on #236
The puzzle `225-64e49112` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-03 19:56] 0crat commented on #256
Job `gh:amihaiemil/docker-java-api#256` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-01-03 19:58] 0crat commented on #256
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-03 20:10] nmaguiar commented on #256
Thank you. Just tried with v1.39 but, unfortunately, got the same exception.

[2019-01-03 20:21] 0crat commented on #236
The job [#236](https://github.com/amihaiemil/docker-java-api/issues/236) is now out of scope

[2019-01-03 20:21] 0crat commented on #236
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-03 20:48] 0pdd commented on #183
The puzzle `130-0345812b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-03 20:48] #183 closed

[2019-01-03 20:48] 0pdd opened #258 "RtLogs.java:46-50: Apparently, either stderr or stdout..."
The puzzle `256-b806f1e5` from #256 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ef61751b7d34d3dc9611570be71eab03d1e10a61/src/main/java/com/amihaiemil/docker/RtLogs.java#L46-L50

The puzzle was created by @amihaiemil on 03-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-01-03 20:48] 0pdd commented on #258
@amihaiemil please pay attention to this new issue.

[2019-01-03 20:48] 0pdd opened #259 "RtLogsITCase.java:41-45: Fix the IT case for follow(), it..."
The puzzle `256-2502f853` from #256 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ef61751b7d34d3dc9611570be71eab03d1e10a61/src/test/java/com/amihaiemil/docker/RtLogsITCase.java#L41-L45

The puzzle was created by amihaiemil on 03-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2019-01-03 20:48] 0pdd commented on #259
@amihaiemil please pay attention to this new issue.

[2019-01-03 20:48] 0crat commented on #259
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-03 20:49] 0crat commented on #258
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-03 20:50] amihaiemil opened #260 "Release 0.0.7"
Let's release 0.0.7, it contains quite some new stuff (related Networks, Volumes, Plugins etc) and also a bug fix for #256 .

[2019-01-03 20:50] amihaiemil commented on #260
@rultor release it, tag is `0.0.7`

[2019-01-03 20:51] rultor commented on #260
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17149-451272812)

[2019-01-03 20:54] 0crat commented on #259
Job [#259](https://github.com/amihaiemil/docker-java-api/issues/259) is now in scope, role is `DEV`

[2019-01-03 20:54] 0crat commented on #258
Job [#258](https://github.com/amihaiemil/docker-java-api/issues/258) is now in scope, role is `DEV`

[2019-01-03 20:54] rultor commented on #260
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/17149-451272812) (took me 3min)

[2019-01-03 20:55] #260 closed

[2019-01-03 20:56] amihaiemil commented on #256
@nmaguiar fixed. For now, it'll read both stdout and sterr, there is a puzzle to make that customizable. Version 0.0.7 released, you should be able to take it from Maven Central already.

Can you close this? If I do it, I think the PM will complain :D

[2019-01-03 21:11] 0crat commented on #183
Job `gh:amihaiemil/docker-java-api#183` is not assigned, can't get performer

[2019-01-03 21:16] 0crat commented on #260
Job `gh:amihaiemil/docker-java-api#260` is not assigned, can't get performer

[2019-01-03 21:16] 0crat commented on #183
This job is not in scope

[2019-01-03 21:19] 0crat commented on #260
This job is not in scope

[2019-01-03 21:46] 0crat commented on #256
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-03 21:51] 0crat commented on #256
The job [#256](https://github.com/amihaiemil/docker-java-api/issues/256) is now out of scope

[2019-01-03 21:53] 0crat commented on #256
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-04 10:24] 0pdd opened #263 "UserAgentRequestHeader.java:37-40: Replace hardcoded..."
The puzzle `244-6ed263ee` from #244 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/7d5ba49da9fa95d757cedd2e215d1607f8ae8bc3/src/main/java/com/amihaiemil/docker/UserAgentRequestHeader.java#L37-L40

The puzzle was created by Boris Kuzmic on 03-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2019-01-04 10:30] 0crat commented on #263
Job [#263](https://github.com/amihaiemil/docker-java-api/issues/263) is now in scope, role is `DEV`

[2019-01-04 10:45] 0crat commented on #244
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-04 10:49] 0crat commented on #244
The job [#244](https://github.com/amihaiemil/docker-java-api/issues/244) is now out of scope

[2019-01-04 10:50] 0crat commented on #244
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-04 11:46] paulodamaso commented on #230
@bkuzmic ping

[2019-01-04 11:47] 0pdd commented on #213
The puzzle `183-9aed8aaf` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-04 11:47] #213 closed

[2019-01-04 11:51] bkuzmic commented on #230
@paulodamaso Thanks. I'll close the issue now.

[2019-01-04 11:51] #230 closed

[2019-01-04 12:13] 0crat commented on #213
The job [#213](https://github.com/amihaiemil/docker-java-api/issues/213) is now out of scope

[2019-01-04 12:15] 0crat commented on #230
The job [#230](https://github.com/amihaiemil/docker-java-api/issues/230) is now out of scope

[2019-01-04 12:17] 0crat commented on #213
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-04 12:19] 0crat commented on #230
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-04 12:20] 0crat commented on #259
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) not enough funds available in the project, can't set budget of job [#259](https://github.com/amihaiemil/docker-java-api/issues/259), see [§21](http://www.zerocracy.com/policy.html#21); @bkuzmic[/z](https://www.0crat.com/u/bkuzmic) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-04 13:49] 0pdd opened #266 "Plugin.java:37-39: Continue implementing rest of the..."
The puzzle `251-3182eb87` from #251 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/9920ccd170f43e675ffe17a7bea86f0b349c64dc/src/main/java/com/amihaiemil/docker/Plugin.java#L37-L39

The puzzle was created by Boris Kuzmic on 04-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-01-04 13:49] 0pdd commented on #266
@amihaiemil please pay attention to this new issue.

[2019-01-04 13:50] 0crat commented on #266
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-04 13:56] 0crat commented on #266
Job [#266](https://github.com/amihaiemil/docker-java-api/issues/266) is now in scope, role is `DEV`

[2019-01-04 14:07] 0crat commented on #258
The job [#258](https://github.com/amihaiemil/docker-java-api/issues/258) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/abad68d0-ee5d-4051-b852-4b3dd45a0b06); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-04 14:08] 0crat commented on #263
The job [#263](https://github.com/amihaiemil/docker-java-api/issues/263) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/442402d5-4c82-4d9c-8eb9-9884232e0fd6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-04 14:21] 0crat commented on #266
The job [#266](https://github.com/amihaiemil/docker-java-api/issues/266) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/bdf0ff2f-260f-4396-9ba8-c5f209b526dd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2019-01-06 18:51] 0pdd commented on #266
The puzzle `251-3182eb87` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-06 18:51] #266 closed

[2019-01-06 18:51] 0pdd opened #268 "Plugin.java:37-39: Continue implementing rest of the..."
The puzzle `266-a4a8ef70` from #266 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/b6debd0aa281e881585915f0309a5592183f5372/src/main/java/com/amihaiemil/docker/Plugin.java#L37-L39

The puzzle was created by Paulo Lobo on 04-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-01-06 18:51] 0pdd commented on #268
@amihaiemil please pay attention to this new issue.

[2019-01-06 18:51] 0pdd opened #269 "RtPluginTestCase.java:47-49: Implement Plugin#enable and..."
The puzzle `266-a7f3093d` from #266 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/b6debd0aa281e881585915f0309a5592183f5372/src/test/java/com/amihaiemil/docker/RtPluginTestCase.java#L47-L49

The puzzle was created by Paulo Lobo on 04-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-01-06 18:51] 0pdd commented on #269
@amihaiemil please pay attention to this new issue.

[2019-01-06 18:51] 0crat commented on #269
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-06 18:52] 0crat commented on #268
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-06 18:55] 0crat commented on #269
Job [#269](https://github.com/amihaiemil/docker-java-api/issues/269) is now in scope, role is `DEV`

[2019-01-06 18:58] 0crat commented on #268
Job [#268](https://github.com/amihaiemil/docker-java-api/issues/268) is now in scope, role is `DEV`

[2019-01-06 19:19] 0crat commented on #266
The job [#266](https://github.com/amihaiemil/docker-java-api/issues/266) is now out of scope

[2019-01-07 09:37] #250 closed

[2019-01-07 09:37] 0pdd commented on #250
The puzzle `232-809c2fc5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-07 10:04] 0crat commented on #250
The job [#250](https://github.com/amihaiemil/docker-java-api/issues/250) is now out of scope

[2019-01-07 10:06] 0crat commented on #250
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-07 10:07] 0crat commented on #269
The job [#269](https://github.com/amihaiemil/docker-java-api/issues/269) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/e330ebbf-c958-4b35-9097-4b49aa88d9d4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-07 10:09] 0crat commented on #268
The job [#268](https://github.com/amihaiemil/docker-java-api/issues/268) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/acf409d6-74e3-4e0e-9d96-e5632f5bab56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-07 10:52] 0pdd commented on #251
The puzzle `231-26b2fef3` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-07 10:52] #251 closed

[2019-01-07 11:13] 0crat commented on #251
The job [#251](https://github.com/amihaiemil/docker-java-api/issues/251) is now out of scope

[2019-01-07 11:20] 0crat commented on #251
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-08 08:14] amihaiemil commented on #254
@0crat boost 6x

[2019-01-08 08:14] 0crat commented on #254
@amihaiemil Boost 6x was set for [#254](https://github.com/amihaiemil/docker-java-api/issues/254)

[2019-01-08 08:15] 0crat commented on #254
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-08 08:57] amihaiemil opened #275 "New year, change copyright headers"
All headers should go from ``2018`` to ``2018-2019``. I would use ``grep/sed`` to change them all in one shot.

[2019-01-08 08:58] 0crat commented on #275
Job [#275](https://github.com/amihaiemil/docker-java-api/issues/275) is now in scope, role is `DEV`

[2019-01-08 09:04] 0crat commented on #275
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-08 09:09] #254 closed

[2019-01-08 09:09] 0pdd commented on #254
The puzzle `170-7ce1b713` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-08 09:09] 0pdd opened #276 "Images.java:43-46: Implement importImage method and..."
The puzzle `254-a138a3f9` from #254 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ed486797221b5598338ad9ae031bc38ae2e89048/src/main/java/com/amihaiemil/docker/Images.java#L43-L46

The puzzle was created by @amihaiemil on 08-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-01-08 09:09] 0pdd commented on #276
@amihaiemil please pay attention to this new issue.

[2019-01-08 09:09] 0pdd opened #277 "Images.java:47-49: ImportFromTar method should return..."
The puzzle `254-cfdd63b2` from #254 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ed486797221b5598338ad9ae031bc38ae2e89048/src/main/java/com/amihaiemil/docker/Images.java#L47-L49

The puzzle was created by @amihaiemil on 08-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-01-08 09:09] 0pdd commented on #277
@amihaiemil please pay attention to this new issue.

[2019-01-08 09:10] 0crat commented on #277
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-08 09:11] 0crat commented on #276
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-08 09:16] 0crat commented on #277
Job [#277](https://github.com/amihaiemil/docker-java-api/issues/277) is now in scope, role is `DEV`

[2019-01-08 09:19] 0crat commented on #276
Job [#276](https://github.com/amihaiemil/docker-java-api/issues/276) is now in scope, role is `DEV`

[2019-01-08 09:21] 0crat commented on #277
The job [#277](https://github.com/amihaiemil/docker-java-api/issues/277) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/4ea836c4-49d3-427c-bc25-ef9e3c4b9ebf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-01-08 09:21] 0crat commented on #277
Job `gh:amihaiemil/docker-java-api#277` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-01-08 09:33] 0crat commented on #254
The job [#254](https://github.com/amihaiemil/docker-java-api/issues/254) is now out of scope

[2019-01-08 09:33] 0crat commented on #254
Order was finished: +90 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-08 09:34] 0crat commented on #276
The job [#276](https://github.com/amihaiemil/docker-java-api/issues/276) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/4f213a44-9722-444f-9df5-5860d3886de3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-08 10:42] 0crat commented on #275
The job [#275](https://github.com/amihaiemil/docker-java-api/issues/275) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/d0525e44-3a36-4aca-a797-4e2fb859dd8f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-08 11:00] #258 closed

[2019-01-08 11:00] 0pdd commented on #258
The puzzle `256-b806f1e5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-08 11:00] 0pdd opened #278 "RtLogs.java:46-48: Find a way to create more elegant..."
The puzzle `258-bab15301` from #258 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/38a0878e03d4daa5fa056baad72157d8da4a320b/src/main/java/com/amihaiemil/docker/RtLogs.java#L46-L48

The puzzle was created by Boris Kuzmic on 08-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-01-08 11:00] 0pdd commented on #278
@amihaiemil please pay attention to this new issue.

[2019-01-08 11:01] 0crat commented on #278
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-08 11:04] #263 closed

[2019-01-08 11:04] 0pdd commented on #263
The puzzle `244-6ed263ee` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-08 11:09] 0crat commented on #278
Job [#278](https://github.com/amihaiemil/docker-java-api/issues/278) is now in scope, role is `DEV`

[2019-01-08 11:33] 0crat commented on #258
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-08 11:38] 0crat commented on #263
The job [#263](https://github.com/amihaiemil/docker-java-api/issues/263) is now out of scope

[2019-01-08 11:40] 0crat commented on #263
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-08 11:46] 0crat commented on #278
The job [#278](https://github.com/amihaiemil/docker-java-api/issues/278) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/6359791c-9992-4b43-bcc3-7f6b33d7f4f6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-09 08:55] #275 closed

[2019-01-09 09:00] 0pdd commented on #269
The puzzle `266-a7f3093d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-09 09:00] #269 closed

[2019-01-09 09:17] 0crat commented on #275
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-09 09:22] 0crat commented on #275
The job [#275](https://github.com/amihaiemil/docker-java-api/issues/275) is now out of scope

[2019-01-09 09:22] 0crat commented on #269
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-09 09:37] #268 closed

[2019-01-09 09:37] 0pdd commented on #268
The puzzle `266-a4a8ef70` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-09 09:37] 0pdd opened #283 "RtPluginTestCase.java:55-56: Extract method..."
The puzzle `266-4b137964` from #266 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/1968fbabdcd774600be253b1ecd0b173daba56e8/src/test/java/com/amihaiemil/docker/RtPluginTestCase.java#L55-L56

The puzzle was created by Boris Kuzmic on 08-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-01-09 09:37] 0pdd commented on #283
@amihaiemil please pay attention to this new issue.

[2019-01-09 09:37] 0pdd opened #284 "Plugin.java:37-40: Implement Plugin#configure method. The..."
The puzzle `266-797919e3` from #266 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/1968fbabdcd774600be253b1ecd0b173daba56e8/src/main/java/com/amihaiemil/docker/Plugin.java#L37-L40

The puzzle was created by Boris Kuzmic on 08-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-01-09 09:37] 0pdd commented on #284
@amihaiemil please pay attention to this new issue.

[2019-01-09 09:38] 0crat commented on #284
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-09 09:38] 0crat commented on #283
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-09 10:08] 0crat commented on #284
Job [#284](https://github.com/amihaiemil/docker-java-api/issues/284) is now in scope, role is `DEV`

[2019-01-09 10:08] 0crat commented on #283
Job [#283](https://github.com/amihaiemil/docker-java-api/issues/283) is now in scope, role is `DEV`

[2019-01-09 10:12] 0crat commented on #268
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-09 10:15] 0crat commented on #268
The job [#268](https://github.com/amihaiemil/docker-java-api/issues/268) is now out of scope

[2019-01-09 10:15] 0crat commented on #268
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-09 10:15] 0crat commented on #284
The job [#284](https://github.com/amihaiemil/docker-java-api/issues/284) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/6ffb7be1-8d60-4eee-bc0f-1b994d2327f8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-09 10:21] 0crat commented on #283
The job [#283](https://github.com/amihaiemil/docker-java-api/issues/283) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/9c7eba63-96f5-4b8d-a985-ff73e5b7a2a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-09 11:10] amihaiemil opened #285 "test for 0crat"
let's see if 0crat adds issues with only the ``pdd`` label to scope

[2019-01-09 13:07] amihaiemil commented on #285
@0crat ping

[2019-01-09 13:11] 0crat commented on #285
@amihaiemil Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2019-01-09 13:34] 0crat commented on #285
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-09 13:38] 0crat commented on #285
@amihaiemil Job `gh:amihaiemil/docker-java-api#285` is not assigned, can't get performer

[2019-01-09 13:39] 0crat commented on #285
@amihaiemil The job [#285](https://github.com/amihaiemil/docker-java-api/issues/285) is now out of scope

[2019-01-09 13:46] 0crat commented on #278
Job was finished in 25 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-09 13:52] 0crat commented on #278
The job [#278](https://github.com/amihaiemil/docker-java-api/issues/278) is now out of scope

[2019-01-09 13:52] 0crat commented on #278
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-09 14:31] #285 closed

[2019-01-09 14:48] 0crat commented on #285
Job `gh:amihaiemil/docker-java-api#285` is not assigned, can't get performer

[2019-01-09 14:48] 0crat commented on #285
This job is not in scope

[2019-01-09 16:26] amihaiemil opened #287 "Closer to Java 9: add Automatic-Module-Name"
Let's add ``Automatic-Module-Name`` into the Manifest.MF file, via ``maven-jar-plugin`` ``<configuration`` tag:

[code]

Source [here](https://blog.frankel.ch/hard-look-state-java-modularization/).

[2019-01-09 16:34] 0crat commented on #287
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-09 16:34] 0crat commented on #287
The job [#287](https://github.com/amihaiemil/docker-java-api/issues/287) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1b03a6bd-9f60-4a96-a0d7-5f41219871c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-10 11:45] #276 closed

[2019-01-10 11:45] 0pdd commented on #276
The puzzle `254-a138a3f9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-10 11:50] bkuzmic commented on #277
@amihaiemil I've looked at the method again on (https://docs.docker.com/engine/api/v1.35/#operation/ImageLoad) and it is for importing multiple images at once, using tar file. So, you will need to have a return type `Iterator<Image> `. Also, I guess the only way to know image names is to extract the tar file locally and read contents of `repositories` file. Another way would be to force the user t

[2019-01-10 12:06] 0crat commented on #276
The job [#276](https://github.com/amihaiemil/docker-java-api/issues/276) is now out of scope

[2019-01-10 12:09] 0crat commented on #276
Order was finished: +30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-11 07:56] 0pdd commented on #283
The puzzle `266-4b137964` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-11 07:56] #283 closed

[2019-01-11 08:11] 0pdd commented on #284
The puzzle `266-797919e3` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-11 08:11] #284 closed

[2019-01-11 08:21] 0crat commented on #283
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-11 08:27] #287 closed, assigned to nobody

[2019-01-11 08:34] 0crat commented on #283
The job [#283](https://github.com/amihaiemil/docker-java-api/issues/283) is now out of scope

[2019-01-11 08:38] 0crat commented on #283
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-11 08:39] 0crat commented on #284
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-11 08:50] 0crat commented on #284
The job [#284](https://github.com/amihaiemil/docker-java-api/issues/284) is now out of scope

[2019-01-11 08:50] 0crat commented on #284
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-11 08:50] 0crat commented on #287
Job was finished in 39 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-11 08:57] 0crat commented on #287
The job [#287](https://github.com/amihaiemil/docker-java-api/issues/287) is now out of scope

[2019-01-11 08:58] 0crat commented on #287
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-14 13:18] 0pdd commented on #277
The puzzle `254-cfdd63b2` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-14 13:18] #277 closed

[2019-01-14 13:48] 0crat commented on #277
The job [#277](https://github.com/amihaiemil/docker-java-api/issues/277) is now out of scope

[2019-01-14 13:49] amihaiemil opened #293 "Release 0.0.8"
Let's release 0.0.8, it has some new stuff:

* new Images methods
* Logs options (currently for stdout and stderr)
* User-Agent HTTP header

[2019-01-14 13:49] amihaiemil commented on #293
@rultor release, tag is `0.0.8`

[2019-01-14 13:49] rultor commented on #293
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17337-454010418)

[2019-01-14 13:51] 0crat commented on #277
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 13:53] 0crat commented on #293
The job [#293](https://github.com/amihaiemil/docker-java-api/issues/293) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/f78e0350-86a9-4b72-811a-3f7d32b6ece7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-01-14 13:54] rultor commented on #293
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/17337-454010418) (took me 5min)

[2019-01-14 13:55] 0crat commented on #293
Job `gh:amihaiemil/docker-java-api#293` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-01-14 14:01] 0crat commented on #293
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 14:01] 0crat commented on #293
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 14:01] 0crat commented on #293
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 14:01] #293 closed

[2019-01-14 14:18] 0crat commented on #293
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-15 16:33] paulodamaso commented on #252
@0crat refuse, I can't run these tests in windows

[2019-01-15 16:34] 0crat commented on #252
@paulodamaso Can't understand "refuse,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from

[2019-01-15 17:14] amihaiemil commented on #252
@0crat refuse

[2019-01-15 17:14] amihaiemil commented on #252
@0crat assign me

[2019-01-15 17:16] 0crat commented on #252
@amihaiemil The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#252](https://github.com/amihaiemil/docker-java-api/issues/252), please stop working. Reason for job resignation: Order was cancelled

[2019-01-15 17:21] 0crat commented on #252
The job [#252](https://github.com/amihaiemil/docker-java-api/issues/252) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/d10394cb-5a8d-4727-8c74-7aaa323878b9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-16 12:57] 0crat commented on #259
The user @bkuzmic[/z](https://www.0crat.com/u/bkuzmic) resigned from [#259](https://github.com/amihaiemil/docker-java-api/issues/259), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-16 12:59] 0crat commented on #259
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-16 13:00] 0crat commented on #259
Job `gh:amihaiemil/docker-java-api#259` is not assigned, can't get performer

[2019-01-16 13:02] 0crat commented on #259
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-16 13:21] amihaiemil commented on #252
@0crat boost 6x

[2019-01-16 13:46] 0crat commented on #252
@amihaiemil Boost 6x was set for [#252](https://github.com/amihaiemil/docker-java-api/issues/252)

[2019-01-16 13:57] 0crat commented on #252
@amihaiemil The job [#252](https://github.com/amihaiemil/docker-java-api/issues/252) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/544eae9b-c29b-4813-9f1d-eecb25367fbd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.z

[2019-01-16 13:58] amihaiemil commented on #252
@0crat assign @bkuzmic

[2019-01-16 14:30] 0crat commented on #252
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-16 14:36] 0crat commented on #252
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-16 14:54] 0crat commented on #252
@amihaiemil The job [#252](https://github.com/amihaiemil/docker-java-api/issues/252) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/7dcd24cd-a1d0-42c3-bf17-61afbf447ce8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2019-01-16 15:05] 0crat commented on #252
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-01-16 15:15] 0crat commented on #252
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-17 10:00] #252 closed

[2019-01-17 10:00] 0pdd commented on #252
The puzzle `241-dc39c29f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-17 10:01] amihaiemil opened #295 "Release 0.0.9"
Let's release ``0.0.9``, it contains an important [bug fix](https://github.com/amihaiemil/docker-java-api/issues/241).

[2019-01-17 10:02] amihaiemil commented on #295
@rultor release it, tag is `0.0.9`

[2019-01-17 10:04] rultor commented on #295
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17392-455113568)

[2019-01-17 10:20] rultor commented on #295
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/17392-455113568) (took me 16min)

[2019-01-17 10:47] #295 closed

[2019-01-17 11:35] 0crat commented on #252
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-17 12:58] 0crat commented on #295
Job `gh:amihaiemil/docker-java-api#295` is not assigned, can't get performer

[2019-01-17 12:58] 0crat commented on #252
The job [#252](https://github.com/amihaiemil/docker-java-api/issues/252) is now out of scope

[2019-01-17 13:13] 0crat commented on #295
This job is not in scope

[2019-01-17 13:13] 0crat commented on #252
Order was finished: +35 point(s) just awarded to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic)

[2019-01-17 13:23] 0crat commented on #259
The job [#259](https://github.com/amihaiemil/docker-java-api/issues/259) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/cc2cf0e8-707b-4d9b-9f1d-b1a68f56a0ae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-01-17 13:31] 0crat commented on #259
Job `gh:amihaiemil/docker-java-api#259` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-01-17 13:31] 0crat commented on #259
Job `gh:amihaiemil/docker-java-api#259` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-01-17 13:31] 0crat commented on #259
Job `gh:amihaiemil/docker-java-api#259` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-02-20 19:48] thatsIch opened #296 "Support for Docker Event System"
Docker enables to listen to its own Event-System by levering the `docker events [Options]` cli-command.
That way you can listen to specific events in your own application like `create` or `health_status`. This allows reacting to a specific event without polling and parsing the `docker events` yourself.

Example implementation in other libraries are

* https://github.com/docker-java/docker-java/blo

[2019-02-20 19:48] 0crat commented on #296
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-20 19:48] 0crat commented on #296
@thatsich[/z](https://www.0crat.com/u/thatsich) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-22 09:56] amihaiemil commented on #296
@thatsIch Thanks for the ticket! I will have a look over it these next few days :)

[2019-02-22 10:03] 0crat commented on #296
Job [#296](https://github.com/amihaiemil/docker-java-api/issues/296) is now in scope, role is `DEV`

[2019-02-22 10:07] 0crat commented on #296
Thanks for your contribution, @thatsich[/z](https://www.0crat.com/u/thatsich)! If you would be a member of [the project](https://www.0crat.com/p/G6LPQQV2P), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-02-22 21:00] amihaiemil commented on #296
@rultor release it, tag is `0.0.10`

[2019-02-22 21:00] rultor commented on #296
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17993-466545985)

[2019-02-22 21:04] rultor commented on #296
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/17993-466545985) (took me 3min)

[2019-02-22 21:06] amihaiemil commented on #296
@thatsIch I just released version ``0.0.10``, with a first sketch of the functionality. Please, try it, see if it works:

[code]

The Reader should read the streamed events, which are in Json format, as explained here:
https://docs.docker.com/engine/api/v1.37/#operation/SystemEvents

[2019-02-22 23:45] thatsIch commented on #296
Thanks! I will take a look at it tomorrow

[2019-02-23 11:57] thatsIch commented on #296
Since windows version of docker does [not support unix sockets](https://github.com/moby/moby/issues/36442) and the suggested [npipe protocol nor tcp protocol] (https://docs.docker.com/docker-for-windows/faqs/#/how-do-i-connect-to-the-remote-docker-engine-api) is apparently not supported by apache http component, I cannot test it at home.

Is there some other way to test it on windows?

[2019-02-23 14:47] amihaiemil commented on #296
@thatsIch

Are you sure? I think it should work fine if you specify the localhost URL with ``http://``. In order to do that, you must use the ``RemoteDocket`` constructor which expects an ``HttpClient``:

There is no other particular way of testing on Windows.

[2019-02-23 19:12] amihaiemil commented on #296
@thatsIch don't bother with it yet, I did some tests and it doesn't work. I'll have to release it again, but it's a bit more complex (I currently have no idea how to consume a Stream via HttpClient...).

I'll continue to look over it but, if you are in a hurry, you can try to make the request yourself, like this:

[code]

If you do it and manage to get it working, I'd appreciate a PR :)

[2019-02-23 21:19] thatsIch commented on #296
Just to clarify; I get this stacktrace while calling it

<details>
 <summary>Stacktrace</summary>
<pre>
Exception in thread "main" java.lang.UnsatisfiedLinkError: The specified procedure could not be found
	at jnr.ffi.provider.jffi.AsmRuntime.newUnsatisifiedLinkError(AsmRuntime.java:40)
	at jnr.unixsocket.Native$LibC$jnr$ffi$0.socket(Unknown Source)
	at jnr.unixsocket.Native.socket(Native.java:92)

[2019-03-06 08:31] amihaiemil commented on #296
@thatsIch I don't really know about what docker-client is doing with npipe -- I actually started writing my own version because I thought theirs was of really poor quality :)

[2019-03-07 19:11] 0crat commented on #296
The job [#296](https://github.com/amihaiemil/docker-java-api/issues/296) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/295c79f2-4f88-466c-a2d3-033f07554c07); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-21 09:34] amihaiemil opened #299 "docker.events() not working"
The call to docker.events() just halts and waits indefinetely. The reading of the response is probably not done correctly. Let's try to fix it.

[2019-03-21 09:35] amihaiemil commented on #296
@thatsIch It's not implemented, although not working at the moment. We'll continue the fix for it in #299. Closing this now, thanks!

[2019-03-21 09:35] #296 closed

[2019-03-21 09:57] 0crat commented on #299
Job [#299](https://github.com/amihaiemil/docker-java-api/issues/299) is now in scope, role is `DEV`

[2019-03-21 10:30] 0crat commented on #299
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-21 10:32] 0crat commented on #296
The job [#296](https://github.com/amihaiemil/docker-java-api/issues/296) is now out of scope

[2019-03-21 10:33] 0crat commented on #296
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-25 07:25] 0crat commented on #299
The job [#299](https://github.com/amihaiemil/docker-java-api/issues/299) assigned to @bkuzmic[/z](https://www.0crat.com/u/bkuzmic), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/0bbe9357-d0b1-4cac-b1c0-14bb18d9972e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-04-17 09:38] amihaiemil opened #301 "MatchStatus -> MatchStati"
This class should be able to check more stati, not only one, and take handle corresponding ResponseHandlers for each of them.

[2019-04-17 09:45] 0crat commented on #301
Job [#301](https://github.com/amihaiemil/docker-java-api/issues/301) is now in scope, role is `DEV`

[2019-04-17 09:49] 0crat commented on #301
The job [#301](https://github.com/amihaiemil/docker-java-api/issues/301) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/fd7a5d12-1469-410b-83d3-6466d9781f53); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-04-17 09:49] 0crat commented on #301
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-04-22 10:42] 0crat commented on #301
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-05-01 10:17] 0crat commented on #301
The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#301](https://github.com/amihaiemil/docker-java-api/issues/301), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-05-01 10:20] 0crat commented on #301
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-07-07 18:11] kleash opened #302 "container.logs().fetch() returning non-ASCII value"
Hi Everyone,

I am running ubuntu image with command as date.

```docker logs``` is showing correct output but my program is not able to print anything.

Program:

[code]

Output of above is:

[code]

Thanks for any help!!

[2019-07-07 18:11] 0crat commented on #302
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-07-07 18:11] 0crat commented on #302
@kleash[/z](https://www.0crat.com/u/kleash) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-10 11:23] amihaiemil commented on #302
@kleash To be honest, I'm not sure why that happens. The method has both unit and integration tests (with the Docker "hello world" image).

Maybe your Ubuntu container starts and doesn't have any logs to display yet, at the time the method is called. Did you try to see what logs Docker displays in the command line?

[2019-08-01 00:04] maviteixeira opened #303 "Some Itcases need a ubuntu:latest image to pass"
In order to pass all the tests from the RtContainerITCase class you need to have ubuntu:latest pulled in your computer, I think would be nice to have this explicitly in the Readme file.

[2019-08-01 00:05] 0crat commented on #303
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-08-01 00:05] 0crat commented on #303
@maviteixeira[/z](https://www.0crat.com/u/maviteixeira) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-19 19:29] GTP95 opened #307 "Pull image"
Hello,
I'm trying to use your API to pull images from Docker Hub and then inspect them. Based upon the methods' names I think that the way to pull an image should be like:
`final Docker docker = new LocalDocker(
                new File("/var/run/docker.sock")
        );
        docker.images().pull();`
but I see that the pull method takes two String arguments named "s" and "s1" and I don't unders

[2019-08-19 19:29] 0crat commented on #307
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-08-19 19:29] 0crat commented on #307
@gtp95[/z](https://www.0crat.com/u/gtp95) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-20 11:21] amihaiemil commented on #307
@GTP95 that method expects the name of the image and its tag (see [here](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/RtImages.java#L81)).

All the classes and methods have javadocs on them, don't forget to download the sources and javadocs as well, in your IDE. Then, you will also see the parameters with meaningful names, not just s1 and s2.

Ler m

[2019-08-20 20:21] maviteixeira commented on #303
The PR is already merged, should I close it ? @amihaiemil

[2019-08-20 20:28] maviteixeira commented on #187
The test is already in the master branch:
https://github.com/amihaiemil/docker-java-api/pull/306

[2019-08-21 10:01] GTP95 commented on #307
Thanks for your quick answer, I suggest to mention the presence of the javadocs in the wiki. I've implemented another way to obtain what I need but in case I will need again something to interrogate docker from a Java application I will for sure try again with your API ;)

[2019-08-21 10:01] #307 closed

[2019-08-21 11:22] 0crat commented on #307
Job `gh:amihaiemil/docker-java-api#307` is not assigned, can't get performer

[2019-08-21 11:24] 0crat commented on #307
This job is not in scope

[2019-09-29 23:13] #303 closed

[2019-09-29 23:32] 0crat commented on #303
Job `gh:amihaiemil/docker-java-api#303` is not assigned, can't get performer

[2019-09-29 23:32] 0crat commented on #303
This job is not in scope

[2019-09-30 23:30] maviteixeira commented on #301
Should we close the issue based on this PR ?
https://github.com/amihaiemil/docker-java-api/pull/308

@amihaiemil

[2019-10-01 06:15] amihaiemil commented on #301
@maviteixeira yes. let me just assign it to you first, so you get the reputation for it..

[2019-10-01 06:15] amihaiemil commented on #301
@0crat assign @maviteixeira

[2019-10-01 06:17] 0crat commented on #301
@amihaiemil The job [#301](https://github.com/amihaiemil/docker-java-api/issues/301) assigned to @maviteixeira[/z](https://www.0crat.com/u/maviteixeira), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/e0c5d6fb-4f34-4d02-a5e5-97a3c0a37c9d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://w

[2019-10-01 06:18] 0crat commented on #301
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-10-01 06:25] #301 closed

[2019-10-01 06:46] 0crat commented on #301
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-01 06:50] 0crat commented on #301
The job [#301](https://github.com/amihaiemil/docker-java-api/issues/301) is now out of scope

[2019-10-01 06:52] 0crat commented on #301
Order was finished: +35 point(s) just awarded to @maviteixeira[/z](https://www.0crat.com/u/maviteixeira)

[2019-10-28 14:44] amihaiemil commented on #299
@rultor deploy test

[2019-10-28 14:45] rultor commented on #299
@amihaiemil OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20723-546979053)

[2019-10-28 14:51] rultor commented on #299
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20723-546979053) (spent 5min)

[code]

[2019-12-17 08:39] 0pdd opened #309 "RtImagesITCase.java:69-72: To have multiple controlled..."
The puzzle `187-99b12eee` from #187 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/adec112b22042776d6dfd36ade12db8694fc0b17/src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L69-L72

The puzzle was created by @amihaiemil on 17-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2019-12-17 08:39] 0pdd commented on #309
@amihaiemil please pay attention to this new issue.

[2019-12-17 08:39] 0crat commented on #309
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-01-16 16:15] amihaiemil opened #310 "Add abstraction for Engine, Registry and Template APIs"
At the moment the ``Docker`` interface represents only the ``Engine`` API, yet Docker also offers ``Registry`` and ``Template`` APIs. See [here](https://docs.docker.com/registry/spec/api/).

We should make the ``Docker`` interface more abstract. It should offer 3 methods:

[code]

All the methods that are currently on the ``Docker`` interface should be moved on the ``Engine`` interface.

[2020-02-03 16:40] #142 closed

[2020-02-03 16:40] #63 closed

[2020-02-03 16:41] amihaiemil opened #312 "Fail build is coverage is too low"
Continue development from [here](https://github.com/amihaiemil/docker-java-api/issues/63).

[2020-02-03 16:41] amihaiemil opened #313 "Local dockerd over HTTPS"
Continue development from [here](https://github.com/amihaiemil/docker-java-api/issues/142).

[2020-02-03 18:10] 0crat commented on #63
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-03 18:11] 0crat commented on #142
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-04 11:59] Guseyn opened #314 "Please add xml language to code block in Readme"

[2020-02-04 11:59] 0crat commented on #314
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-02-04 11:59] 0crat commented on #314
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 12:41] 0crat commented on #314
The job [#314](https://github.com/amihaiemil/docker-java-api/issues/314) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/28765164-dfab-4f25-a75d-b0a9f2ef132d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-02-04 12:55] 0crat commented on #314
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)