[2018-01-28 09:45] amihaiemil opened #1 "Build the first interfaces of the API"
As per the [documentation](https://docs.docker.com/engine/api/v1.33/), the entry point is ``Docker``, which has ``Containers``, ``Images``, ``Volumes`` etc.

[code]

[2018-01-28 10:42] 0pdd opened #3 "Docker.java:33-34: Start implementing the other parts of..."
The puzzle `1-606fe8a1` from #1 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/605ae372d92aab25fcc7c0253a99f73c45eaf87e/src/main/java/com/amihaiemil/docker/Docker.java#L33-L34

The puzzle was created by Mihai Andronache on 28-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" whe

[2018-01-28 10:42] 0pdd opened #4 "Docker.java:35-37: Add the first implementation of..."
The puzzle `1-36a37d16` from #1 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/605ae372d92aab25fcc7c0253a99f73c45eaf87e/src/main/java/com/amihaiemil/docker/Docker.java#L35-L37

The puzzle was created by Mihai Andronache on 28-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" whe

[2018-01-28 11:39] amihaiemil opened #5 "Add release config"
Release config for rultor

[2018-01-28 15:59] 0pdd commented on #4
The puzzle `1-36a37d16` has disappeared from the source code, that's why I closed this issue.

[2018-01-28 15:59] #4 closed

[2018-01-28 15:59] 0pdd opened #7 "RtDocker.java:41-44: Implement a jcabi-http request which..."
The puzzle `4-aaff06c1` from #4 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/0c54988c6a5c80e7d5e05bfcfda6ebaf31740bc9/src/main/java/com/amihaiemil/docker/RtDocker.java#L41-L44

The puzzle was created by Mihai Andronache on 28-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" w

[2018-01-28 18:09] #7 closed

[2018-01-28 18:09] 0pdd opened #9 "UnixSocket.java:110-111: Implement this method, use..."
The puzzle `7-ed06e452` from #7 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/6ac89f6b4b4259595415f14fbfd8bfe53b0478ef/src/main/java/com/amihaiemil/docker/UnixSocket.java#L110-L111

The puzzle was created by Mihai Andronache on 28-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-01-28 18:09] 0pdd opened #10 "BaseRequest.java:464-470: Implement and unit test method..."
The puzzle `87-bd2cb401` from #87 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/6ac89f6b4b4259595415f14fbfd8bfe53b0478ef/src/main/java/com/amihaiemil/docker/BaseRequest.java#L464-L470

The puzzle was created by Mihai Andronache on 28-Jan-18.

Estimate: 60 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "

[2018-01-28 18:10] amihaiemil commented on #10
this is invalid, the puzzle should be removed at the next push.

[2018-01-28 18:10] #10 closed

[2018-01-30 20:30] amihaiemil opened #11 "LocalDocker and RemoteDocket"
There will be 2 implementations of Docker:

1.  ``LocalDocker``, working through a UnixSocket request, connected to the local docker daemon
2.  ``RemoteDocker``, working thorugh an tcp request, connected to a remove docker daemon.

[2018-01-30 20:36] #9 closed

[2018-01-30 20:36] 0pdd commented on #9
The puzzle `7-ed06e452` has disappeared from the source code, that's why I closed this issue.

[2018-01-30 20:36] 0pdd opened #13 "UnixSocket.java:44-45: Write a test that will open a..."
The puzzle `9-0048a495` from #9 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/0a2ea71109a78da89518f4562a6684fa8ac6cc03/src/main/java/com/amihaiemil/docker/UnixSocket.java#L44-L45

The puzzle was created by Mihai Andronache on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-01-30 20:36] 0pdd opened #14 "UnixSocket.java:119-121: We need an implementation of..."
The puzzle `9-b2c9a2a2` from #9 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/0a2ea71109a78da89518f4562a6684fa8ac6cc03/src/main/java/com/amihaiemil/docker/UnixSocket.java#L119-L121

The puzzle was created by Mihai Andronache on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-01-31 21:43] amihaiemil opened #15 "Docker responds with with 400 after 200"
Any request, to any endpoint, seems to return HTTP 200 OK, the correct response, but then a second response is received, 400 BAD REQUEST.

[2018-02-04 09:30] #15 closed

[2018-02-04 16:51] 0pdd commented on #14
The puzzle `9-b2c9a2a2` has disappeared from the source code, that's why I closed this issue.

[2018-02-04 16:51] #14 closed

[2018-02-04 16:51] 0pdd opened #18 "SocketResponse.java:39: Implement and test the headers()..."
The puzzle `14-aa715a86` from #14 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/d5353a44b1f451abdf19129fca8b22a2ba71214b/src/main/java/com/amihaiemil/docker/SocketResponse.java#L39-L39

The puzzle was created by Mihai Andronache on 04-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-02-04 16:51] 0pdd opened #19 "SocketResponse.java:40-41: Refine the body reading logic...."
The puzzle `14-ad81abd3` from #14 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/d5353a44b1f451abdf19129fca8b22a2ba71214b/src/main/java/com/amihaiemil/docker/SocketResponse.java#L40-L41

The puzzle was created by Mihai Andronache on 04-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-02-04 17:48] 0pdd commented on #18
The puzzle `14-aa715a86` has disappeared from the source code, that's why I closed this issue.

[2018-02-04 17:48] #18 closed

[2018-02-04 19:27] 0pdd commented on #19
The puzzle `14-ad81abd3` has disappeared from the source code, that's why I closed this issue.

[2018-02-04 19:27] #19 closed

[2018-02-04 20:05] #11 closed

[2018-02-04 20:05] 0pdd opened #23 "RtDocker.java:35-36: Implement RemoteDocker which will..."
The puzzle `11-6dd03fe4` from #11 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/99be189e2f1799427d836fe3077af433955d226f/src/main/java/com/amihaiemil/docker/RtDocker.java#L35-L36

The puzzle was created by Mihai Andronache on 04-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-02-04 20:05] 0pdd opened #24 "RtDocker.java:37: Implement method ping() to check..."
The puzzle `11-1ec3d76b` from #11 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/99be189e2f1799427d836fe3077af433955d226f/src/main/java/com/amihaiemil/docker/RtDocker.java#L37-L37

The puzzle was created by Mihai Andronache on 04-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-02-04 20:56] 0pdd commented on #24
The puzzle `11-1ec3d76b` has disappeared from the source code, that's why I closed this issue.

[2018-02-04 20:56] #24 closed

[2018-02-06 08:46] amihaiemil opened #26 "Implement Containers API"
Start implementing the containers api

[2018-02-11 16:35] amihaiemil opened #27 "Switch to Apache HTTPClient"
Although not as object-oriented as jcabi-http, we need the apache client since it can support both Unix and TCP sockets + it offers clientside SSL encryption, which jcabi-http lacks.

[2018-02-22 19:38] #27 closed

[2018-02-22 19:38] 0pdd commented on #13
The puzzle `9-0048a495` has disappeared from the source code, that's why I closed this issue.

[2018-02-22 19:38] #13 closed

[2018-02-22 19:38] 0pdd opened #29 "LocalDocker.java:41-43: Build an HttpClient which works..."
The puzzle `27-7964fdea` from #27 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/c4baf3e197de6b2b02a9819fa6a160fe7f605998/src/main/java/com/amihaiemil/docker/LocalDocker.java#L41-L43

The puzzle was created by amihaiemil on 22-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-02-22 19:38] 0pdd commented on #3
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #4
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #7
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #9
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #13
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #14
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #18
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #19
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #10
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #23
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #24
@0pdd all puzzles are solved

[2018-02-22 19:38] 0pdd commented on #29
@0pdd all puzzles are solved

[2018-02-22 20:04] #5 closed

[2018-02-22 20:04] 0pdd commented on #3
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #4
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #7
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #9
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #13
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #14
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #18
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #19
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #10
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #23
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #24
@0pdd all puzzles are solved

[2018-02-22 20:04] 0pdd commented on #29
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #29
The puzzle `27-7964fdea` has disappeared from the source code, that's why I closed this issue.

[2018-02-24 17:07] #29 closed

[2018-02-24 17:07] 0pdd opened #32 "UnixHttpClient.java:47-48: Implement a..."
The puzzle `29-9f250f40` from #29 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/64b03124fa03420a9972d7ab5b89051d7b125e8b/src/main/java/com/amihaiemil/docker/UnixHttpClient.java#L47-L48

The puzzle was created by amihaiemil on 24-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-02-24 17:07] 0pdd commented on #3
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #4
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #7
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #9
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #13
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #14
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #18
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #19
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #10
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #23
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #24
@0pdd all puzzles are solved

[2018-02-24 17:07] 0pdd commented on #29
@0pdd this puzzle is still not solved: [32](https://github.com/amihaiemil/docker-java-api/issues/32)

[2018-02-24 17:07] 0pdd commented on #32
@0pdd all puzzles are solved

[2018-03-07 19:26] amihaiemil opened #33 "test"
test for zc

[2018-03-08 08:43] amihaiemil commented on #33
@0crat hello

[2018-03-08 08:47] amihaiemil commented on #33
@0crat hello

[2018-03-08 08:48] 0crat commented on #33
@amihaiemil Hey, what's up, how is it going?

[2018-03-08 08:49] amihaiemil commented on #33
@0crat in

[2018-03-08 08:49] 0crat commented on #33
@amihaiemil Job [#33](https://github.com/amihaiemil/docker-java-api/issues/33) is now in scope, role is `DEV`

[2018-03-08 08:49] 0crat commented on #33
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-08 12:23] amihaiemil opened #34 "Test2"
Test

[2018-03-08 12:30] 0crat commented on #34
Job [#34](https://github.com/amihaiemil/docker-java-api/issues/34) is now in scope, role is `DEV`

[2018-03-08 12:31] 0crat commented on #34
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-08 12:32] #34 closed

[2018-03-08 12:32] #33 closed

[2018-03-08 12:47] 0crat commented on #34
The job [#34](https://github.com/amihaiemil/docker-java-api/issues/34) is now out of scope

[2018-03-08 12:47] 0crat commented on #33
The job [#33](https://github.com/amihaiemil/docker-java-api/issues/33) is now out of scope

[2018-03-10 17:06] amihaiemil commented on #3
@comdor hello

[2018-03-10 17:07] amihaiemil commented on #23
@charlesmike hello

[2018-03-10 17:07] charlesmike commented on #23
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2018-03-10 17:07] comdor commented on #3
@amihaiemil Hi there! I'm only version `0.0.2`, so I can't do much yet. Follow me and [my website](http://comdor.co) for updates on the next version.

[2018-03-11 15:45] amihaiemil commented on #32
@0crat assign @amihaiemil

[2018-03-11 15:55] 0pdd commented on #32
The puzzle `29-9f250f40` has disappeared from the source code, that's why I closed this issue.

[2018-03-11 15:55] #32 closed

[2018-03-11 15:55] 0pdd opened #36 "RtDocker.java:39-41: Reimplement ping() with the new..."
The puzzle `32-472ade5c` from #32 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/508e1d092e7611afbfc57e60e3e9ee7331690c37/src/main/java/com/amihaiemil/docker/RtDocker.java#L39-L41

The puzzle was created by amihaiemil on 11-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-03-11 15:55] 0pdd commented on #29
@0pdd the puzzle [#36](https://github.com/amihaiemil/docker-java-api/issues/36) is still not solved.

[2018-03-11 15:55] 0pdd commented on #32
@0pdd the puzzle [#36](https://github.com/amihaiemil/docker-java-api/issues/36) is still not solved.

[2018-03-11 15:55] 0pdd commented on #27
@amihaiemil the puzzle [#36](https://github.com/amihaiemil/docker-java-api/issues/36) is still not solved.

[2018-03-11 18:18] 0crat commented on #36
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-11 18:18] 0crat commented on #36
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-11 18:19] amihaiemil commented on #36
@0crat status

[2018-03-11 18:20] 0crat commented on #36
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#36](https://github.com/amihaiemil/docker-java-api/issues/36) is [in scope](http://www.zerocracy.com/policy.html#14) for 3min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are

[2018-03-11 18:20] amihaiemil commented on #36
@0crat assign @amihaiemil

[2018-03-11 18:21] 0crat commented on #36
@amihaiemil There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-11 18:21] 0crat commented on #36
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-11 18:25] amihaiemil commented on #36
@0crat status

[2018-03-11 19:37] #36 closed

[2018-03-11 19:37] 0pdd commented on #36
The puzzle `32-472ade5c` has disappeared from the source code, that's why I closed this issue.

[2018-03-11 19:37] 0pdd opened #38 "LocalDockerTestCase.java:39-42: Implement a unix socket..."
The puzzle `39-a863f6f1` from #39 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/27a9d3a333c9778eb6b01e038193bd353b29a8ad/src/test/java/com/amihaiemil/docker/LocalDockerTestCase.java#L39-L42

The puzzle was created by amihaiemil on 11-Mar-18.

Estimate: 60 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "

[2018-03-11 19:37] 0pdd commented on #27
@amihaiemil all 3 puzzles are solved here: [#32](https://github.com/amihaiemil/docker-java-api/issues/32), [#36](https://github.com/amihaiemil/docker-java-api/issues/36), [#29](https://github.com/amihaiemil/docker-java-api/issues/29).

[2018-03-11 19:37] 0pdd commented on #29
@0pdd all 2 puzzles are solved here: [#32](https://github.com/amihaiemil/docker-java-api/issues/32), [#36](https://github.com/amihaiemil/docker-java-api/issues/36).

[2018-03-11 19:37] 0pdd commented on #32
@0pdd the last puzzle [#36](https://github.com/amihaiemil/docker-java-api/issues/36) is solved here.

[2018-03-12 09:03] 0crat commented on #36
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-12 15:08] 0crat commented on #32
The job is not in WBS, won't close the order

[2018-03-12 16:13] llorllale commented on #38
@amihaiemil I'm wondering why have `LocalDocker` at all? What do you think of just having `RtDocker` and the *user* can pass either `UnixHttpClient` or some other "regular" client? This way, instead of spinning up a socket server for tests, you could just implement an `HttpClient` that performs the assertions that this task seems to require.

This route just looks easier to my eyes.

[2018-03-12 16:47] 0crat commented on #38
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-12 17:02] 0crat commented on #36
The job [#36](https://github.com/amihaiemil/docker-java-api/issues/36) is now out of scope

[2018-03-13 09:01] amihaiemil commented on #38
@llorllale ``LocalDocker`` and ``RemoteDocker`` have 2 roles:

1. They offer more semantics
2. They hide the HttpClient.

Ideally, the user should know nothing about HttpClient, shouldn't even see it. Because Apache HttpClient is a very complex library, I don't want to confuse our users...

I mean, for ``RemoteDocker``, I think we could expose a ctor which accepts ``HttpClient``, maybe someone who

[2018-03-13 09:01] amihaiemil commented on #38
@0crat in

[2018-03-13 09:02] 0crat commented on #38
@amihaiemil Job [#38](https://github.com/amihaiemil/docker-java-api/issues/38) is now in scope, role is `DEV`

[2018-03-13 09:04] amihaiemil commented on #38
@0crat assign @llorllale

[2018-03-13 09:06] 0crat commented on #38
The job [#38](https://github.com/amihaiemil/docker-java-api/issues/38) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/720906434). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-13 09:06] 0crat commented on #38
@amihaiemil Job [#38](https://github.com/amihaiemil/docker-java-api/issues/38) is already assigned to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-13 09:11] amihaiemil commented on #38
@llorllale don't forget PDD, we want to move faster in this project, but still: small PR, unit tests are a priority etc. In this ticket, I would add that default ctor to LocalDocker, modify the other 2 ctors to call it (according to the rule of only one primary ctor) and modify this puzzle, to reflect only the requirement for testing ``UnixHttpClient``.

If you have time in those 30min, maybe you

[2018-03-13 13:58] llorllale commented on #38
@amihaiemil can we use cactoos as a dependency?

[2018-03-13 14:03] llorllale opened #39 "Typo in interface Docker"
Method `networs` should be `networks`.

[2018-03-13 14:21] amihaiemil commented on #39
@llorllale I see, thanks, I'll keep it in mind for the next PR. I won't accept it as a valid Issue because it is a cosmetic matter :D

[2018-03-13 14:21] #39 closed

[2018-03-13 14:23] amihaiemil commented on #38
@llorllale no, sorry.

1. I don't like it, as we talked in the past maybe. I like OOP, but rewriting the JDK and other existing libraries is a little absurd.

2. I have no idea how to use it and don't have time to learn it. Especially since it's in beta version and APIs change a lor.

3. Since this is a library, it has to be as thin as possible, I wouldn't bring in cactoos since it doesn't offer a

[2018-03-13 14:24] llorllale commented on #38
@amihaiemil no I don't need it. I just like using it. We've never talked about it before. I think your 3rd point is especially valid.

[2018-03-13 15:11] 0pdd commented on #38
The puzzle `39-a863f6f1` has disappeared from the source code, that's why I closed this issue.

[2018-03-13 15:11] #38 closed

[2018-03-13 15:11] 0pdd opened #41 "UnixHttpClientTestCase.java:50-52: Implement a unix..."
The puzzle `38-ae2c79c8` from #38 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/23aa92a82f3ee0f8fa258716bfee7fce889872a4/src/test/java/com/amihaiemil/docker/UnixHttpClientTestCase.java#L50-L52

The puzzle was created by George Aristy on 13-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2018-03-13 15:11] 0pdd opened #42 "AssertRequest.java:52-55: Figure out how to let the user..."
The puzzle `38-1586cf52` from #38 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/23aa92a82f3ee0f8fa258716bfee7fce889872a4/src/test/java/com/amihaiemil/docker/mock/AssertRequest.java#L52-L55

The puzzle was created by George Aristy on 13-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-03-13 15:11] 0pdd commented on #38
@0pdd these puzzles are still not solved: [#41](https://github.com/amihaiemil/docker-java-api/issues/41), [#42](https://github.com/amihaiemil/docker-java-api/issues/42).

[2018-03-13 15:11] 0pdd commented on #39
@llorllale these puzzles are still not solved: [#41](https://github.com/amihaiemil/docker-java-api/issues/41), [#42](https://github.com/amihaiemil/docker-java-api/issues/42).

[2018-03-13 15:28] amihaiemil commented on #38
@llorllale apperently, the 0crat's Github API quota is reached and we have to wait until it resets:

![image](https://user-images.githubusercontent.com/6305156/37351482-d7c89288-26e3-11e8-986c-7b918a556bd1.png)

The past few dozen calls are the same :(

[2018-03-13 18:14] 0crat commented on #41
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-13 18:30] amihaiemil commented on #42
@0crat in

[2018-03-13 18:50] amihaiemil commented on #38
@0crat status

[2018-03-13 18:59] llorllale commented on #38
@amihaiemil btw I think you may have configured this project's name wrong in 0crat? This is the PM I received from 0crat:

[2018-03-13 19:09] amihaiemil commented on #38
@llorllale well, at least you got paid, 0crat said nothing here :(

Anyway, I think the issue is that, initially, the project did not have a title, only that ID. 0crat tried to set the title to be the same as the name of the Slack private chat. Problem was that the channel's name was too short and it threw an exception. Later, I set the title manually with the ``title`` command -- maybe that comma

[2018-03-13 19:41] amihaiemil opened #44 "ISE: Connection is still allocated"
Apparently, using ``BasicHttpClientConnectionManager`` (e.g. inside ``UnixHttpClient``) is not ok since it provides a single connection.

This throws the exception:

[code]

Becuase the connection is still allocated from the first call. We should either close the connection after each call somehow (not always wanted, of course), or maybe use [PoolingClientConnectionManager](http://hc.apache.org/ht

[2018-03-13 19:57] 0pdd opened #45 "RtContainers.java:44-47: We should handle unexpected..."
The puzzle `26-85773a93` from #26 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/f5a14a642034a8bcde09e708cb5c27564061dfab/src/main/java/com/amihaiemil/docker/RtContainers.java#L44-L47

The puzzle was created by amihaiemil on 13-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" w

[2018-03-13 19:57] 0pdd opened #46 "RtContainer.java:13-15: This class represents a..."
The puzzle `26-c1e6c3eb` from #26 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/f5a14a642034a8bcde09e708cb5c27564061dfab/src/main/java/com/amihaiemil/docker/RtContainer.java#L13-L15

The puzzle was created by amihaiemil on 13-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-03-13 19:57] 0pdd opened #47 "RtContainersTestCase.java:33-35: Write unit tests for all..."
The puzzle `26-a8980bc9` from #26 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/f5a14a642034a8bcde09e708cb5c27564061dfab/src/test/java/com/amihaiemil/docker/RtContainersTestCase.java#L33-L35

The puzzle was created by amihaiemil on 13-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-03-13 19:58] 0pdd commented on #26
@amihaiemil the puzzle [#45](https://github.com/amihaiemil/docker-java-api/issues/45) is still not solved.

[2018-03-13 19:58] 0pdd commented on #26
@amihaiemil the puzzle [#46](https://github.com/amihaiemil/docker-java-api/issues/46) is still not solved.

[2018-03-13 19:58] 0pdd commented on #26
@amihaiemil the puzzle [#47](https://github.com/amihaiemil/docker-java-api/issues/47) is still not solved.

[2018-03-13 20:16] #26 closed

[2018-03-14 05:30] 0crat commented on #38
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#38](https://github.com/amihaiemil/docker-java-api/issues/38) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/G6LPQQV2P?q=%7Bjob%3A%27gh%3Aamihaiemil%2Fdocker-java-api%2338%27%7D) (restricted area)

[2018-03-14 05:30] 0crat commented on #42
@amihaiemil Job [#42](https://github.com/amihaiemil/docker-java-api/issues/42) is now in scope, role is `DEV`

[2018-03-14 05:33] 0crat commented on #42
The job [#42](https://github.com/amihaiemil/docker-java-api/issues/42) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/730533225). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-14 07:48] amihaiemil commented on #42
@llorllale I think you can easily solve this by passing some sort of ``Conditions`` object in the ctor. This object would encapsulate that Collection of Predicate and also have a given failure message.

But this is just an idea, do it however you see more fit :D

[2018-03-14 08:41] amihaiemil commented on #44
@llorllale Do you know Apache HttpClient? Want to fix this one?

[2018-03-14 13:44] llorllale commented on #42
@amihaiemil honestly, since this is just a support class for our tests I don't want to invest too much in the design. Maybe `Condition` can just be a carrier for a `String` and a `Predicate<HttpRequest>`, no?

[2018-03-14 13:47] llorllale commented on #44
@amihaiemil yes, I've used this lib before. This is one of those surprises (there will be more).

Question: do we need this method at all?

[code]

[2018-03-14 13:48] llorllale commented on #44
@amihaiemil anyway, I can work on this

[2018-03-14 13:48] amihaiemil commented on #42
@llorllale Yes, sure. But also start writing a test class for it and leave puzzlez for testing it if you don't have enough time.

Even though it is a support class, it needs to be tested itself so we are sure it works fine. Otherwise, bugs could be introduced into it and then all tests written with it become unreliable :)

[2018-03-14 13:51] amihaiemil commented on #44
@llorllale Yes, we need that method. That's the first thing a user does when using an API, right? Try to ping it :D

And the issue is with other methods as well, anyway. I would look into that Pooling connection manager, I think that's the way to go.

[2018-03-14 13:51] amihaiemil commented on #44
@0crat in

[2018-03-14 15:50] 0crat commented on #44
@amihaiemil Job [#44](https://github.com/amihaiemil/docker-java-api/issues/44) is now in scope, role is `DEV`

[2018-03-14 15:50] 0crat commented on #44
@amihaiemil Job [#44](https://github.com/amihaiemil/docker-java-api/issues/44) is already in scope

[2018-03-14 15:51] 0crat commented on #44
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-14 15:52] 0crat commented on #47
Job [#47](https://github.com/amihaiemil/docker-java-api/issues/47) is now in scope, role is `DEV`

[2018-03-14 16:08] 0crat commented on #44
The job [#44](https://github.com/amihaiemil/docker-java-api/issues/44) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/731605028). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-14 16:11] amihaiemil commented on #44
@llorllale This would be a reasearch task, I guess (not sure how much you can figure out in 30min). Of course, it's ok to leave a puzzle with your findings.

[2018-03-14 16:14] 0crat commented on #47
The job [#47](https://github.com/amihaiemil/docker-java-api/issues/47) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/731613202). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-14 17:53] llorllale commented on #44
@amihaiemil will this work for you?

[code]

[2018-03-14 18:05] llorllale commented on #47
@amihaiemil what's the url?

[code]

Would be nice if we added to the javadocs:

[code]

[2018-03-14 18:13] amihaiemil commented on #47
@llorllale right; this is the URL: https://docs.docker.com/engine/api/v1.30/#operation/ContainerCreate

The API docs is for 1.30; I guess it won't change that much in future versions. Besides, whoever knows how to read it will also know to check the right version they need :)

[2018-03-14 18:17] amihaiemil commented on #44
@llorllale We should also do that, close the connection wherever possible, but it is not enough. The issue is the way the HttpClient is built: Basic connection manager is used, which has a single connection.

We need Pooling connection manager because we won't be able to close all the connections right away. For instance, ``Container.followLogs()`` will return an InputStream which will have to be

[2018-03-14 18:21] #42 closed

[2018-03-14 18:21] 0pdd commented on #42
The puzzle `38-1586cf52` has disappeared from the source code, that's why I closed this issue.

[2018-03-14 18:21] 0pdd commented on #39
@llorllale the puzzle [#41](https://github.com/amihaiemil/docker-java-api/issues/41) is still not solved; solved: [#38](https://github.com/amihaiemil/docker-java-api/issues/38), [#42](https://github.com/amihaiemil/docker-java-api/issues/42).

[2018-03-14 18:21] 0pdd commented on #38
@0pdd the puzzle [#41](https://github.com/amihaiemil/docker-java-api/issues/41) is still not solved; solved: [#42](https://github.com/amihaiemil/docker-java-api/issues/42).

[2018-03-14 18:54] llorllale commented on #47
@amihaiemil I'm think about creating `Response` that implements `HttpResponse` in order to support tests. WDYT?

[2018-03-14 19:40] llorllale commented on #47
@amihaiemil here's an example of what this might all look like:

[code]

[2018-03-14 20:06] amihaiemil commented on #42
@llorllale I know, I also wasn't paid for the closed PRs, as ARC...

There is a bug in 0crat, discussed here: https://github.com/zerocracy/farm/issues/813
But it should make the payment tomorrow, I think.

[2018-03-14 20:07] llorllale commented on #44
@amihaiemil I think you've done the research already.

I'm think this connection pooling should be done both for unix and non-unix/remote endpoints. So we should probably extract that (huge!) block of code that creates the client connection manager in `UnixHttpClient` into its own class. That class needs to be somehow fed the `maxConnections` configuration somehow.

[2018-03-14 20:11] amihaiemil commented on #44
@llorllale yes, we could do that, but not yet. The building of the remote HttpClient will be even funnier: you have to register https protocol, with SSL socket factory (something like that), in order to use the supplied certificates and encrypt the request properly.

So, for now, let's not extract anything, just make them work separately and refactor later.
Try to use Pooling cm for the UnixHttpCl

[2018-03-14 20:12] amihaiemil commented on #47
@llorllale Yeah, seems like a good idea :)

[2018-03-14 20:29] llorllale commented on #44
@amihaiemil sorry for requesting confirmation so much

WDYT of this? Notice the new ctor that accepts `Supplier<HttpClient>`. It is there solely to leave the ctor chain starting at `UnixHttpClient(final File sockerFile)` intact.

[code]

[2018-03-14 20:33] amihaiemil commented on #44
@llorllale

Not a problem. Although you can also make fast PRs and we can discuss there :-? same for me.

Yes, looks nice, given that you have to call those setters on the Pooling cm. Are you sure it cannot accept them through its ctor?

[2018-03-14 20:35] llorllale commented on #44
@amihaiemil [yes, I'm sure](http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/impl/conn/PoolingHttpClientConnectionManager.html)

[2018-03-14 20:37] amihaiemil commented on #44
@llorllale I see, ok

[2018-03-15 10:09] amihaiemil commented on #42
@llorllale 0crat seems to be online now, did it pay you?

[2018-03-15 10:59] llorllale commented on #42
@amihaiemil it paid me yesterday at around 21:45 UTC

[2018-03-15 13:15] llorllale commented on #44
@amihaiemil do we agree that adding a test for this requires completing that other task about implementing a socket server?

[2018-03-15 14:05] amihaiemil commented on #44
@llorllale yes, I think we may need that. But for now, you can simply add a second ``docker.ping()`` to that IT case... then, we also need to setup Travis or Rultor somehow to run the IT cases as well, that's not yet done :D

[2018-03-16 07:58] 0pdd opened #51 "UnixHttpClientITCase.java:49-51: This should be..."
The puzzle `44-50450105` from #44 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/6009d3ca39be5d778b1b0273b635996e3bde46ff/src/test/java/com/amihaiemil/docker/UnixHttpClientITCase.java#L49-L51

The puzzle was created by George Aristy on 15-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2018-03-16 07:58] 0pdd opened #52 "UnixHttpClient.java:57-58: Connection pooling is..."
The puzzle `44-0db77e9f` from #44 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/6009d3ca39be5d778b1b0273b635996e3bde46ff/src/main/java/com/amihaiemil/docker/UnixHttpClient.java#L57-L58

The puzzle was created by George Aristy on 15-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "do

[2018-03-16 07:58] 0pdd commented on #44
@amihaiemil 2 puzzles [#51](https://github.com/amihaiemil/docker-java-api/issues/51), [#52](https://github.com/amihaiemil/docker-java-api/issues/52) are still not solved.

[2018-03-16 07:58] 0crat commented on #51
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-16 07:58] 0crat commented on #52
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-16 08:01] llorllale commented on #44
@amihaiemil can we close this?
* This was solved in PR #50 which got merged
* Puzzle #51 for completing one test left due to impediment on #41
* Puzzle #52 left for making the connection pool size configurable

[2018-03-16 08:02] 0crat commented on #46
Job [#46](https://github.com/amihaiemil/docker-java-api/issues/46) is now in scope, role is `DEV`

[2018-03-16 08:11] amihaiemil commented on #44
@llorllale sure, thanks

[2018-03-16 08:11] #44 closed

[2018-03-16 08:13] 0pdd commented on #47
The puzzle `26-a8980bc9` has disappeared from the source code, that's why I closed this issue.

[2018-03-16 08:13] #47 closed

[2018-03-16 08:13] 0pdd opened #53 "RtContainersTestCase.java:47-48: Implement tests on the..."
The puzzle `47-15f4a258` from #47 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/7d8c9980f004f50fdc22b2024f97b9253629bcf7/src/test/java/com/amihaiemil/docker/RtContainersTestCase.java#L47-L48

The puzzle was created by George Aristy on 15-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2018-03-16 08:13] 0pdd opened #54 "RtContainersTestCase.java:49-52: Impediment: once #45 is..."
The puzzle `47-dbe85f1e` from #47 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/7d8c9980f004f50fdc22b2024f97b9253629bcf7/src/test/java/com/amihaiemil/docker/RtContainersTestCase.java#L49-L52

The puzzle was created by George Aristy on 15-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2018-03-16 08:13] 0pdd commented on #26
@amihaiemil 4 puzzles [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#46](https://github.com/amihaiemil/docker-java-api/issues/46), [#53](https://github.com/amihaiemil/docker-java-api/issues/53), [#54](https://github.com/amihaiemil/docker-java-api/issues/54) are still not solved; solved: [#47](https://github.com/amihaiemil/docker-java-api/issues/47).

[2018-03-16 08:13] 0pdd commented on #47
@0pdd 2 puzzles [#53](https://github.com/amihaiemil/docker-java-api/issues/53), [#54](https://github.com/amihaiemil/docker-java-api/issues/54) are still not solved.

[2018-03-16 08:13] 0crat commented on #53
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-16 08:13] 0crat commented on #54
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-16 08:15] amihaiemil commented on #54
@0crat in

[2018-03-16 08:15] amihaiemil commented on #53
@0crat in

[2018-03-16 08:15] amihaiemil commented on #52
@0crat in

[2018-03-16 08:15] amihaiemil commented on #51
@0crat in

[2018-03-16 08:16] amihaiemil commented on #46
@0crat assign @amihaiemil

[2018-03-16 08:16] 0crat commented on #53
@amihaiemil Job [#53](https://github.com/amihaiemil/docker-java-api/issues/53) is now in scope, role is `DEV`

[2018-03-16 08:16] 0crat commented on #54
@amihaiemil Job [#54](https://github.com/amihaiemil/docker-java-api/issues/54) is now in scope, role is `DEV`

[2018-03-16 08:16] 0crat commented on #52
@amihaiemil Job [#52](https://github.com/amihaiemil/docker-java-api/issues/52) is now in scope, role is `DEV`

[2018-03-16 08:16] 0crat commented on #51
@amihaiemil Job [#51](https://github.com/amihaiemil/docker-java-api/issues/51) is now in scope, role is `DEV`

[2018-03-16 08:18] 0crat commented on #46
@amihaiemil The job [#46](https://github.com/amihaiemil/docker-java-api/issues/46) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/750831962). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9).

[2018-03-16 08:18] 0crat commented on #46
@amihaiemil Job `gh:amihaiemil/docker-java-api#46` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-03-16 08:18] 0crat commented on #46
@amihaiemil Job `gh:amihaiemil/docker-java-api#46` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-03-16 08:18] 0crat commented on #46
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 08:19] 0crat commented on #46
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 08:19] 0crat commented on #46
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 08:26] 0crat commented on #44
Order was finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-16 08:26] 0crat commented on #44
The job [#44](https://github.com/amihaiemil/docker-java-api/issues/44) is now out of scope

[2018-03-16 08:28] 0crat commented on #47
Order was finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-16 08:28] 0crat commented on #47
The job [#47](https://github.com/amihaiemil/docker-java-api/issues/47) is now out of scope

[2018-03-16 17:35] yegor256 commented on #46
@0crat status

[2018-03-16 17:35] 0crat commented on #46
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#46](https://github.com/amihaiemil/docker-java-api/issues/46) is [in scope](http://www.zerocracy.com/policy.html#14) for 10hr
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [9hr](http://www.zerocracy.com/policy.html#8)
  * There

[2018-03-17 15:33] amihaiemil commented on #54
@llorllale are you on vacation? How come 0crat doesn't assign the tasks? :D

[2018-03-17 16:57] llorllale commented on #54
@amihaiemil no i'm not.

[2018-03-17 17:29] amihaiemil commented on #54
@0crat status

[2018-03-17 17:29] 0crat commented on #54
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#54](https://github.com/amihaiemil/docker-java-api/issues/54) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are

[2018-03-18 17:27] amihaiemil opened #55 "Setup Docker on Travis and/or Rultor"
We need this setup in order to run IT cases.

[2018-03-18 17:28] 0crat commented on #55
Job [#55](https://github.com/amihaiemil/docker-java-api/issues/55) is now in scope, role is `DEV`

[2018-03-18 17:29] 0crat commented on #55
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-18 18:33] 0crat commented on #53
The job [#53](https://github.com/amihaiemil/docker-java-api/issues/53) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/771866951). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-18 18:37] 0crat commented on #54
The job [#54](https://github.com/amihaiemil/docker-java-api/issues/54) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/771871068). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-18 18:40] 0crat commented on #52
The job [#52](https://github.com/amihaiemil/docker-java-api/issues/52) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/771876170). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-18 18:43] 0crat commented on #51
The job [#51](https://github.com/amihaiemil/docker-java-api/issues/51) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/771878243). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-18 18:46] 0crat commented on #55
The job [#55](https://github.com/amihaiemil/docker-java-api/issues/55) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/771882316). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-19 17:05] llorllale commented on #54
@amihaiemil this puzzle clearly has an impediment on #45

[2018-03-19 17:07] llorllale commented on #51
@amihaiemil this puzzle clearly has an impediment on #41

[2018-03-19 17:09] llorllale commented on #55
@amihaiemil this task requires more information/specifications. Docker can definitely be used in Travis (I have), but **what exactly is this task asking us to do?**

[2018-03-19 17:17] llorllale commented on #55
@amihaiemil sounds like this job is potentially as simple enabling the docker service in the `.travis.yml` file, see [here](https://docs.travis-ci.com/user/docker/).

I haven't run the integration tests, maybe I can run them and, if they work, I can add a line to the `.travis.yml` file to run them. WDYT?

[2018-03-19 17:21] amihaiemil commented on #55
@llorllale Yes, I think that's all we need -- integration tests should work with the docker instalation out of the box, default settings. If you run them locally (well, so far it's only one test for ping haha), they should work fine.

[2018-03-19 17:26] llorllale commented on #52
@amihaiemil I suppose adding a `maxConnections` parameter to a ctor of `LocalDocker` would basically do the trick? Then `LocalDocker` can pass it on to `UnixHttpClient`.

I only ask because it doesn't look quite right to me.

Also, do you think 10 is a reasonable default?

[2018-03-19 17:28] amihaiemil commented on #54
@llorllale right, sorry, I should not have put it in scope yet

[2018-03-19 17:28] amihaiemil commented on #54
@0crat out

[2018-03-19 17:28] 0crat commented on #54
@amihaiemil GitHub issue is still open, won't close

[2018-03-19 17:28] amihaiemil commented on #51
@0crat out

[2018-03-19 17:28] 0crat commented on #51
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-19 17:28] 0crat commented on #51
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-19 17:30] amihaiemil commented on #51
@0crat out

[2018-03-19 17:34] 0crat commented on #51
@amihaiemil GitHub issue is still open, won't close

[2018-03-19 17:34] amihaiemil commented on #45
@0crat assign @amihaiemil

[2018-03-19 17:37] 0crat commented on #45
@amihaiemil The job [#45](https://github.com/amihaiemil/docker-java-api/issues/45) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/781737115). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9).

[2018-03-19 17:37] 0crat commented on #45
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-19 17:38] amihaiemil commented on #45
@0crat status

[2018-03-19 17:39] 0crat commented on #45
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#45](https://github.com/amihaiemil/docker-java-api/issues/45) is [in scope](http://www.zerocracy.com/policy.html#14) for 2min
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [2min](http://www.zerocracy.com/policy.html#8)
  * Th

[2018-03-19 18:11] llorllale commented on #55
@amihaiemil I'll try it out tonight - I'm on windows right now. `LocalDockerITCase.pingsDocker()` fails on me, probably due to my OS.

[2018-03-19 18:14] amihaiemil commented on #55
@llorllale yes, I guess, it's a unix socket behind :D as far as I know, there isn't even Docker for Windows. At least not as easy as for linux, I think you need some tweaks :-?

[2018-03-19 18:18] llorllale commented on #55
@amihaiemil on Windows < 10 we have the docker toolbar. From 10 onwards there's "true" docker or something like that

[2018-03-19 18:25] 0pdd commented on #46
The puzzle `26-c1e6c3eb` has disappeared from the source code, that's why I closed this issue.

[2018-03-19 18:25] #46 closed

[2018-03-19 18:26] 0pdd opened #57 "RtContainer.java:19-21: This class represents a..."
The puzzle `46-f470c157` from #46 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ca2e586aa4c4550784c893f3ad205def5014f0d1/src/main/java/com/amihaiemil/docker/RtContainer.java#L19-L21

The puzzle was created by amihaiemil on 19-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-03-19 18:26] 0pdd opened #58 "RtContainer.java:22-24: Once we have the CI environment..."
The puzzle `46-21e68db8` from #46 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/ca2e586aa4c4550784c893f3ad205def5014f0d1/src/main/java/com/amihaiemil/docker/RtContainer.java#L22-L24

The puzzle was created by amihaiemil on 19-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-03-19 18:26] 0pdd commented on #26
@amihaiemil 5 puzzles [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#53](https://github.com/amihaiemil/docker-java-api/issues/53), [#54](https://github.com/amihaiemil/docker-java-api/issues/54), [#57](https://github.com/amihaiemil/docker-java-api/issues/57), [#58](https://github.com/amihaiemil/docker-java-api/issues/58) are still not solved; solved: [#46](https://github.com/amih

[2018-03-19 18:26] 0pdd commented on #46
@0pdd 2 puzzles [#57](https://github.com/amihaiemil/docker-java-api/issues/57), [#58](https://github.com/amihaiemil/docker-java-api/issues/58) are still not solved.

[2018-03-19 18:26] 0crat commented on #57
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-19 18:26] 0crat commented on #58
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-19 18:41] 0crat commented on #46
Order was finished: +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-19 18:41] 0crat commented on #46
The job [#46](https://github.com/amihaiemil/docker-java-api/issues/46) is now out of scope

[2018-03-19 18:45] llorllale commented on #52
@amihaiemil I'm now wondering if pooling could've been as simple as:

[code]

[2018-03-19 18:50] amihaiemil commented on #52
@llorllale

No, definetely not; because we certainly needed a pool, so users would always have to do that -- most of them have no idea about connection pooling; or it's not something they think about every day. I also did not think about it before we had the bug.

I also don't really like this very much. Ideally, the users shouldn't know anything about pooling, the default 10 should be enough for

[2018-03-19 18:53] llorllale commented on #52
@amihaiemil

I'm confused because the first half of your comment seemed to refute my proposal but then the 2nd half seemed to propose (almost) the same thing?

[2018-03-19 18:54] llorllale commented on #52
@amihaiemil actually, I get you now.

[2018-03-19 18:55] amihaiemil commented on #52
@llorllale In your proposal you seemed to hint that we should rollback the pooling we have now and use the decoration exclusively. I said the decoration is nice, but shouldn't be mandatory; so leave the default 10 we have and offer the decorator as an option for changing the pool :D

[2018-03-19 18:56] llorllale commented on #52
@amihaiemil

[code]

We'd need to change the second arg to be of type `Supplier<Docker>`, I think, in order to make it work at runtime.

This might now be misleading btw... the semantics would imply a pool size of `25` but it would actually be 25 * DEFAULT, no?

[2018-03-19 19:07] amihaiemil commented on #52
@llorllale hmmm, I see. I also had a look now. I think it would be a lot easier to just offer a ctor with that parameter in ``LocalDocker``. With this ``Supplier``, they would have to instantiate the ``LocalDocker`` them selves and also the ``UnixHttpClient``, to pass it the value, right?

[2018-03-19 19:10] llorllale commented on #52
@amihaiemil no they'd just do this

[code]

[2018-03-19 19:10] llorllale commented on #52
@amihaiemil `Pooled` would maintain pools of `Docker` instances, not http connections

[2018-03-19 19:41] amihaiemil commented on #52
@llorllale but it would still need access to the underlying connection manager somehow, to see if instance x of ``Docker`` has connections left; if not, get the next instance.

The abstraction is too high and besides, it's the job of the HttpClient to manage connections, not of our abstraction layer.

Actually, I think it's better to just make [this](https://github.com/amihaiemil/docker-java-api/b

[2018-03-20 13:40] amihaiemil commented on #55
@llorllale thanks :)

[2018-03-20 13:40] #55 closed

[2018-03-20 13:56] llorllale commented on #54
@amihaiemil this one is still on my agenda

[2018-03-20 13:56] 0crat commented on #55
Order was finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-20 13:56] 0crat commented on #55
The job [#55](https://github.com/amihaiemil/docker-java-api/issues/55) is now out of scope

[2018-03-20 13:57] llorllale commented on #51
@amihaiemil this one is still on my agenda

[2018-03-20 13:58] amihaiemil commented on #54
@llorllale I know; tbh I don't really know how to unassign you. In the past, Yegor did it with "out"... now it doesn't seem to work. Could you maybe register the impediment and wait for its completion? I know it's not convenient, you have that slot blocked, but I promise I'll pay more attention in the future, shouldn't happen again :)

[2018-03-20 14:01] 0pdd commented on #52
The puzzle `44-0db77e9f` has disappeared from the source code, that's why I closed this issue.

[2018-03-20 14:01] #52 closed

[2018-03-20 14:01] 0pdd commented on #44
@amihaiemil the puzzle [#51](https://github.com/amihaiemil/docker-java-api/issues/51) is still not solved; solved: [#52](https://github.com/amihaiemil/docker-java-api/issues/52).

[2018-03-20 14:06] 0pdd commented on #53
The puzzle `47-15f4a258` has disappeared from the source code, that's why I closed this issue.

[2018-03-20 14:06] #53 closed

[2018-03-20 14:06] 0pdd commented on #26
@amihaiemil 4 puzzles [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#54](https://github.com/amihaiemil/docker-java-api/issues/54), [#57](https://github.com/amihaiemil/docker-java-api/issues/57), [#58](https://github.com/amihaiemil/docker-java-api/issues/58) are still not solved; solved: [#46](https://github.com/amihaiemil/docker-java-api/issues/46), [#47](https://github.com/amih

[2018-03-20 14:06] 0pdd commented on #47
@0pdd the puzzle [#54](https://github.com/amihaiemil/docker-java-api/issues/54) is still not solved; solved: [#53](https://github.com/amihaiemil/docker-java-api/issues/53).

[2018-03-20 14:16] 0crat commented on #52
Order was finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-20 14:16] 0crat commented on #52
The job [#52](https://github.com/amihaiemil/docker-java-api/issues/52) is now out of scope

[2018-03-20 14:21] 0crat commented on #53
Order was finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-20 14:21] 0crat commented on #53
The job [#53](https://github.com/amihaiemil/docker-java-api/issues/53) is now out of scope

[2018-03-21 13:26] llorllale commented on #54
@0crat waiting on #45

[2018-03-21 13:26] 0crat commented on #54
@llorllale The impediment for [#54](https://github.com/amihaiemil/docker-java-api/issues/54) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-21 13:27] llorllale commented on #51
@0cratt waiting on #41

[2018-03-21 13:28] 0crat commented on #51
@llorllale The impediment for [#51](https://github.com/amihaiemil/docker-java-api/issues/51) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-21 15:06] 0crat commented on #3
Job [#3](https://github.com/amihaiemil/docker-java-api/issues/3) is now in scope, role is `DEV`

[2018-03-21 15:08] 0crat commented on #23
The job [#23](https://github.com/amihaiemil/docker-java-api/issues/23) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/801518249); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-03-21 15:11] 0crat commented on #3
The job [#3](https://github.com/amihaiemil/docker-java-api/issues/3) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/801521347); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-03-22 11:42] llorllale opened #63 "Build should fail if test coverage is too low"
As discussed [here](https://github.com/amihaiemil/docker-java-api/pull/62#issuecomment-375274298).

Personally, I use 85% as minimum in my own projects. WDYT @amihaiemil ?

[2018-03-22 11:42] 0crat commented on #63
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-22 11:43] 0crat commented on #63
Job [#63](https://github.com/amihaiemil/docker-java-api/issues/63) is now in scope, role is `DEV`

[2018-03-22 11:43] 0crat commented on #63
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-22 11:44] 0crat commented on #63
The job [#63](https://github.com/amihaiemil/docker-java-api/issues/63) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/811146198); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-03-22 11:44] 0crat commented on #63
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-23 14:08] 0pdd commented on #45
The puzzle `26-85773a93` has disappeared from the source code, that's why I closed this issue.

[2018-03-23 14:08] #45 closed

[2018-03-23 14:08] 0pdd commented on #26
@amihaiemil 3 puzzles [#54](https://github.com/amihaiemil/docker-java-api/issues/54), [#57](https://github.com/amihaiemil/docker-java-api/issues/57), [#58](https://github.com/amihaiemil/docker-java-api/issues/58) are still not solved; solved: [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#46](https://github.com/amihaiemil/docker-java-api/issues/46), [#47](https://github.com/amih

[2018-03-23 14:24] 0crat commented on #45
Order was finished: +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-23 14:24] 0crat commented on #45
The job [#45](https://github.com/amihaiemil/docker-java-api/issues/45) is now out of scope

[2018-03-23 15:00] llorllale commented on #23
@amihaiemil shouldn't this be `v1.30` instead of:

https://github.com/amihaiemil/docker-java-api/blob/c82d0561e0701bdad9e95bd88e8b4c5d2207f832/src/main/java/com/amihaiemil/docker/LocalDocker.java#L56

[2018-03-23 15:02] amihaiemil commented on #23
@llorllale no, ``1.35`` is fine. When I checked, that was the latest version.

[2018-03-23 15:03] amihaiemil commented on #23
@llorllale the doc we were using is a bit older, that's it. We should search for the newest one; luckily, we did not implement a lot of it yet.

But, for instance, this is the reason why we expose raw JsonObjects -- we let the clinet figure out the payload they have to provide or receive, since they have to know those endpoints anyway, in order to properly build a POJO (if we were to provide such

[2018-03-23 23:11] llorllale commented on #3
@amihaiemil does this model look right to you?

[code]

[2018-03-24 16:24] #54 closed

[2018-03-24 16:24] 0pdd commented on #54
The puzzle `47-dbe85f1e` has disappeared from the source code, that's why I closed this issue.

[2018-03-24 16:25] 0pdd commented on #26
@amihaiemil 2 puzzles [#57](https://github.com/amihaiemil/docker-java-api/issues/57), [#58](https://github.com/amihaiemil/docker-java-api/issues/58) are still not solved; solved: [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#46](https://github.com/amihaiemil/docker-java-api/issues/46), [#47](https://github.com/amihaiemil/docker-java-api/issues/47), [#53](https://github.com/amih

[2018-03-24 16:25] 0pdd commented on #47
@0pdd all 2 puzzles are solved here: [#53](https://github.com/amihaiemil/docker-java-api/issues/53), [#54](https://github.com/amihaiemil/docker-java-api/issues/54).

[2018-03-24 16:37] amihaiemil commented on #3
@llorllale yeah, looks nice. But I think it's ok if you start only with interface Swarm; leave Nodes/Services for a next puzzle, considering you spent some time in the documentation

[2018-03-24 16:42] 0crat commented on #54
Order was finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-24 16:43] 0crat commented on #54
The job [#54](https://github.com/amihaiemil/docker-java-api/issues/54) is now out of scope

[2018-03-25 13:12] llorllale commented on #3
@amihaiemil

It was quick.

[2018-03-26 06:32] #23 closed

[2018-03-26 06:32] 0pdd commented on #23
The puzzle `11-6dd03fe4` has disappeared from the source code, that's why I closed this issue.

[2018-03-26 06:33] 0pdd opened #67 "SslHttpClient.java:48-50: Add path for certificates as a..."
The puzzle `23-d9c71050` from #23 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/7995bd6a1312a448030563ab711174dd3d98dca2/src/main/java/com/amihaiemil/docker/SslHttpClient.java#L48-L50

The puzzle was created by rultor on 26-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-03-26 06:33] 0pdd opened #68 "RemoteDockerTestCase.java:42-43: RemoteDocker: implement..."
The puzzle `23-6815c522` from #23 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/7995bd6a1312a448030563ab711174dd3d98dca2/src/test/java/com/amihaiemil/docker/RemoteDockerTestCase.java#L42-L43

The puzzle was created by rultor on 26-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-03-26 06:33] 0pdd commented on #11
@amihaiemil 2 puzzles [#67](https://github.com/amihaiemil/docker-java-api/issues/67), [#68](https://github.com/amihaiemil/docker-java-api/issues/68) are still not solved; solved: [#23](https://github.com/amihaiemil/docker-java-api/issues/23), [#24](https://github.com/amihaiemil/docker-java-api/issues/24).

[2018-03-26 06:33] 0pdd commented on #23
@0pdd 2 puzzles [#67](https://github.com/amihaiemil/docker-java-api/issues/67), [#68](https://github.com/amihaiemil/docker-java-api/issues/68) are still not solved.

[2018-03-26 06:33] 0crat commented on #67
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-26 06:33] 0crat commented on #67
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-26 06:33] 0crat commented on #68
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-26 06:33] 0crat commented on #68
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-26 06:35] 0crat commented on #67
The job [#67](https://github.com/amihaiemil/docker-java-api/issues/67) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/850662927); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-03-26 06:36] 0crat commented on #67
Job `gh:amihaiemil/docker-java-api#67` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-03-26 06:49] 0crat commented on #23
Order was finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-26 06:49] 0crat commented on #23
The job [#23](https://github.com/amihaiemil/docker-java-api/issues/23) is now out of scope

[2018-03-26 12:26] amihaiemil opened #69 "`"

[2018-03-26 12:27] #69 closed

[2018-03-26 12:43] 0crat commented on #69
The job is not in WBS, won't close the order

[2018-03-26 15:12] 0crat commented on #3
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-26 15:16] llorllale commented on #3
@0crat waiting on random build issue, see [this log](http://www.rultor.com/t/14195-376166113)

[2018-03-26 15:17] 0crat commented on #3
@llorllale The impediment for [#3](https://github.com/amihaiemil/docker-java-api/issues/3) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-27 11:46] 0crat commented on #63
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-28 15:15] 0pdd commented on #3
The puzzle `1-606fe8a1` has disappeared from the source code, that's why I closed this issue.

[2018-03-28 15:15] #3 closed

[2018-03-28 15:15] 0pdd opened #70 "Swarm.java:40-43: Implement all of the Swarm operations...."
The puzzle `3-e861473a` from #3 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/9abbafd0d62e336e7326c1ee82e1cef7ea1899e2/src/main/java/com/amihaiemil/docker/Swarm.java#L40-L43

The puzzle was created by Mihai A on 28-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-03-28 15:15] 0pdd opened #71 "Docker.java:35-36: Continue implementing the rest of the..."
The puzzle `3-571befa7` from #3 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/9abbafd0d62e336e7326c1ee82e1cef7ea1899e2/src/main/java/com/amihaiemil/docker/Docker.java#L35-L36

The puzzle was created by Mihai A on 28-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-03-28 15:15] 0pdd opened #72 "RtSwarm.java:42-44: The code for inspect() is essentially..."
The puzzle `3-b7c517df` from #3 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/9abbafd0d62e336e7326c1ee82e1cef7ea1899e2/src/main/java/com/amihaiemil/docker/RtSwarm.java#L42-L44

The puzzle was created by Mihai A on 28-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-03-28 15:15] 0pdd commented on #1
@amihaiemil 3 puzzles [#70](https://github.com/amihaiemil/docker-java-api/issues/70), [#71](https://github.com/amihaiemil/docker-java-api/issues/71), [#72](https://github.com/amihaiemil/docker-java-api/issues/72) are still not solved; solved: [#13](https://github.com/amihaiemil/docker-java-api/issues/13), [#14](https://github.com/amihaiemil/docker-java-api/issues/14), [#18](https://github.com/amih

[2018-03-28 15:15] 0crat commented on #70
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-28 15:15] 0pdd commented on #3
@0pdd 3 puzzles [#70](https://github.com/amihaiemil/docker-java-api/issues/70), [#71](https://github.com/amihaiemil/docker-java-api/issues/71), [#72](https://github.com/amihaiemil/docker-java-api/issues/72) are still not solved.

[2018-03-28 15:15] 0crat commented on #70
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-28 15:15] 0crat commented on #71
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-28 15:15] 0crat commented on #72
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-28 15:15] 0crat commented on #71
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-28 15:15] 0crat commented on #72
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-28 15:36] 0crat commented on #3
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-28 15:36] 0crat commented on #3
The job [#3](https://github.com/amihaiemil/docker-java-api/issues/3) is now out of scope

[2018-03-28 16:09] 0crat commented on #71
The job [#71](https://github.com/amihaiemil/docker-java-api/issues/71) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/871608862); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-03-28 16:09] 0crat commented on #71
Job `gh:amihaiemil/docker-java-api#71` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-03-28 16:10] 0crat commented on #71
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-29 13:33] 0crat commented on #57
Job [#57](https://github.com/amihaiemil/docker-java-api/issues/57) is now in scope, role is `DEV`

[2018-03-29 13:33] 0crat commented on #41
Job [#41](https://github.com/amihaiemil/docker-java-api/issues/41) is now in scope, role is `DEV`

[2018-03-29 13:34] 0crat commented on #70
Job [#70](https://github.com/amihaiemil/docker-java-api/issues/70) is now in scope, role is `DEV`

[2018-03-29 13:34] 0crat commented on #72
Job [#72](https://github.com/amihaiemil/docker-java-api/issues/72) is now in scope, role is `DEV`

[2018-03-29 13:36] 0crat commented on #57
The job [#57](https://github.com/amihaiemil/docker-java-api/issues/57) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/881367938); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-03-29 13:39] 0crat commented on #41
The job [#41](https://github.com/amihaiemil/docker-java-api/issues/41) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/881371023); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-03-29 13:41] 0crat commented on #70
The job [#70](https://github.com/amihaiemil/docker-java-api/issues/70) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/881374122); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-03-29 13:42] amihaiemil commented on #41
@llorllale There are some examples in the unix library we're using: https://github.com/jnr/jnr-unixsocket/tree/master/src/test/java/jnr/unixsocket/example

I think something similar to that ``UnixServer.java`` would be enough :-?

[2018-03-29 13:44] 0crat commented on #72
The job [#72](https://github.com/amihaiemil/docker-java-api/issues/72) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/881376172); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-03-30 15:14] 0crat commented on #63
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 17:25] amihaiemil commented on #63
@0crat waiting

[2018-03-30 17:26] 0crat commented on #63
@amihaiemil The impediment for [#63](https://github.com/amihaiemil/docker-java-api/issues/63) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-31 07:39] 0crat commented on #67
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-02 16:38] 0crat commented on #71
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-03 14:05] 0crat commented on #57
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-03 14:05] 0crat commented on #41
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-03 15:59] llorllale commented on #41
@amihaiemil that example sure is a huge help but I'm still not sure how to tackle this. Do you know if that while loop in `UnixServer.main` needs to be run in a separate thread?

[2018-04-03 15:59] 0crat commented on #70
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-03 15:59] 0crat commented on #72
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-03 16:47] llorllale commented on #41
@amihaiemil nevermind, I think it does.

Beyond implementing a server: what functions do you want it to do to aid us in tests? Should it accept an `AssertRequest` in order to validate the request sent? Should it also accept `Response` objects?

[2018-04-03 17:19] llorllale commented on #41
@amihaiemil here's a draft:

[code]

[2018-04-03 17:56] llorllale commented on #57
@0crat waiting on review for PR #73

[2018-04-03 17:56] 0crat commented on #57
@llorllale The impediment for [#57](https://github.com/amihaiemil/docker-java-api/issues/57) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-03 18:57] llorllale commented on #72
@0crat waiting on review for PR #74

[2018-04-03 18:59] 0crat commented on #72
@llorllale The impediment for [#72](https://github.com/amihaiemil/docker-java-api/issues/72) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-03 20:11] amihaiemil commented on #41
@llorllale I'll have a closer look tomorrow... meanwhile, feel free to register impediments on your tasks if they are too many. After all, it's only us still, so it's not like 0crat can assign them to someone else.

[2018-04-03 20:12] #72 closed

[2018-04-03 20:12] 0pdd commented on #72
The puzzle `3-b7c517df` has disappeared from the source code, that's why I closed this issue.

[2018-04-03 20:12] 0pdd commented on #1
@amihaiemil 2 puzzles [#70](https://github.com/amihaiemil/docker-java-api/issues/70), [#71](https://github.com/amihaiemil/docker-java-api/issues/71) are still not solved; solved: [#13](https://github.com/amihaiemil/docker-java-api/issues/13), [#14](https://github.com/amihaiemil/docker-java-api/issues/14), [#18](https://github.com/amihaiemil/docker-java-api/issues/18), [#19](https://github.com/amih

[2018-04-03 20:12] 0pdd commented on #3
@0pdd 2 puzzles [#70](https://github.com/amihaiemil/docker-java-api/issues/70), [#71](https://github.com/amihaiemil/docker-java-api/issues/71) are still not solved; solved: [#72](https://github.com/amihaiemil/docker-java-api/issues/72).

[2018-04-03 20:28] 0crat commented on #72
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-03 20:32] llorllale commented on #70
@0crat waiting on review for PR #75

[2018-04-03 20:33] 0crat commented on #70
@llorllale The impediment for [#70](https://github.com/amihaiemil/docker-java-api/issues/70) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-03 20:53] llorllale commented on #41
@0crat waiting while we figure this one out...

[2018-04-03 20:53] 0crat commented on #41
@llorllale The impediment for [#41](https://github.com/amihaiemil/docker-java-api/issues/41) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-03 21:06] 0pdd commented on #57
The puzzle `46-f470c157` has disappeared from the source code, that's why I closed this issue.

[2018-04-03 21:06] #57 closed

[2018-04-03 21:06] 0pdd opened #76 "RtContainer.java:42-44: Keep implementing the rest of the..."
The puzzle `57-4a6d0f49` from #57 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/1cf306497763afee903a62fc853df37b15ff9c88/src/main/java/com/amihaiemil/docker/RtContainer.java#L42-L44

The puzzle was created by George Aristy on 03-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-04-03 21:06] 0pdd commented on #26
@amihaiemil 2 puzzles [#58](https://github.com/amihaiemil/docker-java-api/issues/58), [#76](https://github.com/amihaiemil/docker-java-api/issues/76) are still not solved; solved: [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#46](https://github.com/amihaiemil/docker-java-api/issues/46), [#47](https://github.com/amihaiemil/docker-java-api/issues/47), [#53](https://github.com/amih

[2018-04-03 21:06] 0pdd commented on #46
@0pdd 2 puzzles [#58](https://github.com/amihaiemil/docker-java-api/issues/58), [#76](https://github.com/amihaiemil/docker-java-api/issues/76) are still not solved; solved: [#57](https://github.com/amihaiemil/docker-java-api/issues/57).

[2018-04-03 21:06] 0pdd commented on #57
@0pdd the puzzle [#76](https://github.com/amihaiemil/docker-java-api/issues/76) is still not solved.

[2018-04-03 21:06] 0crat commented on #76
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-03 21:06] 0crat commented on #76
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 06:39] amihaiemil commented on #41
@llorllale Looks ok. I only think it should also accept a Response and write it back to the user. We don't need to assert the request itself since that is already tested in the current tests.

But, let's close this, you already spent the time, I think. And you can open a new Issue to continue implementation there :)

[2018-04-04 06:41] 0crat commented on #41
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-04 06:41] 0crat commented on #41
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 06:42] amihaiemil commented on #41
@llorllale ugh, bummer, I forgot it has a puzzle in the code. Can you make a PR just with removing the puzzle and adding a new one for continuing?

[2018-04-04 06:55] 0crat commented on #41
GitHub issue is still open, won't close

[2018-04-04 11:23] 0pdd opened #77 "Swarm.java:40-43: Continue implementing all of the Swarm..."
The puzzle `70-0fb5bff7` from #70 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/5d894e8f73e3f3a43454ea93358cf342fec2292b/src/main/java/com/amihaiemil/docker/Swarm.java#L40-L43

The puzzle was created by Mihai A on 04-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-04-04 11:24] 0pdd commented on #77
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2018-04-04 11:38] 0crat commented on #70
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-04 11:38] 0crat commented on #70
The job [#70](https://github.com/amihaiemil/docker-java-api/issues/70) is now out of scope

[2018-04-04 13:45] #41 closed

[2018-04-04 13:45] 0pdd commented on #41
The puzzle `38-ae2c79c8` has disappeared from the source code, that's why I closed this issue.

[2018-04-04 13:45] 0pdd opened #79 "UnixServer.java:132-133: Make the response from this..."
The puzzle `41-7d61f78a` from #41 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/096c1903c041cb34193dce178f19cd279b200b5a/src/test/java/com/amihaiemil/docker/mock/UnixServer.java#L132-L133

The puzzle was created by George Aristy on 04-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-04-04 13:45] 0pdd commented on #38
@0pdd the puzzle [#79](https://github.com/amihaiemil/docker-java-api/issues/79) is still not solved; solved: [#41](https://github.com/amihaiemil/docker-java-api/issues/41), [#42](https://github.com/amihaiemil/docker-java-api/issues/42).

[2018-04-04 13:45] 0pdd commented on #41
@0pdd the puzzle [#79](https://github.com/amihaiemil/docker-java-api/issues/79) is still not solved.

[2018-04-04 13:45] 0crat commented on #79
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-04 13:45] 0crat commented on #79
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 13:48] 0crat commented on #79
Job [#79](https://github.com/amihaiemil/docker-java-api/issues/79) is now in scope, role is `DEV`

[2018-04-04 13:48] 0crat commented on #76
Job [#76](https://github.com/amihaiemil/docker-java-api/issues/76) is now in scope, role is `DEV`

[2018-04-04 13:48] 0crat commented on #77
Job [#77](https://github.com/amihaiemil/docker-java-api/issues/77) is now in scope, role is `DEV`

[2018-04-04 13:52] 0crat commented on #79
The job [#79](https://github.com/amihaiemil/docker-java-api/issues/79) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/941386256); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-04-04 14:04] 0crat commented on #41
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-04 14:04] 0crat commented on #41
The job [#41](https://github.com/amihaiemil/docker-java-api/issues/41) is now out of scope

[2018-04-04 14:12] 0crat commented on #76
The job [#76](https://github.com/amihaiemil/docker-java-api/issues/76) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/941444710); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-04-09 13:56] yegor256 commented on #67
@0crat status

[2018-04-09 13:57] 0crat commented on #67
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#67](https://github.com/amihaiemil/docker-java-api/issues/67) is [in scope](http://www.zerocracy.com/policy.html#14) for 14days
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [14days](http://www.zerocracy.com/policy.html#8)
  *

[2018-04-09 14:34] 0crat commented on #79
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-09 14:34] 0crat commented on #76
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-09 16:10] 0crat commented on #71
The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#71](https://github.com/amihaiemil/docker-java-api/issues/71), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-09 16:10] 0crat commented on #71
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-09 16:10] 0crat commented on #71
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-09 16:12] 0crat commented on #77
The job [#77](https://github.com/amihaiemil/docker-java-api/issues/77) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/991616849); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-04-14 14:50] llorllale commented on #79
@0crat waiting

[2018-04-14 14:50] 0crat commented on #79
@llorllale The impediment for [#79](https://github.com/amihaiemil/docker-java-api/issues/79) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-14 14:50] llorllale commented on #76
@0crat waiting on merge for #80

[2018-04-14 14:51] 0crat commented on #76
@llorllale The impediment for [#76](https://github.com/amihaiemil/docker-java-api/issues/76) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-14 14:53] llorllale commented on #51
@0crat waiting on #79

[2018-04-14 14:54] 0crat commented on #51
@llorllale Job [#51](https://github.com/amihaiemil/docker-java-api/issues/51) is already on hold

[2018-04-14 17:40] 0crat commented on #77
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 19:08] llorllale commented on #76
@amihaiemil something wrong with @0pdd? This should've been closed, I believe, when #80 was merged.

[2018-04-17 19:11] amihaiemil commented on #76
@llorllale I think there is that puzzle you said was malformed a few days ago.
I received this via email:

[code]

[2018-04-17 19:11] #76 closed

[2018-04-17 19:13] amihaiemil commented on #76
@llorllale I'll fix that puzzle later, apparently I cannot edit the file on-the-fly. It is indeed missing the ``#``.

[2018-04-17 19:27] 0crat commented on #76
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-17 19:28] 0crat commented on #76
The job [#76](https://github.com/amihaiemil/docker-java-api/issues/76) is now out of scope

[2018-04-17 19:31] 0crat commented on #71
The job [#71](https://github.com/amihaiemil/docker-java-api/issues/71) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1071937467); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-04-19 18:53] 0pdd commented on #71
The puzzle `3-571befa7` has disappeared from the source code, that's why I closed this issue.

[2018-04-19 18:53] #71 closed

[2018-04-19 18:53] #79 closed

[2018-04-19 18:53] 0pdd commented on #79
The puzzle `41-7d61f78a` has disappeared from the source code, that's why I closed this issue.

[2018-04-19 18:53] 0pdd opened #83 "Images.java:36-37: Continue implementing the rest of the..."
The puzzle `71-994768b7` from #71 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/42d39433d64dc86c925392db9ab1cc04349a4eb2/src/main/java/com/amihaiemil/docker/Images.java#L36-L37

The puzzle was created by George Aristy on 19-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-04-19 18:53] 0pdd commented on #83
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`0.0.1`, `0.0.2`, `0.0.3`, `15min`, `1h`, `30min`, `@amihaiemil`, `arch`, `bug`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `pdd`, `postponed`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see b

[2018-04-19 18:53] 0pdd opened #84 "Images.java:46-48: Images should extend Iterable<Image>...."
The puzzle `71-cf823270` from #71 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/42d39433d64dc86c925392db9ab1cc04349a4eb2/src/main/java/com/amihaiemil/docker/Images.java#L46-L48

The puzzle was created by George Aristy on 19-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-04-19 18:53] 0pdd commented on #84
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`0.0.1`, `0.0.2`, `0.0.3`, `15min`, `1h`, `30min`, `@amihaiemil`, `arch`, `bug`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `pdd`, `postponed`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see b

[2018-04-19 18:53] 0pdd opened #85 "Docker.java:35-36: Continue implementing the rest of the..."
The puzzle `71-99102c6f` from #71 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/42d39433d64dc86c925392db9ab1cc04349a4eb2/src/main/java/com/amihaiemil/docker/Docker.java#L35-L36

The puzzle was created by George Aristy on 19-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-04-19 18:53] 0pdd commented on #85
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`0.0.1`, `0.0.2`, `0.0.3`, `15min`, `1h`, `30min`, `@amihaiemil`, `arch`, `bug`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `pdd`, `postponed`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see b

[2018-04-19 18:53] 0crat commented on #83
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:53] 0pdd opened #86 "Image.java:34-35: Implement the operations that affect a..."
The puzzle `71-e9dc77f9` from #71 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/42d39433d64dc86c925392db9ab1cc04349a4eb2/src/main/java/com/amihaiemil/docker/Image.java#L34-L35

The puzzle was created by George Aristy on 19-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-04-19 18:53] 0crat commented on #83
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 18:53] 0pdd commented on #86
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`0.0.1`, `0.0.2`, `0.0.3`, `15min`, `1h`, `30min`, `@amihaiemil`, `arch`, `bug`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `pdd`, `postponed`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see b

[2018-04-19 18:53] 0crat commented on #84
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:53] 0pdd opened #87 "Response.java:54-56: The 'asString()' method needs a..."
The puzzle `79-46d0f4fe` from #79 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/42d39433d64dc86c925392db9ab1cc04349a4eb2/src/test/java/com/amihaiemil/docker/mock/Response.java#L54-L56

The puzzle was created by George Aristy on 19-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-04-19 18:53] 0crat commented on #84
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 18:53] 0pdd commented on #87
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`0.0.1`, `0.0.2`, `0.0.3`, `15min`, `1h`, `30min`, `@amihaiemil`, `arch`, `bug`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `pdd`, `postponed`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see b

[2018-04-19 18:53] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:53] 0pdd opened #88 "RtContainer.java:42-44: Continue implementing the rest of..."
The puzzle `76-2de819bd` from #76 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/42d39433d64dc86c925392db9ab1cc04349a4eb2/src/main/java/com/amihaiemil/docker/RtContainer.java#L42-L44

The puzzle was created by George Aristy on 19-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-04-19 18:53] 0crat commented on #85
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 18:53] 0pdd commented on #88
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`0.0.1`, `0.0.2`, `0.0.3`, `15min`, `1h`, `30min`, `@amihaiemil`, `arch`, `bug`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `pdd`, `postponed`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see b

[2018-04-19 18:53] 0pdd commented on #1
@amihaiemil 5 puzzles [#77](https://github.com/amihaiemil/docker-java-api/issues/77), [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#86](https://github.com/amihaiemil/docker-java-api/issues/86) are still not solved; solved: [#13](https://github.com/amih

[2018-04-19 18:53] 0pdd commented on #3
@0pdd 5 puzzles [#77](https://github.com/amihaiemil/docker-java-api/issues/77), [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#86](https://github.com/amihaiemil/docker-java-api/issues/86) are still not solved; solved: [#70](https://github.com/amihaiemil

[2018-04-19 18:53] 0crat commented on #86
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:53] 0pdd commented on #71
@0pdd 4 puzzles [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#86](https://github.com/amihaiemil/docker-java-api/issues/86) are still not solved.

[2018-04-19 18:53] 0crat commented on #86
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 18:53] 0pdd commented on #38
@0pdd the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved; solved: [#41](https://github.com/amihaiemil/docker-java-api/issues/41), [#42](https://github.com/amihaiemil/docker-java-api/issues/42), [#79](https://github.com/amihaiemil/docker-java-api/issues/79).

[2018-04-19 18:53] 0pdd commented on #39
@llorllale the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved; solved: [#38](https://github.com/amihaiemil/docker-java-api/issues/38), [#41](https://github.com/amihaiemil/docker-java-api/issues/41), [#42](https://github.com/amihaiemil/docker-java-api/issues/42), [#79](https://github.com/amihaiemil/docker-java-api/issues/79).

[2018-04-19 18:53] 0crat commented on #87
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:53] 0pdd commented on #41
@0pdd the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved; solved: [#79](https://github.com/amihaiemil/docker-java-api/issues/79).

[2018-04-19 18:53] 0crat commented on #87
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 18:53] 0pdd commented on #26
@amihaiemil 2 puzzles [#58](https://github.com/amihaiemil/docker-java-api/issues/58), [#88](https://github.com/amihaiemil/docker-java-api/issues/88) are still not solved; solved: [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#46](https://github.com/amihaiemil/docker-java-api/issues/46), [#47](https://github.com/amihaiemil/docker-java-api/issues/47), [#53](https://github.com/amih

[2018-04-19 18:53] 0pdd commented on #79
@0pdd the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved.

[2018-04-19 18:53] 0pdd commented on #46
@0pdd 2 puzzles [#58](https://github.com/amihaiemil/docker-java-api/issues/58), [#88](https://github.com/amihaiemil/docker-java-api/issues/88) are still not solved; solved: [#57](https://github.com/amihaiemil/docker-java-api/issues/57), [#76](https://github.com/amihaiemil/docker-java-api/issues/76).

[2018-04-19 18:53] 0pdd commented on #57
@0pdd the puzzle [#88](https://github.com/amihaiemil/docker-java-api/issues/88) is still not solved; solved: [#76](https://github.com/amihaiemil/docker-java-api/issues/76).

[2018-04-19 18:53] 0crat commented on #88
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:53] 0pdd commented on #76
@0pdd the puzzle [#88](https://github.com/amihaiemil/docker-java-api/issues/88) is still not solved.

[2018-04-19 18:53] 0crat commented on #88
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 19:12] 0crat commented on #71
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-19 19:12] 0crat commented on #71
The job [#71](https://github.com/amihaiemil/docker-java-api/issues/71) is now out of scope

[2018-04-19 19:13] 0crat commented on #79
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-19 19:13] 0crat commented on #79
The job [#79](https://github.com/amihaiemil/docker-java-api/issues/79) is now out of scope

[2018-04-20 07:32] 0crat commented on #83
Job [#83](https://github.com/amihaiemil/docker-java-api/issues/83) is now in scope, role is `DEV`

[2018-04-20 07:32] 0crat commented on #85
Job [#85](https://github.com/amihaiemil/docker-java-api/issues/85) is now in scope, role is `DEV`

[2018-04-20 07:32] 0crat commented on #86
Job [#86](https://github.com/amihaiemil/docker-java-api/issues/86) is now in scope, role is `DEV`

[2018-04-20 07:32] 0crat commented on #87
Job [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is now in scope, role is `DEV`

[2018-04-20 07:32] 0crat commented on #88
Job [#88](https://github.com/amihaiemil/docker-java-api/issues/88) is now in scope, role is `DEV`

[2018-04-20 07:33] 0crat commented on #84
Job [#84](https://github.com/amihaiemil/docker-java-api/issues/84) is now in scope, role is `DEV`

[2018-04-20 07:39] 0crat commented on #83
The job [#83](https://github.com/amihaiemil/docker-java-api/issues/83) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1100766103); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-04-21 16:15] 0crat commented on #77
The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#77](https://github.com/amihaiemil/docker-java-api/issues/77), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-21 16:15] 0crat commented on #77
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-23 12:49] llorllale commented on #51
@0crat waiting on #87

[2018-04-23 12:50] 0crat commented on #51
@llorllale Job [#51](https://github.com/amihaiemil/docker-java-api/issues/51) is already on hold

[2018-04-25 10:35] 0crat commented on #83
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-25 18:02] 0crat commented on #77
The job [#77](https://github.com/amihaiemil/docker-java-api/issues/77) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1151833561); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-04-25 18:02] 0crat commented on #77
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-25 18:38] 0crat commented on #88
The job [#88](https://github.com/amihaiemil/docker-java-api/issues/88) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1151870820); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-04-25 18:38] 0crat commented on #88
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-26 15:04] 0crat commented on #86
The job [#86](https://github.com/amihaiemil/docker-java-api/issues/86) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1161529578); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-04-26 15:05] 0crat commented on #86
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-30 15:48] llorllale opened #93 "Code duplication"
(from [this](https://github.com/amihaiemil/docker-java-api/pull/91#issue-184137184) comment)

Example of pattern we keep seeing over and over (taken from `RtContainer.start()`:

[code]

The requirements fulfilled by this pattern always seem to be:
* Some sort of *command* sent to the docker api
* Parametrize the `HttpUriRequest` with the URL and as one of the HTTP methods (GET/POST)
* Verify respo

[2018-04-30 15:48] 0crat commented on #93
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-30 19:14] llorllale commented on #51
@0crat waiting on #87

[2018-04-30 19:16] 0crat commented on #51
@llorllale Job [#51](https://github.com/amihaiemil/docker-java-api/issues/51) is already on hold

[2018-04-30 19:38] 0crat commented on #88
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-30 21:26] 0crat commented on #83
@llorllale The impediment for [#83](https://github.com/amihaiemil/docker-java-api/issues/83) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-01 17:36] 0crat commented on #86
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-02 15:26] llorllale commented on #93
@amihaiemil implementing/decorating `HttpClient` sounds OK I guess. I just hate the `HttpClient` interface itself :)

My proposal would provide a simple, "SAM"/single-method interface. You decide.

[2018-05-02 15:29] #77 closed

[2018-05-02 15:29] 0pdd commented on #77
The puzzle `70-0fb5bff7` has disappeared from the source code, that's why I closed this issue.

[2018-05-02 15:29] 0pdd opened #95 "Swarm.java:40-43: Continue implementing the rest of the..."
The puzzle `77-48853626` from #77 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/e98c3bb36afc28724d0b983b11e95bb5d4f0c1ac/src/main/java/com/amihaiemil/docker/Swarm.java#L40-L43

The puzzle was created by Mihai A on 02-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-05-02 15:29] 0pdd commented on #1
@amihaiemil 5 puzzles [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#86](https://github.com/amihaiemil/docker-java-api/issues/86), [#95](https://github.com/amihaiemil/docker-java-api/issues/95) are still not solved; solved: [#13](https://github.com/amih

[2018-05-02 15:29] 0pdd commented on #3
@0pdd 5 puzzles [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#86](https://github.com/amihaiemil/docker-java-api/issues/86), [#95](https://github.com/amihaiemil/docker-java-api/issues/95) are still not solved; solved: [#70](https://github.com/amihaiemil

[2018-05-02 15:29] 0pdd commented on #70
@0pdd the puzzle [#95](https://github.com/amihaiemil/docker-java-api/issues/95) is still not solved; solved: [#77](https://github.com/amihaiemil/docker-java-api/issues/77).

[2018-05-02 15:29] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 15:29] 0pdd commented on #77
@0pdd the puzzle [#95](https://github.com/amihaiemil/docker-java-api/issues/95) is still not solved.

[2018-05-02 15:29] 0pdd commented on #39
@llorllale the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved; solved: [#10](https://github.com/amihaiemil/docker-java-api/issues/10), [#38](https://github.com/amihaiemil/docker-java-api/issues/38), [#41](https://github.com/amihaiemil/docker-java-api/issues/41), [#42](https://github.com/amihaiemil/docker-java-api/issues/42), [#79](https://github.com/amiha

[2018-05-02 15:29] 0pdd commented on #38
@0pdd the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved; solved: [#10](https://github.com/amihaiemil/docker-java-api/issues/10), [#41](https://github.com/amihaiemil/docker-java-api/issues/41), [#42](https://github.com/amihaiemil/docker-java-api/issues/42), [#79](https://github.com/amihaiemil/docker-java-api/issues/79).

[2018-05-02 15:29] 0pdd commented on #41
@0pdd the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved; solved: [#10](https://github.com/amihaiemil/docker-java-api/issues/10), [#79](https://github.com/amihaiemil/docker-java-api/issues/79).

[2018-05-02 15:29] 0crat commented on #95
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-02 15:29] 0pdd commented on #79
@0pdd the puzzle [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is still not solved; solved: [#10](https://github.com/amihaiemil/docker-java-api/issues/10).

[2018-05-02 15:29] 0crat commented on #95
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 15:29] 0crat commented on #95
Job [#95](https://github.com/amihaiemil/docker-java-api/issues/95) is now in scope, role is `DEV`

[2018-05-02 15:29] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 15:37] 0pdd commented on #86
The puzzle `71-e9dc77f9` has disappeared from the source code, that's why I closed this issue.

[2018-05-02 15:37] #86 closed

[2018-05-02 15:37] 0pdd opened #96 "Image.java:37-38: Continue implementing the operations..."
The puzzle `86-390ec7ae` from #86 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/68ad57f1a8ee7cde78b455fa65efff79f5e63446/src/main/java/com/amihaiemil/docker/Image.java#L37-L38

The puzzle was created by amihaiemil on 26-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-02 15:37] 0pdd commented on #1
@amihaiemil 5 puzzles [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#95](https://github.com/amihaiemil/docker-java-api/issues/95), [#96](https://github.com/amihaiemil/docker-java-api/issues/96) are still not solved; solved: [#13](https://github.com/amih

[2018-05-02 15:37] 0pdd commented on #3
@0pdd 5 puzzles [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#95](https://github.com/amihaiemil/docker-java-api/issues/95), [#96](https://github.com/amihaiemil/docker-java-api/issues/96) are still not solved; solved: [#70](https://github.com/amihaiemil

[2018-05-02 15:37] 0pdd commented on #71
@0pdd 4 puzzles [#83](https://github.com/amihaiemil/docker-java-api/issues/83), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#96](https://github.com/amihaiemil/docker-java-api/issues/96) are still not solved; solved: [#86](https://github.com/amihaiemil/docker-java-api/issues/86).

[2018-05-02 15:37] 0pdd commented on #86
@0pdd the puzzle [#96](https://github.com/amihaiemil/docker-java-api/issues/96) is still not solved.

[2018-05-02 15:37] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 15:37] 0crat commented on #96
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-02 15:37] 0crat commented on #96
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 15:37] 0crat commented on #96
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 15:37] 0crat commented on #96
Job [#96](https://github.com/amihaiemil/docker-java-api/issues/96) is now in scope, role is `DEV`

[2018-05-02 15:45] #88 closed

[2018-05-02 15:45] 0pdd commented on #88
The puzzle `76-2de819bd` has disappeared from the source code, that's why I closed this issue.

[2018-05-02 15:45] 0pdd opened #97 "RtContainer.java:42-44: Continue implementing the rest of..."
The puzzle `88-49a98f92` from #88 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/850ecf040b2ffeae510d8470c39ba43208d0e940/src/main/java/com/amihaiemil/docker/RtContainer.java#L42-L44

The puzzle was created by amihaiemil on 25-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-05-02 15:45] 0pdd commented on #26
@amihaiemil 2 puzzles [#58](https://github.com/amihaiemil/docker-java-api/issues/58), [#97](https://github.com/amihaiemil/docker-java-api/issues/97) are still not solved; solved: [#45](https://github.com/amihaiemil/docker-java-api/issues/45), [#46](https://github.com/amihaiemil/docker-java-api/issues/46), [#47](https://github.com/amihaiemil/docker-java-api/issues/47), [#53](https://github.com/amih

[2018-05-02 15:45] 0pdd commented on #46
@0pdd 2 puzzles [#58](https://github.com/amihaiemil/docker-java-api/issues/58), [#97](https://github.com/amihaiemil/docker-java-api/issues/97) are still not solved; solved: [#57](https://github.com/amihaiemil/docker-java-api/issues/57), [#76](https://github.com/amihaiemil/docker-java-api/issues/76), [#88](https://github.com/amihaiemil/docker-java-api/issues/88).

[2018-05-02 15:45] 0pdd commented on #57
@0pdd the puzzle [#97](https://github.com/amihaiemil/docker-java-api/issues/97) is still not solved; solved: [#76](https://github.com/amihaiemil/docker-java-api/issues/76), [#88](https://github.com/amihaiemil/docker-java-api/issues/88).

[2018-05-02 15:45] 0pdd commented on #76
@0pdd the puzzle [#97](https://github.com/amihaiemil/docker-java-api/issues/97) is still not solved; solved: [#88](https://github.com/amihaiemil/docker-java-api/issues/88).

[2018-05-02 15:45] 0crat commented on #88
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 15:45] 0pdd commented on #88
@0pdd the puzzle [#97](https://github.com/amihaiemil/docker-java-api/issues/97) is still not solved.

[2018-05-02 15:45] 0crat commented on #97
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-02 15:45] 0crat commented on #97
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 15:45] 0crat commented on #97
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 15:45] 0crat commented on #97
Job [#97](https://github.com/amihaiemil/docker-java-api/issues/97) is now in scope, role is `DEV`

[2018-05-02 16:29] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 16:30] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 16:38] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 16:38] 0crat commented on #96
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 16:46] 0crat commented on #88
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 16:46] 0crat commented on #97
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 17:30] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 17:31] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 17:38] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 17:47] 0crat commented on #88
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 17:47] 0crat commented on #97
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:30] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:32] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:39] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:47] 0crat commented on #97
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:47] 0crat commented on #88
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:31] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:32] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:40] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:40] 0crat commented on #96
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:48] 0crat commented on #88
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:48] 0crat commented on #97
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:25] 0crat commented on #93
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:33] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:40] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:40] 0crat commented on #96
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:48] 0crat commented on #77
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-02 20:48] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:48] 0crat commented on #77
The job [#77](https://github.com/amihaiemil/docker-java-api/issues/77) is now out of scope

[2018-05-02 20:56] 0crat commented on #86
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-02 20:56] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:56] 0crat commented on #86
The job [#86](https://github.com/amihaiemil/docker-java-api/issues/86) is now out of scope

[2018-05-02 21:05] 0crat commented on #88
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-02 21:05] 0crat commented on #88
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 21:05] 0crat commented on #88
The job [#88](https://github.com/amihaiemil/docker-java-api/issues/88) is now out of scope

[2018-05-02 21:20] 0crat commented on #85
The job [#85](https://github.com/amihaiemil/docker-java-api/issues/85) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1222121098); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-02 21:25] 0crat commented on #84
The job [#84](https://github.com/amihaiemil/docker-java-api/issues/84) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1222127324); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-02 21:28] 0crat commented on #93
The job [#93](https://github.com/amihaiemil/docker-java-api/issues/93) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1222129471); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-02 21:30] 0crat commented on #95
The job [#95](https://github.com/amihaiemil/docker-java-api/issues/95) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1222131596); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-02 21:48] 0crat commented on #77
The job is not in WBS, won't close the order

[2018-05-02 21:57] 0crat commented on #86
The job is not in WBS, won't close the order

[2018-05-07 06:15] 0pdd commented on #83
The puzzle `71-994768b7` has disappeared from the source code, that's why I closed this issue.

[2018-05-07 06:15] #83 closed

[2018-05-07 06:15] 0pdd opened #98 "Images.java:37-38: Keep implementing the rest of the..."
The puzzle `83-f448d301` from #83 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/bc8e27a93cff11821587f082de9b238e0a506af6/src/main/java/com/amihaiemil/docker/Images.java#L37-L38

The puzzle was created by Mihai A on 07-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-05-07 06:15] 0pdd opened #99 "RtImages.java:96-100: Several API calls required an..."
The puzzle `83-127c3a0c` from #83 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/bc8e27a93cff11821587f082de9b238e0a506af6/src/main/java/com/amihaiemil/docker/RtImages.java#L96-L100

The puzzle was created by Mihai A on 07-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-05-07 06:15] 0pdd commented on #1
@amihaiemil 6 puzzles [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#95](https://github.com/amihaiemil/docker-java-api/issues/95), [#96](https://github.com/amihaiemil/docker-java-api/issues/96), [#98](https://github.com/amihaiemil/docker-java-api/issues/98), [#99](https://github.com/amihaiemil/docker-java-api/issues

[2018-05-07 06:15] 0pdd commented on #3
@0pdd 6 puzzles [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#95](https://github.com/amihaiemil/docker-java-api/issues/95), [#96](https://github.com/amihaiemil/docker-java-api/issues/96), [#98](https://github.com/amihaiemil/docker-java-api/issues/98), [#99](https://github.com/amihaiemil/docker-java-api/issues/99) a

[2018-05-07 06:15] 0pdd commented on #71
@0pdd 5 puzzles [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#96](https://github.com/amihaiemil/docker-java-api/issues/96), [#98](https://github.com/amihaiemil/docker-java-api/issues/98), [#99](https://github.com/amihaiemil/docker-java-api/issues/99) are still not solved; solved: [#83](https://github.com/amihaiemil

[2018-05-07 06:15] 0pdd commented on #83
@0pdd 2 puzzles [#98](https://github.com/amihaiemil/docker-java-api/issues/98), [#99](https://github.com/amihaiemil/docker-java-api/issues/99) are still not solved.

[2018-05-07 06:15] 0crat commented on #98
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-07 06:15] 0crat commented on #98
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-07 06:15] 0crat commented on #99
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-07 06:15] 0crat commented on #99
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-07 06:16] 0crat commented on #98
Job [#98](https://github.com/amihaiemil/docker-java-api/issues/98) is now in scope, role is `DEV`

[2018-05-07 06:16] 0crat commented on #99
Job [#99](https://github.com/amihaiemil/docker-java-api/issues/99) is now in scope, role is `DEV`

[2018-05-07 06:31] 0crat commented on #83
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-07 06:31] 0crat commented on #83
The job [#83](https://github.com/amihaiemil/docker-java-api/issues/83) is now out of scope

[2018-05-07 18:18] 0crat commented on #96
The job [#96](https://github.com/amihaiemil/docker-java-api/issues/96) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1271828049); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-08 03:37] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 03:37] 0crat commented on #87
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 06:33] amihaiemil commented on #87
@0crat waiting

[2018-05-08 06:33] amihaiemil commented on #85
@0crat waiting

[2018-05-08 06:33] 0crat commented on #87
@amihaiemil The impediment for [#87](https://github.com/amihaiemil/docker-java-api/issues/87) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 06:36] 0crat commented on #84
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 06:37] 0crat commented on #93
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 06:42] amihaiemil commented on #84
@0crat waiting

[2018-05-08 06:42] amihaiemil commented on #93
@0crat waiting

[2018-05-08 06:42] 0crat commented on #93
@amihaiemil The impediment for [#93](https://github.com/amihaiemil/docker-java-api/issues/93) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 06:42] 0crat commented on #84
@amihaiemil The impediment for [#84](https://github.com/amihaiemil/docker-java-api/issues/84) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 07:14] 0pdd commented on #67
The puzzle `23-d9c71050` has disappeared from the source code, that's why I closed this issue.

[2018-05-08 07:14] #67 closed

[2018-05-08 07:14] 0pdd opened #100 "SslHttpClient.java:50-52: Using the provided..."
The puzzle `67-80672d59` from #67 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/873268efb61ad61f0d508acc00f355ea9cf948d1/src/main/java/com/amihaiemil/docker/SslHttpClient.java#L50-L52

The puzzle was created by amihaiemil on 08-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-05-08 07:14] 0pdd commented on #11
@amihaiemil 2 puzzles [#100](https://github.com/amihaiemil/docker-java-api/issues/100), [#68](https://github.com/amihaiemil/docker-java-api/issues/68) are still not solved; solved: [#23](https://github.com/amihaiemil/docker-java-api/issues/23), [#24](https://github.com/amihaiemil/docker-java-api/issues/24), [#67](https://github.com/amihaiemil/docker-java-api/issues/67).

[2018-05-08 07:14] 0pdd commented on #23
@0pdd 2 puzzles [#100](https://github.com/amihaiemil/docker-java-api/issues/100), [#68](https://github.com/amihaiemil/docker-java-api/issues/68) are still not solved; solved: [#67](https://github.com/amihaiemil/docker-java-api/issues/67).

[2018-05-08 07:14] 0pdd commented on #67
@0pdd the puzzle [#100](https://github.com/amihaiemil/docker-java-api/issues/100) is still not solved.

[2018-05-08 07:14] 0crat commented on #100
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-08 07:14] 0crat commented on #100
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-08 07:14] 0crat commented on #100
Job [#100](https://github.com/amihaiemil/docker-java-api/issues/100) is now in scope, role is `DEV`

[2018-05-08 07:30] 0crat commented on #67
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 07:30] 0crat commented on #67
The job [#67](https://github.com/amihaiemil/docker-java-api/issues/67) is now out of scope

[2018-05-08 07:32] 0crat commented on #97
The job [#97](https://github.com/amihaiemil/docker-java-api/issues/97) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1280768425); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-08 18:34] llorllale commented on #96
@0crat waiting on review for #101

[2018-05-08 18:38] 0crat commented on #96
@llorllale The impediment for [#96](https://github.com/amihaiemil/docker-java-api/issues/96) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-10 13:26] amihaiemil commented on #95
@0crat waiting

[2018-05-10 13:27] 0crat commented on #95
@amihaiemil The impediment for [#95](https://github.com/amihaiemil/docker-java-api/issues/95) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-10 13:31] amihaiemil commented on #93
@llorllale Yes, I will implement a decorating ``HttpClient`` which will do these repeated checks for us. I don't like the ``SAM`` approach since it is a forced abstraction -- it's like sweeping the dirt under the mat. In general, I don't like using object as functions... that is, wrapping object X in object Y with the sole purpose of doing something with Y punctually, where needed.

I'm not sure i

[2018-05-10 13:33] 0crat commented on #98
The job [#98](https://github.com/amihaiemil/docker-java-api/issues/98) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1301333166); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-10 13:36] 0pdd commented on #96
The puzzle `86-390ec7ae` has disappeared from the source code, that's why I closed this issue.

[2018-05-10 13:36] #96 closed

[2018-05-10 13:36] 0pdd opened #103 "Image.java:37-39: Finish implementing the operations that..."
The puzzle `96-6bad42df` from #96 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/d253105e7e20178d649b8c463cee5c9fc01b13f0/src/main/java/com/amihaiemil/docker/Image.java#L37-L39

The puzzle was created by Mihai A on 10-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-05-10 13:37] 0pdd commented on #1
@amihaiemil 6 puzzles [#103](https://github.com/amihaiemil/docker-java-api/issues/103), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#95](https://github.com/amihaiemil/docker-java-api/issues/95), [#98](https://github.com/amihaiemil/docker-java-api/issues/98), [#99](https://github.com/amihaiemil/docker-java-api/issu

[2018-05-10 13:37] 0pdd commented on #3
@0pdd 6 puzzles [#103](https://github.com/amihaiemil/docker-java-api/issues/103), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#95](https://github.com/amihaiemil/docker-java-api/issues/95), [#98](https://github.com/amihaiemil/docker-java-api/issues/98), [#99](https://github.com/amihaiemil/docker-java-api/issues/99)

[2018-05-10 13:37] 0pdd commented on #71
@0pdd 5 puzzles [#103](https://github.com/amihaiemil/docker-java-api/issues/103), [#84](https://github.com/amihaiemil/docker-java-api/issues/84), [#85](https://github.com/amihaiemil/docker-java-api/issues/85), [#98](https://github.com/amihaiemil/docker-java-api/issues/98), [#99](https://github.com/amihaiemil/docker-java-api/issues/99) are still not solved; solved: [#83](https://github.com/amihaiem

[2018-05-10 13:37] 0pdd commented on #86
@0pdd the puzzle [#103](https://github.com/amihaiemil/docker-java-api/issues/103) is still not solved; solved: [#96](https://github.com/amihaiemil/docker-java-api/issues/96).

[2018-05-10 13:37] 0pdd commented on #96
@0pdd the puzzle [#103](https://github.com/amihaiemil/docker-java-api/issues/103) is still not solved.

[2018-05-10 13:37] 0crat commented on #103
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-10 13:37] 0crat commented on #103
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 13:37] 0crat commented on #103
Job [#103](https://github.com/amihaiemil/docker-java-api/issues/103) is now in scope, role is `DEV`

[2018-05-10 13:52] 0crat commented on #96
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-10 13:52] 0crat commented on #96
The job [#96](https://github.com/amihaiemil/docker-java-api/issues/96) is now out of scope

[2018-05-10 13:54] 0crat commented on #99
The job [#99](https://github.com/amihaiemil/docker-java-api/issues/99) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1301355019); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-11 06:42] 0pdd opened #105 "MatchStatus.java:40-42: Use this ResponseHandler to get..."
The puzzle `93-7fa72147` from #93 has to be resolved:

https://github.com/amihaiemil/docker-java-api/blob/554f35b10983e65de6c361e83f6d3d9f308fc8d2/src/main/java/com/amihaiemil/docker/MatchStatus.java#L40-L42

The puzzle was created by rultor on 11-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-05-11 06:42] 0pdd commented on #105
@amihaiemil please pay attention to this new issue.

[2018-05-11 06:43] 0crat commented on #105
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-11 06:43] 0crat commented on #105
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/G6LPQQV2P) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-11 06:43] 0crat commented on #105
Job [#105](https://github.com/amihaiemil/docker-java-api/issues/105) is now in scope, role is `DEV`

[2018-05-11 06:44] amihaiemil commented on #93
@llorllale can we close this? :D

[2018-05-11 06:46] 0crat commented on #105
The job [#105](https://github.com/amihaiemil/docker-java-api/issues/105) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1310649791); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-11 06:48] 0crat commented on #100
The job [#100](https://github.com/amihaiemil/docker-java-api/issues/100) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1310652873); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-11 06:50] 0crat commented on #103
The job [#103](https://github.com/amihaiemil/docker-java-api/issues/103) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1310653954); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-11 15:58] llorllale commented on #93
@amihaiemil thanks

[2018-05-11 15:58] #93 closed

[2018-05-11 16:14] 0crat commented on #93
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-11 16:14] 0crat commented on #93
The job [#93](https://github.com/amihaiemil/docker-java-api/issues/93) is now out of scope

[2018-05-11 16:15] #97 closed

[2018-05-11 16:15] 0pdd commented on #97
The puzzle `88-49a98f92` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-05-11 16:32] 0crat commented on #97
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-11 16:32] 0crat commented on #97
The job [#97](https://github.com/amihaiemil/docker-java-api/issues/97) is now out of scope

[2018-05-14 20:50] llorllale commented on #98
@0crat waiting on review/merge of #106

[2018-05-14 20:52] 0crat commented on #98
@llorllale The impediment for [#98](https://github.com/amihaiemil/docker-java-api/issues/98) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-15 07:32] 0pdd commented on #98
The puzzle `83-f448d301` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-05-15 07:32] #98 closed

[2018-05-15 07:50] 0crat commented on #98
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-15 07:50] 0crat commented on #98
The job [#98](https://github.com/amihaiemil/docker-java-api/issues/98) is now out of scope

[2018-05-15 09:39] 0crat commented on #85
The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#85](https://github.com/amihaiemil/docker-java-api/issues/85), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-05-15 09:39] 0crat commented on #85
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-15 09:44] 0crat commented on #85
The job [#85](https://github.com/amihaiemil/docker-java-api/issues/85) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1350961611); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-15 10:18] amihaiemil commented on #100
@llorllale This is a rather complex task. The big outline is that we need to first read the contents of the certificates, then use them to create objects of type KeyStore and such (from the JDK), which will go to some Factory from Apache -- that's how the guys from Spotify did it [here](https://github.com/spotify/docker-client) but if you have a better idea, feel free to say it. This, of course, c

[2018-05-15 12:58] 0crat commented on #58
The job [#58](https://github.com/amihaiemil/docker-java-api/issues/58) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1351281941); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-15 12:59] 0crat commented on #58
Job `gh:amihaiemil/docker-java-api#58` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-05-15 12:59] 0crat commented on #58
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-15 14:01] amihaiemil opened #108 "Let's add the body to the UnexpectedResponseException"
Let's also add the body to the exception message, not just the expected/actual status

[2018-05-15 14:03] 0crat commented on #108
Job [#108](https://github.com/amihaiemil/docker-java-api/issues/108) is now in scope, role is `DEV`

[2018-05-15 14:04] 0crat commented on #108
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-15 14:05] amihaiemil opened #109 "URL encode the query parameters"
We need to make sure the query parameters are encoded properly, otherwise exceptions are thrown as seen [here](https://travis-ci.org/amihaiemil/docker-java-api/jobs/379218662#L1959).

[2018-05-15 14:06] 0crat commented on #109
Job [#109](https://github.com/amihaiemil/docker-java-api/issues/109) is now in scope, role is `DEV`

[2018-05-15 14:06] 0crat commented on #109
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-15 14:09] 0crat commented on #108
The job [#108](https://github.com/amihaiemil/docker-java-api/issues/108) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1351434173); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-15 14:14] 0crat commented on #109
The job [#109](https://github.com/amihaiemil/docker-java-api/issues/109) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1351440349); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-15 15:36] 0crat commented on #99
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-15 18:02] #58 closed

[2018-05-15 18:19] 0crat commented on #58
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-15 18:19] 0crat commented on #58
The job [#58](https://github.com/amihaiemil/docker-java-api/issues/58) is now out of scope

[2018-05-15 20:57] llorllale commented on #99
@0crat waiting on review/merge of #110

[2018-05-15 20:58] 0crat commented on #99
@llorllale The impediment for [#99](https://github.com/amihaiemil/docker-java-api/issues/99) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-16 18:30] llorllale commented on #100
@amihaiemil this here...

[code]

Is `cert.pem` the docker server's public key?

[2018-05-16 19:00] llorllale commented on #100
@0crat waiting

[2018-05-16 19:28] llorllale commented on #87
@amihaiemil ping

[2018-05-16 19:29] amihaiemil commented on #87
@llorllale yes, do you need this implemented?

[2018-05-16 19:43] llorllale commented on #87
It's blocking #51

[2018-05-16 19:52] amihaiemil commented on #100
@llorllale

Yes, I think so, param ``Path certs`` points to a folder containing the following certificates: ca.pem, cert.pem and key.pem. ``key`` is the private key and I assume ``cert`` is the public one. These 3 are created when you create a remote docker host using ``dockermachine``.

I assume you spent the time researching (or more, let me know if so). So just edit the puzzle with the resource

[2018-05-16 19:59] amihaiemil commented on #87
@llorllale I see. I'll have a look tomorrow, promise :D

[2018-05-16 20:02] llorllale commented on #100
@amihaiemil is this supposed to be two-way or one-way tls?

[2018-05-16 20:07] amihaiemil commented on #100
@llorllale two-way, that's my understanding, since we don't have other authentication mechanism between the ``docker`` client and the remote docker host.

[2018-05-17 07:44] 0crat commented on #68
The job [#68](https://github.com/amihaiemil/docker-java-api/issues/68) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1370748018); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-05-17 07:44] 0crat commented on #68
Job `gh:amihaiemil/docker-java-api#68` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-05-17 07:44] 0crat commented on #68
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 07:44] amihaiemil commented on #85
@llorllale Let's focus on Containers/Container for now. I would like to have the Images and Containers API implemented, so we can release version ``0.0.1``. The other parts can wait, for now. WDYT?

[2018-05-17 07:45] 0crat commented on #85
@amihaiemil The impediment for [#85](https://github.com/amihaiemil/docker-java-api/issues/85) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 10:03] amihaiemil opened #114 "abstract JsonResource implements JsonObject"
Let's make this abstract implementation of JsonObject which will be extended by:

 * ``Inspection``
 * ``RtContainer``, ``RtImage`` and any other Json resource/entity returned by the API (``Container``, ``Image`` and other resource interfaces will extend ``JsonObject``

RtContainer and others will pass their JsonObject representation to the ``super`` JsonResource.

This change is needed in order t

[2018-05-17 10:06] 0crat commented on #114
The job [#114](https://github.com/amihaiemil/docker-java-api/issues/114) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1371012325); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-05-17 10:08] 0crat commented on #114
Job `gh:amihaiemil/docker-java-api#114` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-05-17 10:08] 0crat commented on #114
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 10:09] 0crat commented on #114
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 10:09] 0crat commented on #114
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 14:10] amihaiemil opened #117 "Container.remove"
Let's implement this

[2018-05-17 14:12] 0crat commented on #117
The job [#117](https://github.com/amihaiemil/docker-java-api/issues/117) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1371425830); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-05-17 14:12] llorllale commented on #85
@0crat status

[2018-05-17 14:13] 0crat commented on #117
Job `gh:amihaiemil/docker-java-api#117` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-05-17 14:15] 0crat commented on #117
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 14:15] 0crat commented on #117
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 14:16] 0crat commented on #117
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 14:16] 0crat commented on #85
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#85](https://github.com/amihaiemil/docker-java-api/issues/85) is [in scope](http://www.zerocracy.com/policy.html#14) for 27days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [2days](http://www.zerocracy.com/policy.html#8)
  * Th

[2018-05-17 16:28] #114 closed

[2018-05-17 16:47] 0crat commented on #114
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-17 16:48] 0crat commented on #114
The job [#114](https://github.com/amihaiemil/docker-java-api/issues/114) is now out of scope

[2018-05-20 18:37] 0crat commented on #108
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-20 18:37] 0crat commented on #109
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 08:36] 0crat commented on #68
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 15:36] 0crat commented on #117
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-23 08:12] #68 closed

[2018-05-23 08:28] 0crat commented on #68
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-23 08:28] 0crat commented on #68
The job [#68](https://github.com/amihaiemil/docker-java-api/issues/68) is now out of scope

[2018-05-23 08:33] #84 closed

[2018-05-23 08:48] 0crat commented on #84
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-23 08:48] 0crat commented on #84
The job [#84](https://github.com/amihaiemil/docker-java-api/issues/84) is now out of scope

[2018-05-23 14:29] llorllale commented on #100
@amihaiemil and is `ca.pem` the server's public key? I'm confused because "ca" sounds like "certificate authority", which would definitely not be docker.

[2018-05-23 14:31] llorllale commented on #103
@amihaiemil this one should've been closed when #112 was merged

[2018-05-23 14:47] amihaiemil commented on #100
@llorllale yes, I think it is the server's public key as well.

``ca.pem`` - server public key (the server's public key issues by the CA, right? I think that's why the name is ``ca.pem``
``cert.pem`` - client certificate
``key.pem`` - client key

[2018-05-23 14:53] amihaiemil commented on #103
@llorllale I see. There were some issues with ``0pdd`` these days, I opened an Issue about it this morning.

[2018-05-23 14:53] #103 closed

[2018-05-23 15:10] 0crat commented on #103
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-23 15:10] 0crat commented on #103
The job [#103](https://github.com/amihaiemil/docker-java-api/issues/103) is now out of scope

[2018-05-23 15:31] llorllale commented on #108
@0crat waiting for merge of #111

[2018-05-23 15:31] 0crat commented on #108
@llorllale The impediment for [#108](https://github.com/amihaiemil/docker-java-api/issues/108) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-23 19:03] llorllale commented on #109
@0crat waiting for review/merge on #119

[2018-05-23 19:04] 0crat commented on #109
@llorllale The impediment for [#109](https://github.com/amihaiemil/docker-java-api/issues/109) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-24 13:45] llorllale commented on #105
@amihaiemil puzzle wasn't closed

[2018-05-24 13:45] #105 closed

[2018-05-24 14:25] llorllale commented on #100
@0crat waiting for review/merge on #120

[2018-05-24 14:26] 0crat commented on #100
@llorllale Job [#100](https://github.com/amihaiemil/docker-java-api/issues/100) is already on hold

[2018-05-24 16:39] #117 closed

[2018-05-24 16:39] 0crat commented on #117
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: amihaiemil/docker-java-api#117, Action: `closed`

[2018-05-24 16:54] 0crat commented on #117
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-24 16:54] 0crat commented on #117
The job [#117](https://github.com/amihaiemil/docker-java-api/issues/117) is now out of scope

[2018-05-25 05:51] amihaiemil commented on #100
@0crat boost 6x

[2018-05-25 05:52] 0crat commented on #100
@amihaiemil Boost 6x was set for [#100](https://github.com/amihaiemil/docker-java-api/issues/100)

[2018-05-25 05:52] 0crat commented on #100
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-27 12:36] #99 closed

[2018-05-27 12:51] 0crat commented on #99
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1471237887](https://www.0crat.com/G6LPQQV2P/1471237887), Type: "Close job", Author: "amihaiemil"

[2018-05-27 12:51] 0crat commented on #99
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-27 12:51] 0crat commented on #99
The job [#99](https://github.com/amihaiemil/docker-java-api/issues/99) is now out of scope

[2018-05-28 19:53] llorllale commented on #51
@0crat refuse

[2018-05-28 19:54] llorllale commented on #85
@0crat refuse

[2018-05-28 19:54] 0crat commented on #51
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#51](https://github.com/amihaiemil/docker-java-api/issues/51), please stop working. Reason for job resignation: Order was cancelled

[2018-05-28 19:55] llorllale commented on #108
@amihaiemil can we close this? PR #111 was merged

[2018-05-28 19:55] 0crat commented on #85
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#85](https://github.com/amihaiemil/docker-java-api/issues/85), please stop working. Reason for job resignation: Order was cancelled

[2018-05-28 19:56] 0crat commented on #51
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-28 19:57] 0crat commented on #85
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-28 20:35] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-05-28 21:11] amihaiemil commented on #108
@llorllale As far as I can tell, PR #111 has nothing to do with this task :D

[2018-05-28 21:17] #109 closed

[2018-05-28 21:19] llorllale commented on #108
@amihaiemil oops, my bad

[2018-05-28 21:35] 0crat commented on #109
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-28 21:35] 0crat commented on #109
The job [#109](https://github.com/amihaiemil/docker-java-api/issues/109) is now out of scope

[2018-05-29 11:10] #100 closed

[2018-05-29 17:12] amihaiemil opened #123 "Images.create should return the created Image"
Instead, it currently returns ``this`` Images instance. It should return the created Image -- even though the API does not return anything, we have its name already (the API requires its ``id/name``) so we can build it.

[2018-05-29 19:45] amihaiemil opened #125 "V0.0.1"
Let's release the very first version.

For now, we can work with the local Docker Daemon (``LocalDocker``) and we have parts of the Images and Containers API.

It is still pretty procedural, since the user has to get an ``Image`` instance and then use its name to create a ``Container`` via ``Containers API``... however, in future versions we'll have fluent methods such as ``Container:: Image.run()

[2018-05-29 19:51] amihaiemil commented on #125
@rultor try to release, tag is `0.0.1`

[2018-05-29 19:57] rultor commented on #125
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14687-392920779)

[2018-05-29 19:59] rultor commented on #125
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14687-392920779) (spent 3min)

[code]

[2018-05-29 20:01] amihaiemil commented on #125
@rultor try to release again, tag is `0.0.1`

[2018-05-29 20:04] rultor commented on #125
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14687-392924241)

[2018-05-29 20:08] rultor commented on #125
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14687-392924241) (spent 3min)

[code]

[2018-05-29 20:16] amihaiemil commented on #125
@rultor try to release yet again, tag is `0.0.1`

[2018-05-29 20:17] rultor commented on #125
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14687-392928986)

[2018-05-29 20:22] rultor commented on #125
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/14687-392928986) (took me 5min)

[2018-05-29 20:27] amihaiemil commented on #125
@llorllale FYI, v 0.0.1 is out :)

[2018-05-29 22:08] 0crat commented on #123
The job is not in WBS, won't close the order

[2018-05-30 01:16] 0crat commented on #123
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: amihaiemil/docker-java-api#123, Action: `labeled`

[2018-05-30 07:18] 0crat commented on #123
The job [#123](https://github.com/amihaiemil/docker-java-api/issues/123) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1500719246); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-05-30 07:19] 0crat commented on #123
Job `gh:amihaiemil/docker-java-api#123` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-05-30 07:19] 0crat commented on #123
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-30 07:19] 0crat commented on #123
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-30 07:19] 0crat commented on #123
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-30 07:43] 0crat commented on #125
The job is not in WBS, won't close the order

[2018-05-30 14:53] llorllale commented on #108
@0crat waiting on PR #126 for solving this

[2018-05-31 08:27] amihaiemil commented on #108
@0crat boost x5

[2018-05-31 08:28] 0crat commented on #108
@amihaiemil Argument "x5" doesn't match regex `\d+x`

[2018-05-31 08:28] amihaiemil commented on #108
@0crat boost 5x

[2018-05-31 08:29] 0crat commented on #108
@amihaiemil Boost 5x was set for [#108](https://github.com/amihaiemil/docker-java-api/issues/108)

[2018-05-31 08:29] 0crat commented on #108
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-31 09:38] amihaiemil opened #127 "Image.run(...)"
Image should have the ``run`` option, and return the created Container. This will be the equivalent of the ``docker run IMAGE`` command.

[2018-05-31 09:39] 0crat commented on #127
Job [#127](https://github.com/amihaiemil/docker-java-api/issues/127) is now in scope, role is `DEV`

[2018-05-31 09:39] 0crat commented on #127
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-01 07:51] #108 closed

[2018-06-01 07:59] amihaiemil opened #128 "Implement container's Logs"
Logs will represent the logs of a container and will have the possibility to either fetch all the logs as a String of follow them in real time.

[2018-06-01 07:59] 0crat commented on #128
The job [#128](https://github.com/amihaiemil/docker-java-api/issues/128) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1520760269); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-01 08:00] 0crat commented on #128
Job `gh:amihaiemil/docker-java-api#128` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-06-01 08:00] 0crat commented on #128
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-01 08:00] 0crat commented on #128
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-01 08:06] 0crat commented on #108
Order was finished: +75 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-01 08:07] 0crat commented on #108
The job [#108](https://github.com/amihaiemil/docker-java-api/issues/108) is now out of scope

[2018-06-02 21:36] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-06-04 10:36] 0crat commented on #123
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-04 10:37] #123 closed

[2018-06-04 10:53] 0crat commented on #123
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-04 10:53] 0crat commented on #123
The job [#123](https://github.com/amihaiemil/docker-java-api/issues/123) is now out of scope

[2018-06-05 10:38] 0crat commented on #127
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-06 04:43] #128 closed

[2018-06-06 05:00] 0crat commented on #128
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-06 05:00] 0crat commented on #128
The job [#128](https://github.com/amihaiemil/docker-java-api/issues/128) is now out of scope

[2018-06-06 05:54] amihaiemil opened #130 "Continue implementing Logs"
0pdd should have created an Issue for this. Remove the ``todo`` when done.

[2018-06-06 05:59] 0crat commented on #130
The job [#130](https://github.com/amihaiemil/docker-java-api/issues/130) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1570597575); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-06 06:01] 0crat commented on #130
Job `gh:amihaiemil/docker-java-api#130` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-06-06 06:01] 0crat commented on #130
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-06 06:01] 0crat commented on #130
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-06 06:01] 0crat commented on #130
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-06 12:41] llorllale opened #131 "Logs.follow() should return a Reader"
Logs are streams of characters, therefore a `Reader` would be the more accurate abstraction to return from `Logs.follow()`.

[2018-06-06 12:41] 0crat commented on #131
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-06-06 12:53] amihaiemil commented on #131
@llorllale you're right, thanks :D

[2018-06-06 12:54] 0crat commented on #131
Job [#131](https://github.com/amihaiemil/docker-java-api/issues/131) is now in scope, role is `DEV`

[2018-06-06 12:55] 0crat commented on #131
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-06 14:31] llorllale commented on #127
@0crat wait while I try to understand something...

[2018-06-06 14:31] 0crat commented on #127
@llorllale The impediment for [#127](https://github.com/amihaiemil/docker-java-api/issues/127) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-06 14:33] llorllale commented on #127
@amihaiemil seems like the JSONs holding the image's metadata don't have a dedicated "name" field. The closest thing I see that we could use is `RepoTags`, but it's an array. Eg.:

[code]
Is the first half of those values always the same?

[2018-06-07 08:27] 0crat commented on #131
The job [#131](https://github.com/amihaiemil/docker-java-api/issues/131) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1580832246); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-07 08:29] 0crat commented on #131
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-07 14:55] #131 closed

[2018-06-07 15:11] 0crat commented on #131
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-07 15:11] 0crat commented on #131
The job [#131](https://github.com/amihaiemil/docker-java-api/issues/131) is now out of scope

[2018-06-07 22:36] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-06-08 07:30] amihaiemil opened #133 "Specify config Json in the created Container"
When creating the container, [here](https://github.com/amihaiemil/docker-java-api/blob/2965aee5849c793c936c439364934e84b6a9ff58/src/main/java/com/amihaiemil/docker/RtContainers.java#L120), we should pass it a JsonObject containing both the ``container`` parameter (the JsonObject used to create it) and the response JsonObject (which contains only the Id and Warnings).

This is because later we may

[2018-06-08 07:30] amihaiemil commented on #133
@llorllale Do you want to do this?

[2018-06-08 07:31] 0crat commented on #133
Job [#133](https://github.com/amihaiemil/docker-java-api/issues/133) is now in scope, role is `DEV`

[2018-06-08 07:31] 0crat commented on #133
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-08 07:32] 0crat commented on #133
The job [#133](https://github.com/amihaiemil/docker-java-api/issues/133) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1590771389); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-06-08 08:01] amihaiemil commented on #127
@llorllale Yes, I also noticed that, but we add the ``Name`` ourselves, when pulling the image, see [here](https://github.com/amihaiemil/docker-java-api/blob/30319f5e9d345f8c757ae003c88c38e6fc4955ae/src/main/java/com/amihaiemil/docker/RtImages.java#L82)

Also, the name of the image is in its URI, as the last segment (but better take it from the Json).

Is this what you asked? :D

[2018-06-11 06:35] 0crat commented on #130
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-11 07:59] amihaiemil commented on #130
@0crat waiting for release

[2018-06-11 07:59] 0crat commented on #130
@amihaiemil The impediment for [#130](https://github.com/amihaiemil/docker-java-api/issues/130) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-12 12:09] #130 closed

[2018-06-12 12:16] amihaiemil opened #135 "Implement logs.fetch()"
Continue with logs.fetch(). Again, 0pdd is down, modify the puzzle in the code after finishing.

[2018-06-12 12:22] 0crat commented on #135
The job [#135](https://github.com/amihaiemil/docker-java-api/issues/135) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1631261695); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-12 12:22] 0crat commented on #135
Job `gh:amihaiemil/docker-java-api#135` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-06-12 12:31] 0crat commented on #130
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-12 12:32] 0crat commented on #130
The job [#130](https://github.com/amihaiemil/docker-java-api/issues/130) is now out of scope

[2018-06-12 13:38] llorllale commented on #127
@amihaiemil

Well, yes, but there's no guarantee that it'll be constant.

I just tested:

[code]
[code]
[code]

And resulting inspection for `alpine` reveals:

[code]

[2018-06-12 13:40] amihaiemil commented on #127
@llorllale I see, but you don't really need that, do you? Since the name is in the Json (we append it manually when pulling the image) and URI anyay. Or you mean something else?

[2018-06-12 13:41] #135 closed

[2018-06-12 13:56] 0crat commented on #135
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-12 13:56] 0crat commented on #135
The job [#135](https://github.com/amihaiemil/docker-java-api/issues/135) is now out of scope

[2018-06-12 14:30] llorllale commented on #133
@0crat waiting on review/merge for PR #137

[2018-06-12 14:30] 0crat commented on #133
@llorllale The impediment for [#133](https://github.com/amihaiemil/docker-java-api/issues/133) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-12 14:33] llorllale commented on #127
@amihaiemil as far as I can see, there is no `docker run <image>` equivalent in the [docker api](https://docs.docker.com/engine/api/v1.35/#tag/Image). So I figured this new `Image.run()` that you're asking for would be a shortcut for `Containers.create(image); Container.start();`. Or am I wrong?

[2018-06-12 14:39] amihaiemil commented on #127
@llorllale Yes, exactly, and since RtImage has the name of the Image, it can somehow instantiate RtContainers and create and start a container using its name.

And Image will get the Containers instance from the encapsulated Docker instance -- I also want to implement this: any object of the API should have a method to return its parent Docker instance. So Image.run would look something like this

[2018-06-12 14:48] llorllale commented on #127
@amihaiemil

Sure.

Now back to my original question.

As I've shown, `RepoTags` is not really reliable, so I believe the better alternative is to take it from the URI. Do you agree?

[2018-06-12 14:50] #133 closed

[2018-06-12 15:12] 0crat commented on #133
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-12 15:12] 0crat commented on #133
The job [#133](https://github.com/amihaiemil/docker-java-api/issues/133) is now out of scope

[2018-06-12 17:44] amihaiemil commented on #127
@llorllale Yes, I think the URI is the safest, go with that.

[2018-06-13 02:37] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-06-13 07:47] amihaiemil commented on #87
@llorllale I am looking now over the [Response](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/mock/Response.java) class. I see you implemented it from scratch (and now, in the ``asString()`` method we have to pretty print the HTTP response ourselves .

But, can't Response work with a backbone of [BasicHttpResponse](https://hc.apache.org/httpcomponent

[2018-06-13 10:54] amihaiemil opened #138 "Combined extends JsonResource"
Let's add this and use it where we need to combine the user's input JsonObject with the API's output JsonOBject (e.g. when creating a Container, or a Swarm etc)

[2018-06-13 10:58] 0crat commented on #138
The job [#138](https://github.com/amihaiemil/docker-java-api/issues/138) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1641059022); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-13 10:58] 0crat commented on #138
Job `gh:amihaiemil/docker-java-api#138` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-06-13 11:00] 0crat commented on #138
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-13 11:00] 0crat commented on #138
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-13 11:00] 0crat commented on #138
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-14 12:59] llorllale commented on #87
@amihaiemil maybe. See if it is printed correctly, particularly that it uses CRLF for end-of-lines.

[2018-06-14 14:44] 0crat commented on #138
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) (its creator); I won't close the order; please, re-open it and ask @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) to close it

[2018-06-14 14:49] #138 closed

[2018-06-14 15:05] 0crat commented on #138
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.3](https://github.com/zerocracy/farm): CID: [1651462949](https://www.0crat.com/G6LPQQV2P/1651462949), Type: "Close job", Author: "amihaiemil"

[2018-06-14 15:05] 0crat commented on #138
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-14 15:05] 0crat commented on #138
The job [#138](https://github.com/amihaiemil/docker-java-api/issues/138) is now out of scope

[2018-06-14 15:07] 0crat commented on #51
The job [#51](https://github.com/amihaiemil/docker-java-api/issues/51) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1651520591); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-06-18 04:37] 0crat commented on #85
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#85](https://github.com/amihaiemil/docker-java-api/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2018-06-18 07:11] amihaiemil commented on #51
@0crat waiting

[2018-06-18 07:11] 0crat commented on #51
@amihaiemil The impediment for [#51](https://github.com/amihaiemil/docker-java-api/issues/51) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-19 18:58] llorllale commented on #127
@0crat waiting for review/merge of PR #140

[2018-06-19 19:01] 0crat commented on #127
@llorllale Job [#127](https://github.com/amihaiemil/docker-java-api/issues/127) is already on hold

[2018-06-20 07:34] amihaiemil commented on #127
@0crat boost x6

[2018-06-20 07:35] 0crat commented on #127
@amihaiemil Argument "x6" doesn't match regex `\d+x`

[2018-06-20 07:40] amihaiemil commented on #127
@0crat boost 6x

[2018-06-20 07:41] 0crat commented on #127
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.6](https://github.com/zerocracy/farm): Issue: amihaiemil/docker-java-api#127, Comment: 398654937

[2018-06-20 07:50] amihaiemil commented on #127
@0crat boost 6x

[2018-06-20 07:51] 0crat commented on #127
@amihaiemil Boost 6x was set for [#127](https://github.com/amihaiemil/docker-java-api/issues/127)

[2018-06-20 07:52] 0crat commented on #127
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-21 07:34] #127 closed

[2018-06-21 08:49] 0crat commented on #127
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.22](https://github.com/zerocracy/farm): CID: [1720734113](https://www.0crat.com/G6LPQQV2P/1720734113), Type: "Close job", Author: "amihaiemil"

[2018-06-21 10:50] #87 closed

[2018-06-21 11:00] amihaiemil opened #142 "Local dockerd over HTTPS"
In order to write integration tests for ``RemoteDocker``, we need to make the local docker daemon listen on  ``tcp`` and secure the connection. Resources [here](https://docs.docker.com/engine/reference/commandline/dockerd/#description) and [here](https://docs.docker.com/engine/security/https/).

``docker-machine`` may also be helpful in shortening the process, as it creates the certificates automa

[2018-06-21 12:06] 0crat commented on #142
The job [#142](https://github.com/amihaiemil/docker-java-api/issues/142) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1721201090); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-21 12:08] 0crat commented on #142
Job `gh:amihaiemil/docker-java-api#142` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-06-21 12:09] 0crat commented on #87
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-21 12:09] 0crat commented on #87
The job [#87](https://github.com/amihaiemil/docker-java-api/issues/87) is now out of scope

[2018-06-21 12:09] 0crat commented on #142
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-21 12:09] 0crat commented on #142
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-21 12:09] 0crat commented on #142
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-21 20:28] 0crat commented on #127
The job [#127](https://github.com/amihaiemil/docker-java-api/issues/127) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/1722003014); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-06-22 17:52] llorllale commented on #127
@amihaiemil can this be taken out of scope?

[2018-06-22 18:21] amihaiemil commented on #127
@0crat out

[2018-06-22 18:24] 0crat commented on #127
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)