[2020-02-04 12:56] 0crat commented on #314
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @guseyn[/z](https://www.0crat.com/u/guseyn)

[2020-02-04 13:12] amihaiemil commented on #314
@Guseyn fixed, see https://github.com/amihaiemil/docker-java-api/commit/c1d0c053fa89e178bf8ada716d0159e1145ce68b

Now, please close this ticket. You are the author, the PM will complain if I close it :)

[2020-02-04 13:15] #314 closed

[2020-02-04 13:46] 0crat commented on #314
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-04 14:05] 0crat commented on #314
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-10 09:50] amihaiemil commented on #51
@0crat refuse as I am working on other projects

[2020-02-10 09:50] amihaiemil commented on #95
@0crat refuse as I am working on other projects

[2020-02-10 09:57] 0crat commented on #95
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#95](https://github.com/amihaiemil/docker-java-api/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2020-02-10 10:01] 0crat commented on #51
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#51](https://github.com/amihaiemil/docker-java-api/issues/51), please stop working. Reason for job resignation: Order was cancelled

[2020-02-10 10:03] 0crat commented on #95
Tasks refusal is discouraged (job refused in 15564 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-10 10:08] 0crat commented on #51
Tasks refusal is discouraged (job refused in 14538 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-10 10:23] 0crat commented on #51
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#51](https://github.com/amihaiemil/docker-java-api/issues/51); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2020-02-15 10:58] 0crat commented on #51
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` is banned at [#51](https://github.com/amihaiemil/docker-java-api/issues/51); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from t

[2020-02-16 00:01] 0crat commented on #312
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-16 03:51] 0crat commented on #313
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-16 08:58] amihaiemil commented on #259
@0crat refuse please give it to someone else

[2020-02-16 09:12] 0crat commented on #259
@amihaiemil Job `gh:amihaiemil/docker-java-api#259` is not assigned, can't get performer

[2020-02-16 09:41] 0crat commented on #168
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-20 12:35] amihaiemil opened #317 "Release 0.0.11"
Let's release it, it contains new functionalities:

* https://github.com/amihaiemil/docker-java-api/pull/316
* https://github.com/amihaiemil/docker-java-api/pull/315
* #322

[2020-02-20 12:35] amihaiemil commented on #317
@rultor try to release it, tag is `0.0.11`

[2020-02-20 12:37] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-588999618)

[2020-02-20 12:39] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-588999618) (spent 2min)

[code]

[2020-02-21 08:11] 0crat commented on #95
The job [#95](https://github.com/amihaiemil/docker-java-api/issues/95) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/abb90e55-89f7-40c0-8d39-2573cc0ecc5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-02-21 10:18] amihaiemil commented on #317
@milux Do you happen to have experience with Docker? We need a Docker image with Ubuntu, Java8, Maven 3.6+ and git, for Rultor. The current image that Rultor is using is broken and its owner doesn't seem to want to help me.

I keep trying to build one, inheritting from all sorts of Images, but I can't seem to manage...

[2020-02-21 10:33] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-21 10:34] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-589596361)

[2020-02-21 10:37] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-589596361) (spent 2min)

[code]

[2020-02-26 08:53] 0crat commented on #95
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-26 09:30] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-26 09:32] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591328377)

[2020-02-26 09:35] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591328377) (spent 2min)

[code]

[2020-02-26 09:36] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-26 09:39] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591330865)

[2020-02-26 09:42] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591330865) (spent 2min)

[code]

[2020-02-26 09:46] amihaiemil commented on #317
@rultor release it, tag is `0.0.11`

[2020-02-26 09:47] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591335123)

[2020-02-26 09:50] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591335123) (spent 2min)

[code]

[2020-02-26 09:58] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-26 09:59] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591340821)

[2020-02-26 10:02] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591340821) (spent 2min)

[code]

[2020-02-26 10:05] amihaiemil opened #318 "401 Unauthorized when trying to Deploy to Nexus"
Let's try to fix this

[2020-02-26 10:31] amihaiemil commented on #318
first, update and reencrypt the settings.xml with the new pwd

[2020-02-26 18:03] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-26 18:07] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591561802)

[2020-02-26 18:09] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591561802) (spent 2min)

[code]

[2020-02-26 18:12] amihaiemil opened #320 "Jacoco acts funny, let's disable for now"
We can disable it from Rultor temporarily, it Coverage will be calculated by Travis anyway.

[2020-02-26 18:14] amihaiemil commented on #320
disabled from pom.xml

We should put it in a Maven Profile so we run it arbitrarily.

[2020-02-26 18:15] amihaiemil commented on #317
@rultor try to release it, tag is `0.0.11`

[2020-02-26 18:16] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591566771)

[2020-02-26 18:19] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591566771) (spent 2min)

[code]

[2020-02-27 09:50] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-27 09:51] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591880223)

[2020-02-27 09:54] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591880223) (spent 2min)

[code]

[2020-02-27 09:57] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-27 09:59] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591883588)

[2020-02-27 10:02] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591883588) (spent 2min)

[code]

[2020-02-27 10:13] amihaiemil commented on #317
@rultor release it, tag is `0.0.11`

[2020-02-27 10:14] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591890156)

[2020-02-27 10:17] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591890156) (spent 2min)

[code]

[2020-02-27 10:20] amihaiemil commented on #317
@rultor release it, tag is `0.0.11`

[2020-02-27 10:22] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591893385)

[2020-02-27 10:23] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591893385) (spent 17s)

[code]

[2020-02-27 10:25] amihaiemil commented on #317
@rultor release, tag is `0.0.11`

[2020-02-27 10:27] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591895373)

[2020-02-27 10:29] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591895373) (spent 2min)

[code]

[2020-02-27 10:35] amihaiemil commented on #317
@rultor release, tag is `0.0.11`

[2020-02-27 10:36] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591899378)

[2020-02-27 10:39] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591899378) (spent 2min)

[code]

[2020-02-27 10:57] amihaiemil commented on #317
@rultor release, tag is `0.0.11`

[2020-02-27 10:58] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-591909718)

[2020-02-27 11:01] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-591909718) (spent 2min)

[code]

[2020-02-28 08:23] amihaiemil commented on #317
@rultor release, tag is `0.0.11`

[2020-02-28 08:25] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-592403972)

[2020-02-28 08:27] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-592403972) (spent 2min)

[code]

[2020-02-28 08:35] amihaiemil commented on #317
@rultor try to release, tag is `0.0.11`

[2020-02-28 08:37] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-592408295)

[2020-02-28 08:39] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-592408295) (spent 2min)

[code]

[2020-02-28 14:53] 0crat commented on #51
The job [#51](https://github.com/amihaiemil/docker-java-api/issues/51) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/0a8a4184-67bd-4fc7-b10b-c620afec50c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-02-28 15:08] 0crat commented on #299
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) not enough funds available in the project, can't set budget of job [#299](https://github.com/amihaiemil/docker-java-api/issues/299), see [§21](http://www.zerocracy.com/policy.html#21); @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-02 12:10] amihaiemil commented on #317
@rultor release it, tag is `0.0.11`

[2020-03-02 12:11] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-593371888)

[2020-03-02 12:16] rultor commented on #317
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21401-593371888) (spent 4min)

[code]

[2020-03-02 14:05] amihaiemil opened #322 "Update GPG signing plugin"
As explained [here](https://github.com/g4s8/dockers/issues/1#issuecomment-593416142)

[2020-03-02 14:09] amihaiemil commented on #317
@rultor release, tag is `0.0.11`

[2020-03-02 14:11] rultor commented on #317
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21401-593419850)

[2020-03-02 14:16] rultor commented on #317
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21401-593419850) (took me 4min)

[2020-03-02 14:28] amihaiemil commented on #317
@milux fucking finally! Version `0.0.11`, with your features, is released...

[2020-03-02 14:28] #317 closed

[2020-03-02 15:04] 0crat commented on #317
This job is not in scope

[2020-03-02 15:05] 0crat commented on #317
Job `gh:amihaiemil/docker-java-api#317` is not assigned, can't get performer

[2020-03-02 19:24] amihaiemil commented on #318
fixed

[2020-03-02 19:24] #318 closed

[2020-03-02 19:24] amihaiemil commented on #322
fixed

[2020-03-02 19:24] #322 closed

[2020-03-02 19:52] 0crat commented on #318
Job `gh:amihaiemil/docker-java-api#318` is not assigned, can't get performer

[2020-03-02 20:01] 0crat commented on #322
Job `gh:amihaiemil/docker-java-api#322` is not assigned, can't get performer

[2020-03-02 20:18] 0crat commented on #318
This job is not in scope

[2020-03-02 20:20] 0crat commented on #322
This job is not in scope

[2020-03-03 09:13] amihaiemil commented on #310
N/A

[2020-03-03 09:13] #310 closed

[2020-03-03 09:20] amihaiemil opened #323 "Rename LocalDocker and RemoteDocker"
These classes should be renamed as they are a bit confusing especially for Windows users.

LocalDocker is actually meant for communication over a UNIX Socket (the "local docker", but actually only in UNIX Environments)

RemoteDocker is meant for communication over HTTP (normal TCP/IP). This class can be used both on Unix and Windows. Futhermore, this class should actually always be used on Windows

[2020-03-03 09:34] 0crat commented on #310
This job is not in scope

[2020-03-03 09:35] 0crat commented on #310
Job `gh:amihaiemil/docker-java-api#310` is not assigned, can't get performer

[2020-03-03 13:45] amihaiemil opened #324 "Separate Interfaces from Classes"
All the classes should be in their own package, for Access Control reasons. However, we can separate the interfaces from the classes. Let's try to do this without breaking backwards compatibility.

We can leave the interfaces in the current package and create an ``impl`` package for the classes.

[2020-03-04 08:18] 0crat commented on #95
Job `gh:amihaiemil/docker-java-api#95` is not assigned, can't get performer

[2020-03-04 08:18] 0crat commented on #95
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#95](https://github.com/amihaiemil/docker-java-api/issues/95), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-04 08:28] 0crat commented on #95
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-03-04 08:40] 0crat commented on #95
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-03-04 08:49] 0crat commented on #313
The job [#313](https://github.com/amihaiemil/docker-java-api/issues/313) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/201c278b-3105-4e2c-b2ef-e31934ce0ce8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2020-03-08 12:36] amihaiemil opened #326 "Add the Glassfish JSON-P Impl to the fat jar"
At the moment the fat jar does not contain the needed JSON-P implementation. It should contain it since most developers using far jars are not using maven so they probably won't have a clue how to add JSON-P.

[2020-03-10 08:07] 0crat commented on #51
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#51](https://github.com/amihaiemil/docker-java-api/issues/51), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-10 10:55] 0crat commented on #299
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#299](https://github.com/amihaiemil/docker-java-api/issues/299), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-10 14:04] 0crat commented on #313
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-12 14:48] 0crat commented on #312
The job [#312](https://github.com/amihaiemil/docker-java-api/issues/312) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/G6LPQQV2P/8170813e-08c2-4edf-84f5-7ee7ad36e3e3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2020-03-13 08:35] #312 closed

[2020-03-13 10:29] 0crat commented on #312
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-13 11:31] 0crat commented on #312
The project doesn't have enough funds, can't make a payment

[2020-03-17 16:02] tuxji commented on #302
I just found the same problem, and I know what the problem is.  When you call [GET /containers/{id}/logs](https://docs.docker.com/engine/api/v1.40/#operation/ContainerLogs) to get stdout and stderr logs from a container, the logs are returned using a binary stream format in the response body.  The stream format is described in the documentation for the [attach endpoint](https://docs.docker.com/eng

[2020-03-17 17:22] amihaiemil commented on #302
@tuxji I would prefer to trim the String response. But will ``String.trim()`` do the job? I don't think so. Maybe we need to write a custom Stream to handle this case.

Do you happen to have an integration test for this case? I've never seen this behaviour and that endpoint has both unit and integration tests in the library.

[2020-03-18 13:37] tuxji commented on #302
Does your endpoint integration test get logs from a container on a real Docker server?  I saw this behavior when using Docker on Windows configured to expose a TCP port (2375) without TLS so that API clients could talk to it:

[code]

My Java client program used RemoteDocker with http://localhost:2375 to start a container, wait for it to finish, and get the container's logs.  However, you don't ne

[2020-03-18 13:50] amihaiemil commented on #302
@tuxji Yes, the integration tests calls a real Docker. However, it's on unix: https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/RtLogsITCase.java#L53

The test is simplistic however, only asserts the "startWith" case with the Docker "hello world" image.

I'll have a look on it and write a more complex test case. Maybe we should also set up a CI build on

[2020-03-18 14:52] tuxji commented on #302
Oh, I see that your test code calls logs.trim() before comparing it with "Hello from Docker!"  I thought String.trim() removes only whitespace characters, but I found out I'm wrong; it has a loop which trims any characters less than or equal to a space character,
[code]
That's why your test passed; the logs.trim() call indeed removed all the binary characters preceding the "Hello from Docker!" alt

[2020-03-20 13:30] amihaiemil commented on #323
fixed in #328

[2020-03-20 13:30] #323 closed

[2020-03-20 13:55] irinil commented on #324
Should be this mentioned in the JavaDocs too?

[2020-03-20 15:23] 0crat commented on #323
Job `gh:amihaiemil/docker-java-api#323` is not assigned, can't get performer

[2020-03-21 17:59] amihaiemil commented on #324
@irinil If you want to continue contributing, I would start with other tickets, until you learn the library's architecture. For instance, the ticket about continuing with the Swarm API.

See how other API endpoints are implemented :)

[2020-03-30 13:45] paulodamaso commented on #313
@0crat refuse

[2020-03-30 13:57] 0crat commented on #313
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#313](https://github.com/amihaiemil/docker-java-api/issues/313), please stop working. Reason for job resignation: Order was cancelled

[2020-04-16 15:57] edanilenko commented on #168
The main problem is the exec command is a part of container, and the start command is a part of common docker api.

You should send POST request to /containers/{containerId}/exec for creating exec instance, then send POST to /exec/{execId}/start for starting.

So u should pass to RtContainer command and env arguments, then pass the execution id to RtDocker instance to invoke start, inspect, resize

[2020-04-16 16:21] amihaiemil commented on #168
@edanilenko It's not that complicated, don't worry. I'll implement the ``Execs.getExec(...)`` and ``RtExec``, then it will be clear :D

[2020-04-16 18:27] amihaiemil commented on #168
@edanilenko See how ``RtExec`` is implemented. It still needs two more methods: ``start`` and ``resize``. Is it clearer now?

You can create an ``Exec`` via the ``Exec :: container.exec(...)`` method. This method will make the HTTP Call to create the exec and then will return ``this.docker.execs().get(ID)``.

Makes sense?

[2020-04-17 12:38] amihaiemil opened #335 "Release 0.0.12"
Changelog for the ``0.0.12`` release:

* Implemented method Container.wait(...)
* Renamed ``LocalDocker`` to ``UnixDocker`` and ``RemoteDocker`` to ``TcpDocker`` (just a change for better names). The old ``Local*`` and ``Remote*`` classes are now deprecated and will be removed in a future version.
* Started implementing the ``Exec`` API.
* fix for #302

[2020-04-17 13:56] amihaiemil commented on #335
@rultor release it, tag is `0.0.12`

[2020-04-17 14:00] rultor commented on #335
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21805-615258780)

[2020-04-17 14:07] rultor commented on #335
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/21805-615258780) (took me 5min)

[2020-04-17 14:14] #335 closed

[2020-04-17 14:14] amihaiemil commented on #335
@ry99 FYI, ``Container.wait()`` has just been released

[2020-04-17 14:15] amihaiemil commented on #302
@tuxji We just released a new version (``0.0.12``), with a fix for this problem, I believe. Can you check?

0.0.12 also contains the ``Container.wait()`` method :D

[2020-04-17 14:31] 0crat commented on #335
Job `gh:amihaiemil/docker-java-api#335` is not assigned, can't get performer

[2020-04-17 21:45] tuxji commented on #302
Yes, the new 0.0.12 version fixes the problem really well and the new Container.wait() method is wonderful too!  Thank you!

[2020-04-17 21:46] amihaiemil commented on #302
@tuxji Glad it worked. Credits go to @lumimul :)

[2020-04-17 21:46] #302 closed

[2020-04-17 22:52] 0crat commented on #302
Job `gh:amihaiemil/docker-java-api#302` is not assigned, can't get performer

[2020-04-18 18:46] amihaiemil commented on #299
* TODO: return a Stream of Event, rather than raw JsonObject

* TODO Add more integration tests.

[2020-04-18 18:55] amihaiemil opened #339 "Release 0.0.13"
Changelog for the ``0.0.13`` release:

* #299 - Docker.events()
* #344 - Docker.info() method
* #348 - Get Container method

[2020-04-19 11:22] amihaiemil opened #341 "Module for Registry API"
We should add a Maven module for the Registry API. What we currently have is the Engine API and should also have its own module.

[2020-04-19 12:48] amihaiemil opened #343 "Add Logging"
We should add internal logging via SLF4J, especially for the methods which are quite blackbox, like ``Container.start()`` and others.

[2020-04-20 08:03] amihaiemil opened #344 "Implement Docker.info() endpoint"
This method will return the ``Info`` we got from calling the ``GET /info`` endpoint.

[2020-04-20 11:06] #299 closed

[2020-04-20 17:04] #344 closed

[2020-04-20 17:06] #187 closed

[2020-04-20 17:23] 0crat commented on #344
Job `gh:amihaiemil/docker-java-api#344` is not assigned, can't get performer

[2020-04-20 17:49] amihaiemil opened #346 "Add Json Suppliers"
All the methods which take a ``JsonObject`` as input (like ``Containers.create(...)`` should be overloaded to also accept a ``Supplier<JsonObject>``, so the user can build the required json on the spot.

[2020-04-22 14:57] lumimul commented on #168
some problem with implementation of start method
how it will work if we need interactive mode?

[2020-04-22 18:22] amihaiemil commented on #168
@lumimul That's a good question... I'll look over it and try to think of something.
If you have any ideas, I'm open for suggestions :D

[2020-08-04 10:25] jackpan123 opened #348 "Add get method in Containers Interface"
In some general cases, we need to obtain a single container.

[2020-08-07 07:19] #348 closed

[2020-08-07 07:50] 0crat commented on #348
Job `gh:amihaiemil/docker-java-api#348` is not assigned, can't get performer

[2020-08-07 15:28] amihaiemil commented on #339
@rultor release it, tag is `0.0.13`

[2020-08-07 15:29] rultor commented on #339
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22852-670573715)

[2020-08-07 15:33] rultor commented on #339
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22852-670573715) (took me 4min)

[2020-08-07 15:40] amihaiemil commented on #339
@jackpan123 your changes are now released with version 0.0.13

[2020-08-07 15:41] #339 closed

[2020-08-07 15:59] 0crat commented on #339
Job `gh:amihaiemil/docker-java-api#339` is not assigned, can't get performer

[2020-09-07 15:34] amihaiemil opened #351 "Test Self Issue"
Test body of the issue...

[2020-09-07 15:34] #351 closed

[2020-09-07 15:38] amihaiemil opened #352 "test with label"
body here...

[2020-09-07 15:39] #352 closed

[2020-09-07 15:57] 0crat commented on #351
Job `gh:amihaiemil/docker-java-api#351` is not assigned, can't get performer

[2020-09-07 15:57] amihaiemil opened #353 "test with no label 333"
body here...

[2020-09-07 15:58] 0crat commented on #352
Job `gh:amihaiemil/docker-java-api#352` is not assigned, can't get performer

[2020-09-07 15:58] #353 closed

[2020-09-07 17:57] amihaiemil opened #354 "issue close test"
body...

[2020-09-07 17:57] #354 closed

[2020-09-07 17:58] amihaiemil opened #355 "issue close test"
body...

[2020-09-07 17:58] #355 closed

[2020-09-07 18:03] amihaiemil opened #356 "Issue reopen test"
body...

[2020-09-07 18:04] #356 closed

[2020-09-07 18:15] 0crat commented on #354
Job `gh:amihaiemil/docker-java-api#354` is not assigned, can't get performer

[2020-09-07 18:16] 0crat commented on #355
Job `gh:amihaiemil/docker-java-api#355` is not assigned, can't get performer

[2020-09-07 18:21] 0crat commented on #356
Job `gh:amihaiemil/docker-java-api#356` is not assigned, can't get performer

[2020-09-26 07:54] #1 closed

[2020-09-26 08:11] 0crat commented on #1
Job `gh:amihaiemil/docker-java-api#1` is not assigned, can't get performer

[2020-09-27 16:34] amihaiemil opened #357 "First Issue For Zoe"
Zoe should automatically register this Issue as a Task and find an assignee.

[2020-09-27 17:17] amihaiemil opened #358 "Second Issue for Zoe"
Second one for test.

[2020-09-27 18:21] 0crat commented on #358
Job `gh:amihaiemil/docker-java-api#358` is not assigned, can't get performer

[2020-09-29 11:12] #358 closed

[2020-09-29 11:13] charlesmike commented on #358
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-09T14:13:16.828241``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partiallyand leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-09-29 11:13] 0crat commented on #358
You @charlesmike[/z](https://www.0crat.com/u/charlesmike) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-29 11:14] amihaiemil opened #359 "Find more contributors here"
Let's try to find more contributors

[2020-09-29 11:14] charlesmike commented on #359
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-09-29 11:23] charlesmike commented on #359
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-09T14:23:13.109253``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partiallyand leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-09-29 11:28] amihaiemil commented on #359
@criske
![image](https://user-images.githubusercontent.com/6305156/94552738-05a8da00-0260-11eb-8006-4a191c379320.png)

[2020-09-29 11:29] 0crat commented on #358
Job `gh:amihaiemil/docker-java-api#358` is not assigned, can't get performer

[2020-09-29 11:35] #359 closed

[2020-09-29 11:36] criske commented on #359
@amihaiemil 👍  :D

[2020-09-29 12:06] 0crat commented on #359
Job `gh:amihaiemil/docker-java-api#359` is not assigned, can't get performer

[2020-09-29 18:19] #357 closed

[2020-09-29 18:54] 0crat commented on #357
Job `gh:amihaiemil/docker-java-api#357` is not assigned, can't get performer

[2020-10-02 15:53] zoeself commented on #123
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can alwayscheck all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-02 15:53] zoeself commented on #125
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can alwayscheck all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-02 15:53] zoeself commented on #130
@andronachev thank you for resolving this ticket. I've just added it to your active invoice. You can alwayscheck all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-02 16:27] charlesmike commented on #357
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-02 16:27] charlesmike commented on #358
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-02 16:27] charlesmike commented on #359
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-02 16:32] amihaiemil commented on #357
@charlesmike hello

[2020-10-02 17:21] charlesmike commented on #357
Hi @amihaiemil! I'm the Project Manager of this project. I take care of Issues' assignments, payments and more.Want me to work for your project too? Go [here](https://self-xdsd.com).

I work primarily at Github, but I'll also start working at GitLab and BitBucket soon.

[2020-10-02 17:23] amihaiemil commented on #357
@charlesmike status

[2020-10-02 17:23] charlesmike commented on #357
@amihaiemil this ticket is not registered as a task, therefore I'm not working on itat the moment.

If you want me to take care of it, assign it to me or say "register".

[2020-10-02 17:24] amihaiemil commented on #357
@charlesmike status

[2020-10-02 17:25] amihaiemil commented on #357
@charlesmike status

[2020-10-02 17:25] charlesmike commented on #357
@amihaiemil this ticket is not registered as a task, therefore I'm not working on itat the moment.

If you want me to take care of it, assign it to me or say "register".

[2020-10-14 17:29] zoeself opened #361 "UnixHttpClientITCase.java: This should be un-ignored and refactored after #41 is done. The unix socket server needs to be spooled up, and the url changed accordingly."
The TODO ``44-50450105`` from #44 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/UnixHttpClientITCase.java#L49-L51](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/UnixHttpClientITCase.java#L49-L51).

It was created by @llorllale on 2018-03-15T21:26:05Z. Estimation is ``30 minutes``.
If you have any technical ques

[2020-10-14 17:29] charlesmike commented on #361
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] zoeself opened #362 "RtImagesITCase.java: Add integration tests for filters."
The TODO ``153-ba83999e`` from #153 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L42-L42](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L42-L42).

It was created by @llorllale on 2018-10-10T01:41:22Z. Estimation is ``30 minutes``.
If you have any technical questions, don

[2020-10-14 17:30] zoeself opened #363 "RtImagesITCase.java: To have multiple controlled images for filtering and not the ubuntu image dependency for this test will be nice to have the build Images implemented as described here: https://docs.docker.com/engine/api/v1.37/#operation/ImageBuild."
The TODO ``187-99b12eee`` from #187 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L69-L72](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L69-L72).

It was created by Marco Teixeira on 2019-08-17T00:17:16Z. Estimation is ``30 minutes``.
If you have any technical questions,

[2020-10-14 17:30] charlesmike commented on #362
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] zoeself opened #364 "RtLogsITCase.java: Fix the IT case for follow(), it is currently failing. We might have to implement the stream decoding (in case TTY is disabled when the Container is created), as explained here, in "Stream format" paragraph: https://docs.docker.com/engine/api/v1.37/#operation/ContainerAttach"
The TODO ``256-2502f853`` from #256 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/RtLogsITCase.java#L40-L44](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/RtLogsITCase.java#L40-L44).

It was created by @amihaiemil on 2019-01-03T20:27:58Z. Estimation is ``30 minutes``.
If you have any technical questions, don't

[2020-10-14 17:30] charlesmike commented on #363
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] charlesmike commented on #364
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] zoeself opened #365 "PayloadOf.java: Add tests for PayloadOf."
The TODO ``108-8ad4a268`` from #108 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/PayloadOf.java#L41-L41](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/PayloadOf.java#L41-L41).

It was created by @llorllale on 2018-05-30T14:52:20Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me,

[2020-10-14 17:30] charlesmike commented on #365
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] zoeself opened #366 "JsonResource.java: Continue making other Json resources from the API (e.g. Image), extend this class, so we can avoid the N+1 query problem. Through this mechanism, each resource holds the JsonObject that was returned by the API at the moment of its creation. If the client would like to make sure that the resource's JsonObject is updated, they should call the inspect() method."
The TODO ``114-bb7b9082`` from #114 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/JsonResource.java#L45-L50](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/JsonResource.java#L45-L50).

It was created by @amihaiemil on 2018-05-17T10:28:38Z. Estimation is ``30 minutes``.
If you have any technical questions, don't

[2020-10-14 17:30] zoeself opened #367 "Swarm.java: Continue implementing the rest of the Swarm operations. See https://docs.docker.com/engine/api/v1.35/#tag/Swarm for reference and also the roadmap laid out here: https://github.com/amihaiemil/docker-java-api/issues/3#issuecomment-375821822"
The TODO ``77-48853626`` from #77 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/Swarm.java#L40-L43](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/Swarm.java#L40-L43).

It was created by @amihaiemil on 2018-04-25T18:36:35Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't

[2020-10-14 17:30] charlesmike commented on #366
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] zoeself opened #368 "RtContainer.java: Continue implementing the rest of the Container operations (pause, unpause, logs etc) See the Docker API Docs for reference: https://docs.docker.com/engine/api/v1.35/#tag/Container"
The TODO ``97-657d9f49`` from #97 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/RtContainer.java#L43-L45](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/RtContainer.java#L43-L45).

It was created by @amihaiemil on 2018-05-10T13:26:00Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask

[2020-10-14 17:30] charlesmike commented on #367
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] zoeself opened #369 "Images.java: Add Fake implementations of Images and Image, in order to unit test method save() and other future methods which may require more than 1 HTTP request. Currently, the unit testing infrastructure does not support more than 1 HTTP request.."
The TODO ``152-6918ce7a`` from #152 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/Images.java#L39-L42](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/Images.java#L39-L42).

It was created by @amihaiemil on 2018-08-26T08:24:51Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I wo

[2020-10-14 17:30] charlesmike commented on #368
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] zoeself opened #370 "RtLogs.java: Continue implementing this class, take into consideration the query parameters as described here: https://docs.docker.com/engine/api/v1.35/#operation/ContainerLogs Since the class should be immutable, the parameters should come in the ctor and appended to the requests when they are performed. Let's leave this part for v0.0.3 or later, it's not urgent now."
The TODO ``135-7b38f89f`` from #135 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/RtLogs.java#L43-L48](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/RtLogs.java#L43-L48).

It was created by @amihaiemil on 2018-06-12T12:54:04Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I wo

[2020-10-14 17:30] charlesmike commented on #369
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:30] charlesmike commented on #370
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:33] #361 closed

[2020-10-14 17:33] #362 closed

[2020-10-14 17:33] #363 closed

[2020-10-14 17:33] #364 closed

[2020-10-14 17:33] #365 closed

[2020-10-14 17:33] #366 closed

[2020-10-14 17:33] #367 closed

[2020-10-14 17:33] #368 closed

[2020-10-14 17:33] #369 closed

[2020-10-14 17:33] #370 closed

[2020-10-14 17:34] zoeself opened #371 "UnixHttpClientITCase.java: This should be un-ignored and"
The TODO ``44-50450105`` from #44 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/UnixHttpClientITCase.java#L49-L51](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/UnixHttpClientITCase.java#L49-L51).

It was created by @llorllale on 2018-03-15T21:26:05Z. Estimation is ``30 minutes``.
If you have any technical ques

[2020-10-14 17:34] charlesmike commented on #371
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] zoeself opened #372 "RtImagesITCase.java: Add integration tests for fil"
The TODO ``153-ba83999e`` from #153 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L42-L42](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L42-L42).

It was created by @llorllale on 2018-10-10T01:41:22Z. Estimation is ``30 minutes``.
If you have any technical questions, don

[2020-10-14 17:34] zoeself opened #373 "RtImagesITCase.java: To have multiple controlled i"
The TODO ``187-99b12eee`` from #187 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L69-L72](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/RtImagesITCase.java#L69-L72).

It was created by Marco Teixeira on 2019-08-17T00:17:16Z. Estimation is ``30 minutes``.
If you have any technical questions,

[2020-10-14 17:34] charlesmike commented on #372
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] zoeself opened #374 "RtLogsITCase.java: Fix the IT case for follow(),"
The TODO ``256-2502f853`` from #256 has to be resolved:

[code]

It is is located at [src/test/java/com/amihaiemil/docker/RtLogsITCase.java#L40-L44](https://github.com/amihaiemil/docker-java-api/blob/master/src/test/java/com/amihaiemil/docker/RtLogsITCase.java#L40-L44).

It was created by @amihaiemil on 2019-01-03T20:27:58Z. Estimation is ``30 minutes``.
If you have any technical questions, don't

[2020-10-14 17:34] charlesmike commented on #373
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] charlesmike commented on #374
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] zoeself opened #375 "PayloadOf.java: Add tests for PayloadOf."
The TODO ``108-8ad4a268`` from #108 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/PayloadOf.java#L41-L41](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/PayloadOf.java#L41-L41).

It was created by @llorllale on 2018-05-30T14:52:20Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me,

[2020-10-14 17:34] charlesmike commented on #375
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] zoeself opened #376 "JsonResource.java: Continue making other Json re"
The TODO ``114-bb7b9082`` from #114 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/JsonResource.java#L45-L50](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/JsonResource.java#L45-L50).

It was created by @amihaiemil on 2018-05-17T10:28:38Z. Estimation is ``30 minutes``.
If you have any technical questions, don't

[2020-10-14 17:34] charlesmike commented on #376
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] zoeself opened #377 "Swarm.java: Continue implementing the res"
The TODO ``77-48853626`` from #77 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/Swarm.java#L40-L43](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/Swarm.java#L40-L43).

It was created by @amihaiemil on 2018-04-25T18:36:35Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't

[2020-10-14 17:34] zoeself opened #378 "RtContainer.java: Continue implementing the res"
The TODO ``97-657d9f49`` from #97 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/RtContainer.java#L43-L45](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/RtContainer.java#L43-L45).

It was created by @amihaiemil on 2018-05-10T13:26:00Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask

[2020-10-14 17:34] charlesmike commented on #377
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] charlesmike commented on #378
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] zoeself opened #379 "Images.java: Add Fake implementations of I"
The TODO ``152-6918ce7a`` from #152 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/Images.java#L39-L42](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/Images.java#L39-L42).

It was created by @amihaiemil on 2018-08-26T08:24:51Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I wo

[2020-10-14 17:34] zoeself opened #380 "RtLogs.java: Continue implementing this cl"
The TODO ``135-7b38f89f`` from #135 has to be resolved:

[code]

It is is located at [src/main/java/com/amihaiemil/docker/RtLogs.java#L43-L48](https://github.com/amihaiemil/docker-java-api/blob/master/src/main/java/com/amihaiemil/docker/RtLogs.java#L43-L48).

It was created by @amihaiemil on 2018-06-12T12:54:04Z. Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I wo

[2020-10-14 17:34] charlesmike commented on #379
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:34] charlesmike commented on #380
@zoeself thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-14 17:35] #371 closed

[2020-10-14 17:35] #372 closed

[2020-10-14 17:35] #373 closed

[2020-10-14 17:35] #374 closed

[2020-10-14 17:35] #375 closed

[2020-10-14 17:35] #376 closed

[2020-10-14 17:35] #377 closed

[2020-10-14 17:35] #378 closed

[2020-10-14 17:35] #379 closed

[2020-10-14 17:36] amihaiemil commented on #380
@charlesmike deregister

[2020-10-14 17:36] charlesmike commented on #380
@amihaiemil task successfully removed.

[2020-10-14 17:59] 0crat commented on #369
Job `gh:amihaiemil/docker-java-api#369` is not assigned, can't get performer

[2020-10-14 18:01] 0crat commented on #377
Job `gh:amihaiemil/docker-java-api#377` is not assigned, can't get performer

[2020-10-14 18:01] 0crat commented on #367
Job `gh:amihaiemil/docker-java-api#367` is not assigned, can't get performer

[2020-10-14 18:01] 0crat commented on #380
Job `gh:amihaiemil/docker-java-api#380` is not assigned, can't get performer

[2020-10-14 18:03] 0crat commented on #366
Job `gh:amihaiemil/docker-java-api#366` is not assigned, can't get performer

[2020-10-14 18:04] 0crat commented on #376
Job `gh:amihaiemil/docker-java-api#376` is not assigned, can't get performer

[2020-10-14 18:04] 0crat commented on #378
Job `gh:amihaiemil/docker-java-api#378` is not assigned, can't get performer

[2020-10-14 18:04] 0crat commented on #375
Job `gh:amihaiemil/docker-java-api#375` is not assigned, can't get performer

[2020-10-14 18:06] 0crat commented on #368
Job `gh:amihaiemil/docker-java-api#368` is not assigned, can't get performer

[2020-10-14 18:06] 0crat commented on #370
Job `gh:amihaiemil/docker-java-api#370` is not assigned, can't get performer

[2020-10-14 18:07] 0crat commented on #362
Job `gh:amihaiemil/docker-java-api#362` is not assigned, can't get performer

[2020-10-14 18:08] 0crat commented on #372
Job `gh:amihaiemil/docker-java-api#372` is not assigned, can't get performer

[2020-10-14 18:09] 0crat commented on #371
Job `gh:amihaiemil/docker-java-api#371` is not assigned, can't get performer

[2020-10-14 18:09] 0crat commented on #374
Job `gh:amihaiemil/docker-java-api#374` is not assigned, can't get performer

[2020-10-14 18:10] 0crat commented on #361
Job `gh:amihaiemil/docker-java-api#361` is not assigned, can't get performer

[2020-10-14 18:10] 0crat commented on #379
Job `gh:amihaiemil/docker-java-api#379` is not assigned, can't get performer

[2020-10-14 18:11] 0crat commented on #365
Job `gh:amihaiemil/docker-java-api#365` is not assigned, can't get performer

[2020-10-14 18:11] 0crat commented on #373
Job `gh:amihaiemil/docker-java-api#373` is not assigned, can't get performer

[2020-10-14 18:11] 0crat commented on #364
Job `gh:amihaiemil/docker-java-api#364` is not assigned, can't get performer

[2020-10-14 18:12] 0crat commented on #363
Job `gh:amihaiemil/docker-java-api#363` is not assigned, can't get performer

[2020-10-19 16:01] charlesmike commented on #380
@zoeself thanks for reopening this, I'll find someone to take a look at it.
However, please keep in mind that reopening tickets is a bad practice. Next time, please open a new ticket.

[2020-10-19 16:02] #380 closed

[2020-10-19 16:20] 0crat commented on #380
Job [#380](https://github.com/amihaiemil/docker-java-api/issues/380) is not in the agenda of @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), can't set title

[2020-10-19 16:21] 0crat commented on #380
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-10-29 09:46] amihaiemil opened #382 "test self pm"

[2020-10-29 09:46] charlesmike commented on #382
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-29 09:55] charlesmike commented on #382
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-08T11:55:16.247011``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm n

[2020-10-29 09:56] amihaiemil commented on #382
@charlesmike resign

[2020-10-29 09:56] charlesmike commented on #382
@amihaiemil ok, I'll find someone else to take care of it.

[2020-10-29 09:56] amihaiemil commented on #382
@charlesmike deregister

[2020-10-29 09:57] charlesmike commented on #382
@amihaiemil task successfully removed.

[2020-10-29 10:22] #382 closed, assigned to amihaiemil

[2020-10-29 18:03] 0crat commented on #382
You @charlesmike[/z](https://www.0crat.com/u/charlesmike) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-12-31 10:30] zoeself commented on #123
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-31 10:30] zoeself commented on #125
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-18 07:10] charlesmike opened #383 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2022-06-02 19:41] bastien-snk opened #385 "Container not starting using"
Hey, i have a problem with starting containers, sometimes it displays me this error, here is an example of the JSON that is sent to Docker Engine API to create the container. The creation is always successful, but startup isn't. But it doesn't happen only for this container. Char 80 corresponds to a random char in the JSON. It tells me each times char 80.

[code]

[code]
Exception in thread "main"

[2022-06-02 19:43] amihaiemil commented on #385
@rootxls I will look into this, but keep in mind that this library is still a prototype.

You can do a lot of stuff with it, but there is also a lot of functionality which is not yet implemented.

Before using it in Production, or anything serious, please have a look into it, see if it has everything that you need.

[2022-06-02 19:43] amihaiemil commented on #385
@rootxls I will look into this, but keep in mind that this library is still a prototype.

You can do a lot of stuff with it, but there is also a lot of functionality which is not yet implemented.

Before using it in Production, or anything serious, please have a look into it, see if it has everything that you need.

[2022-06-02 19:52] bastien-snk commented on #385
@amihaiemil I know, don't worry the lib has everything I need! I looked the src. And for unimplemented features I can always use the queries by hand. I prefer that to using other java libs that are not documented at all and not clear about the methods.

[2022-06-04 09:08] amihaiemil commented on #385
@rootxls to be honest, I'm not sure what the problem might be. First of all, make sure you're using the right instance of Docker (see [here](https://github.com/amihaiemil/docker-java-api/wiki/Entry-point:-Docker-interface)). I guess you're using the right class, otherwise it wouldn't work at all.

Have you tried debugging? We also publish the sources of this lib, so you should have them in your ID